<template name="ForgotPassword">
<div class="tab-content">
    <div>
        <h1>Reset your password</h1>
        <p>Enter your email address below and we'll send you a link to reset your password.</p>
        <form name="ForgotPasswordForm" method="post" action="">
            <div>
                <input ng-class="{'invalidinput': ForgotPasswordForm.Email.$invalid && validateemail}" type="email" name="Email" class="col-md-12" placeholder="Email" required ng-maxlength="25" ng-blur="validateemail=true" ng-focus="validateemail=false" ng-model="Email" />
                <div>
                    <span ng-show="validateemail && ForgotPasswordForm.Email.$error.required">Required</span>
                    <span ng-show="ForgotPasswordForm.Email.$error.email && validateemail">Not a valid email</span>
                </div>
            </div>
            <button ng-disabled="ForgotPasswordForm.$invalid" type="submit">Login</button>
        </form>
    </div>
</div>

</template>
