<template name="OrderHistory">
    <div class="OrderHistorySection">
        {{#if OrderHistoryInformation}} {{#transition in="fadeIn:150" out="fadeOut:150"}}{{#each OrderHistoryInformation}}
        <div class="OrderHistoryBox">
            <div class="OrderHistoryBanner">
                <div>
                    <div>Id : {{OrderId}}</div>
                </div>
                <div>
                    <div>Order Placed : {{OrderPlacedDateFormat Date=OrderPlacedDate}}</div>
                    <div></div>
                </div>
                <div>
                    <div>Total : <img src="https://s3.amazonaws.com/spargainitemimages/Logos/TokenManyFront.svg" /> {{Total}}</div>
                </div>

                <div>
                    <div>Status : {{ShippingStatus}}</div>
                </div>
            </div>
            <div class="OrderHistoryBoxItemsAndInformation">
                <div class="OrderHistoryBoxItems">

                    {{#each Orders}}
                    <div class="OrderHistoryBoxItem">
                        <div class="BoxItemImage">
                            <img src="{{Item.Main_Image}}" />
                        </div>
                        <div class="OrderHistoryBoxItemText">
                            <div class="Name">
                                {{Item.Name}}
                            </div>
                            <div class='Price'>
                                <div class="Title">
                                    Price :
                                </div>
                                <div class="Value">
                                    {{Item.SellingPrice}}
                                </div>
                            </div>
                            <div class="Quantity">
                                <div class="Title">
                                    Quantity :
                                </div>
                                <div class="Value">
                                    {{Quantity}}
                                </div>
                            </div>
                        </div>
                        {{#unless WonFromCompetition}}
                        {{#if Cancelable}}
                        <div>
                          <button class="CancelItemButton"><i class="fa fa-ban" aria-hidden="true"></i> Cancel Item</button>
                        </div>
                        {{/if}}
                        {{/unless}}
                        {{#each HasPendingReplacement}}
                        <div class="HasPendingReplacement">
                            <div class="HasPendingReplacementText">
                                Processing the replacement of {{ReplacementItemQuantity}} of this item.
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{/each}}
                </div>
                <div class="OrderHistoryBoxInformation">
                    <div class="OrderHistoryBoxInformationButtons">
                        {{#if Cancelable}}
                        <button class="TrackOrderButton" disabled><i class="fa fa-truck" aria-hidden="true"></i> Track Package</button>
                        <button class="ReplaceItemButton" disabled><i class="fa fa-retweet" aria-hidden="true"></i> Replace Items</button>
                        {{else}} {{#if HasBeenCompleted}}
                        <button class="TrackOrderButton"><i class="fa fa-truck" aria-hidden="true"></i> Track Package</button>
                        <button class="ReplaceItemButton"><i class="fa fa-retweet" aria-hidden="true"></i> Replace Items</button>
                        {{else}} {{#if TrackingUrl}}
                        <a href="{{TrackingUrl}}" target="_blank">
                            <button class="TrackOrderButton"><i class="fa fa-truck" aria-hidden="true"></i> Track Package</button>
                        </a>
                        <button class="ReplaceItemButton" disabled><i class="fa fa-retweet" aria-hidden="true"></i> Replace Items</button>
                        {{else}}
                        <button class="TrackOrderButton" disabled><i class="fa fa-truck" aria-hidden="true"></i> Track Package</button>
                        <button class="ReplaceItemButton" disabled><i class="fa fa-retweet" aria-hidden="true"></i> Replace Items</button>
                        {{/if}} {{/if}} {{/if}}




                    </div>
                    <div class="OrderHistoryBoxInformationShippingInformation">
                        <h3><u>Shipping Information:</u></h3>
                        <div>{{ShippingInformation.FirstName}} {{ShippingInformation.LastName}}</div>
                        <div>{{ShippingInformation.Address}}</div>
                        <div>{{ShippingInformation.City}}, {{ShippingInformation.State}} {{ShippingInformation.Zipcode}}</div>
                        <div>{{ShippingInformation.PhoneNumber}}</div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}{{/transition}} {{else}}
        <div class="NoOrdersSection">
            <div class="NoOrdersTitle">You have no previous or current orders.</div>
            <div class="NoOrdersImage">
                <i class="fa fa-archive" aria-hidden="true"></i>
            </div>
            <div class="NoOrdersLink">
                <a href="/">
                    <button>Shop Now</button>
                </a>
            </div>

        </div>
        {{/if}}
    </div>
    <div class="remodal ReplaceItemModal" data-remodal-id="ReplaceItemModal">
        <button data-remodal-action="close" class="remodal-close"></button>
        {{>ReplaceItemModalInitialScreen}}
    </div>
</template>
<template name="ReplaceItemModalInitialScreen">
    <div>
        <h1>Replace/Return Items</h1>
    </div>
    <div class="ReplacementReturnPolicySection">
        <h4>Return/Replacement Policy</h4>
        <div class="ContentSection">
            <div class="Left">
                <div class="LesserTitle">
                    Reasons items can be returned
                </div>

                <ul>
                    <li>
                        Product damaged but shipping box OK
                    </li>
                    <li>
                        Missing parts or accessories
                    </li>
                    <li>
                        Product and shipping box both damaged
                    </li>
                    <li>
                        Item defective or doesn’t work
                    </li>
                </ul>
            </div>

            <div class="Right">
                If an item(s) qualifies for any of the reasons to the left then we MUST be notified within seven days of receiving the item(s). After the reason selected is reviewed the customer will be emailed within two business days and the next steps needed to be
                taken will be enclosed. If we’re not notified within seven days of the customer receiving the item(s) then the item(s) will no longer qualify for a return. If the item(s) becomes defective out of our return policy (seven days) the manufacturer
                will need to be contacted on behalf of the customer. At this time, the item(s) being returned will qualify for an exchange with the same exact item(s) or a reimbursement in the form of tokens.
            </div>

        </div>

    </div>
    <div class="ReplaceOrderItemSection">

        {{#each ReplaceOrderInformation}}

        <div class="ReplaceOrderItem">
            <div class="ReplaceOrderItemImageName">
                <div>
                    <strong>{{Item.Name}}</strong>
                </div>
                <div>
                    <img src="{{Item.Main_Image}}" />
                </div>
                <div>
                    <strong>{{Item.SellingPrice}}</strong>
                </div>
            </div>
            {{#if ReplacementStatus}}
            <div class="SuccessOrderRightSection">
                {{#if ReplacementStatus.RefundOrReplace}}
                <div class="SuccessText">
                    <p class="SucessTextBody">
                        A refund request for {{ReplacementStatus.ItemQuantity}} of this item has been successfully placed. An email has been sent you regarding the next steps in the refund process.
                    </p>
                    <p>
                        Thank you,
                    </p>
                    <p>
                        Spargain
                    </p>
                </div>
                {{else}}
                <div>
                    <p class="SucessTextBody">
                        A replacement request for {{ReplacementStatus.ItemQuantity}} of this item has been successfully placed. An email has been sent you regarding the next steps in the replacement process.
                    </p>
                    <p>
                        Thank you,
                    </p>
                    <p>
                        Spargain
                    </p>
                </div>
                {{/if}}
            </div>
            {{else}}
            <div class="ReplaceOrderRightSection" id="Item{{Item._id}}">
                {{#autoForm id=this.Item._id schema="ReplacementRefundSchema" type="method" meteormethod="ReplaceItemRequest"}} {{> afFieldInput name="Price" value=this.Item.SellingPrice}} {{> afFieldInput name="OrderId" value=OrderId}} {{> afFieldInput name="ItemQuantity"
                value=this.Quantity}} {{> afFieldInput name="ItemId" value=this.Item._id}}
                <div class="Inputs">
                    <div class="Left">
                        <div class="Quantity">
                            <button class="DecreaseQuantity" type="button" {{IsDecreaseDisabled currentQuantity=Quantity}}><i class="fa fa-minus fa-2x"></i></button>
                            {{> afFieldInput class="QuantityValue" max=Quantity name='Quantity' value=Quantity readonly=true}}
                            <button class="IncreaseQuantity" type="button" disabled><i class="fa fa-plus fa-2x"></i></button>
                        </div>
                        <div class="SelectCategory{{#if afFieldIsInvalid name='Reason'}} error{{/if}}">
                            {{> afFieldInput name="Reason" firstOption="Select A Category"}}
                        </div>
                        <div class="{{#if afFieldIsInvalid name='RefundOrReplace'}}error {{/if}}RefundOrReplaceSection">
                            {{> afFieldInput name="RefundOrReplace"}}
                        </div>
                    </div>
                    <div class="Right">
                        <div class="CommentArea">
                            <label>COMMENTS (256 CHARACTERS)</label>
                            <div class="{{#if afFieldIsInvalid name='Comments'}} commenterror{{/if}}">
                                {{> afFieldInput name='Comments' rows=20}}
                            </div>

                        </div>
                    </div>
                </div>
                <div id="error">

                </div>



                <div class="ReplacementExchangeSection">
                    <button class="ReplaceItemsButton" id="ReplaceItemsButton">Submit Request</button>
                </div>
                {{/autoForm}}


            </div>
            {{/if}}
        </div>

        {{/each}}
    </div>
</template>
<template name="ReplaceItemModalSuccessScreen">your request has been placed</template>
