<template name="Profile">
    <div class="LeftInformation">

        <div class="LeftInformationProfileInformation">
            <div class="DefaultPaymentBanner">
                Profile Information
            </div>
            <div class="LeftInformationContent">

                <div class="LeftInformationContentLeft">
                    <div>
                        Date Joined : {{DateJoined Date=currentUser.createdAt}}
                    </div>
                    <div>
                        Name : {{currentUser.profile.FirstName}} {{currentUser.profile.LastName}}
                    </div>
                </div>
                <div class="LeftInformationContentRight">
                    {{> atForm state='changePwd'}}
                </div>
            </div>
        </div>

        <div class="LeftInformationCompetitonInformation">

            <div class="DefaultPaymentBanner">
                Competition Information
            </div>
            <div class="LeftInformationContent">
                <div class="CompetitionPerformanceInformation">
                    <div class="Wins">
                        Competition Wins : <strong>{{currentUser.CompetitionInformation.CompetitionWins}}</strong>
                    </div>
                    <div class="WinningsAmount">
                        Competition Winnings Amount : <img src="https://s3.amazonaws.com/spargainitemimages/Logos/TokenManyFront.svg" /><strong> {{currentUser.CompetitionInformation.CompetitionWinningsAmount}}</strong>
                    </div>
                </div>
                <div class="CompetitionSettings">
                    {{#if currentUser.CompetitionSettings.FastSlots}}
                    <div class="FastSlots Enabled">Quick Click</div>
                    {{else}}
                    <div class="FastSlots">Quick Click</div>
                    {{/if}}
                </div>
            </div>

        </div>
        <!--Payment Methods-->
    </div>

    <div class="RightInformation">
        <div>
            <div class="DefaultPaymentSection">
                <div class="DefaultPaymentBanner">
                    <div>Default Payment Method</div>
                    {{#if DefaultPaymentMethod}}
                    <a href="" class="AddNewPaymentMethodModalButton">Add New +</a> {{/if}}
                    <div class="remodal ProfileAddPaymentMethod" data-remodal-id="AddNewPaymentMethodModal">
                        <button data-remodal-action="close" class="remodal-close"></button>
                        {{>ProfileAddPaymentMethod}}
                    </div>
                </div>

                <div class="DefaultPaymentDropdown">
                    {{#if DefaultPaymentMethod}} {{#dropdownTrigger name="DefaultPaymentDropdown"}}
                    <div class="DefaultPaymentDropdownTrigger">
                        <div class="DefaultPaymentDropdownContent">
                            <div><strong>{{DefaultPaymentMethod.name}}</strong></div>
                            <div>
                                {{#if $eq DefaultPaymentMethod.brand "Visa"}}
                                <i class="fa fa-cc-visa"></i> ending in {{DefaultPaymentMethod.last4}} {{/if}} {{#if $eq DefaultPaymentMethod.brand "MasterCard"}}
                                <i class="fa fa-cc-mastercard"></i> ending in {{DefaultPaymentMethod.last4}} {{/if}} {{#if $eq DefaultPaymentMethod.brand "American Express"}}
                                <i class="fa fa-cc-amex"></i> ending in {{DefaultPaymentMethod.last4}} {{/if}} {{#if $eq DefaultPaymentMethod.brand "Discover"}}
                                <i class="fa fa-cc-discover"></i> ending in {{DefaultPaymentMethod.last4}} {{/if}}
                            </div>
                            <div>
                                {{DefaultPaymentMethod.exp_month}} / {{DefaultPaymentMethod.exp_year}}
                            </div>
                        </div>

                        {{#if AlternativePaymentMethods}}
                        <div class="arrow DefaultPaymentDropdownArrow">
                            <i class="fa fa-caret-down"></i>
                        </div>
                        {{else}} {{#with DefaultPaymentMethod}}
                        <div class="DefaultPaymentDropdownArrow">
                            <span class="Remove-PaymentMethod">&#x2716;</span>
                        </div>
                        {{/with}} {{/if}}
                    </div>
                    {{/dropdownTrigger}} {{#dropdown name="DefaultPaymentDropdown" animation="appear"}} {{#each AlternativePaymentMethods}}
                    <div class="PaymentDropdownBox" id="{{@index}}">
                        <div class="PaymentDropdownBoxCardInformation">
                            <div style="text-transform: capitalize;">
                                <strong>{{name}}</strong>
                            </div>
                            <div>
                                {{#if $eq brand "Visa"}}
                                <i class="fa fa-cc-visa"></i> ending in {{last4}} {{/if}} {{#if $eq brand "MasterCard"}}
                                <i class="fa fa-cc-mastercard"></i> ending in {{last4}} {{/if}} {{#if $eq brand "American Express"}}
                                <i class="fa fa-cc-amex"></i> ending in {{last4}} {{/if}} {{#if $eq brand "Discover"}}
                                <i class="fa fa-cc-discover"></i> ending in {{last4}} {{/if}}
                            </div>
                            <div>
                                {{exp_month}} / {{exp_year}}
                            </div>
                        </div>
                        <div class="PaymentDropdownBoxButtons">
                            <div>
                                <a href="" class="Remove-PaymentMethod" id="{{@index}}"><span>&#x2716;</span></a>
                            </div>
                            <div>
                                <a class="PaymentDropdownBoxSetDefaultLink" id="{{@index}}" href="">Set as Default</a>
                            </div>
                        </div>
                    </div>
                    {{/each}} {{/dropdown}} {{else}}
                    <div class="AddNewPaymentMethodButtonBig">Add Default Payment Method</div>
                    {{/if}}
                </div>

            </div>
            <div class="DefaultAddressSection">
                <div class="DefaultAddressBanner">
                    <div>Default Address</div>
                    {{#if $gt AddressesLength 0}}
                    <a href="" class="AddNewAddressButton">Add New +</a> {{/if}}
                    <div class="remodal" data-remodal-id="AddNewAddressModal">
                        <button data-remodal-action="close" class="remodal-close"></button>

                        <div class="AddShippingInformationPage">
                          <h2 align="center">Add Address</h2>
                          {{#autoForm schema="AddressSchema" id="ShippingInformationForm" type="method" meteormethod="AddShippingInformation"}}
                          <div class="FirstNameLastName">
                            <div class="form-group{{#if afFieldIsInvalid name='FirstName'}} has-error{{/if}}">
                                <div class="input-group">
                                    <label class="control-label">First Name</label>
                                    {{> afFieldInput name='FirstName' placeholder="schemaLabel"}}
                                </div>
                                {{#if afFieldIsInvalid name='FirstName'}}
                                    <span class="help-block">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                {{/if}}
                            </div>
                              <div class="form-group{{#if afFieldIsInvalid name='LastName'}} has-error{{/if}}">
                                  <div class="input-group">
                                      <label class="control-label">Last Name</label>
                                      {{> afFieldInput name='LastName' placeholder="schemaLabel"}}
                                  </div>
                                  {{#if afFieldIsInvalid name='LastName'}}
                                      <span class="help-block">
                                          <i class="fa fa-times" aria-hidden="true"></i>
                                      </span>
                                  {{/if}}
                              </div>
                          </div>
                          <div class="form-group{{#if afFieldIsInvalid name='Address'}} has-error{{/if}}">
                              <div class="input-group">
                                  <label class="control-label">Address</label>
                                  {{> afFieldInput name='Address' placeholder="schemaLabel"}}
                              </div>
                              {{#if afFieldIsInvalid name='Address'}}
                                  <span class="help-block">
                                      <i class="fa fa-times" aria-hidden="true"></i>
                                  </span>
                              {{/if}}
                          </div>
                          <div class="form-group{{#if afFieldIsInvalid name='ApartmentFloorUnit'}} has-error{{/if}}">
                              <div class="input-group">
                                  <label class="control-label">Apartment / Floor Unit (Optional)</label>
                                  {{> afFieldInput name='ApartmentFloorUnit' placeholder="schemaLabel"}}
                              </div>
                              {{#if afFieldIsInvalid name='ApartmentFloorUnit'}}
                                  <span class="help-block">
                                      <i class="fa fa-times" aria-hidden="true"></i>
                                  </span>
                              {{/if}}
                          </div>
                          <div class="CityStateZip">
                            <div class="form-group{{#if afFieldIsInvalid name='City'}} has-error{{/if}}">
                                <div class="input-group">
                                    <label class="control-label">City</label>
                                    {{> afFieldInput name='City' placeholder="schemaLabel"}}
                                </div>
                                {{#if afFieldIsInvalid name='City'}}
                                    <span class="help-block">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                {{/if}}
                            </div>
                              <div class="form-group{{#if afFieldIsInvalid name='State'}} has-error{{/if}}">
                                  <div class="input-group">
                                      <label class="control-label">State</label>
                                      {{> afFieldInput name='State' placeholder="schemaLabel"}}
                                  </div>
                                  {{#if afFieldIsInvalid name='State'}}
                                      <span class="help-block">
                                          <i class="fa fa-times" aria-hidden="true"></i>
                                      </span>
                                  {{/if}}
                              </div>
                              <div class="form-group{{#if afFieldIsInvalid name='Zipcode'}} has-error{{/if}}">
                                  <div class="input-group">
                                      <label class="control-label">Zipcode</label>
                                      {{> afFieldInput name='Zipcode' placeholder="schemaLabel"}}
                                  </div>
                                  {{#if afFieldIsInvalid name='Zipcode'}}
                                      <span class="help-block">
                                          <i class="fa fa-times" aria-hidden="true"></i>
                                      </span>
                                  {{/if}}
                              </div>
                          </div>

                          <div class="form-group{{#if afFieldIsInvalid name='PhoneNumber'}} has-error{{/if}}">
                              <div class="input-group">
                                  <label class="control-label">Phone Number</label>
                                  {{> afFieldInput name='PhoneNumber' placeholder="schemaLabel"}}
                              </div>
                              {{#if afFieldIsInvalid name='PhoneNumber'}}
                                  <span class="help-block">
                                      <i class="fa fa-times" aria-hidden="true"></i>
                                  </span>
                              {{/if}}
                          </div>
                          <!-- <div class="FirstNameLastName">
                              {{> afQuickField name='FirstName'}} {{> afQuickField name='LastName'}}
                          </div>
                          {{> afQuickField name='Address'}} {{> afQuickField name='ApartmentFloorUnit'}}
                          <div class="CityStateZip">
                              {{> afQuickField name='City'}} {{> afQuickField name='State'}} {{> afQuickField name='Zipcode'}}
                          </div>

                          {{> afQuickField name='PhoneNumber'}} -->
                          <div class="ButtonSection">
                              <button type="submit">Add Shipping Information</button>
                          </div>
                          {{/autoForm}}
                        </div>
                    </div>
                </div>

                <div class="DefaultAddressDropdown">
                    {{#each Addresses}} {{#if this.IsDefault}} {{#dropdownTrigger name="DefaultAddressDropdown"}}
                    <div class="DefaultAddressDropdownTrigger">
                        <div class="DefaultAddressDropdownContent">
                            <div><strong>{{this.FirstName}} {{this.LastName}}</strong></div>
                            <div>
                                {{this.Address}}
                            </div>
                            <div>
                                {{this.City}}, {{this.State}} {{this.Zipcode}}
                            </div>
                        </div>
                        {{#if $gt AddressesLength 1}}
                        <div class="arrow DefaultAddressDropdownArrow">
                            <i class="fa fa-caret-down"></i>
                        </div>
                        {{else}}
                        <div class="DefaultAddressDropdownArrow">
                            <span class="Remove-Address">&#x2716;</span>
                        </div>
                        {{/if}}
                    </div>
                    {{/dropdownTrigger}} {{/if}} {{else}}
                    <div class="AddNewAddressButtonBig">Add Default Address</div>
                    {{/each}} {{#dropdown name="DefaultAddressDropdown" animation="appear" classes="DropdownBoxes"}} {{#each Addresses}} {{#unless this.IsDefault}}
                    <div class="AddressDropdownBox" id="{{@index}}">
                        <div class="AddressDropdownBoxInformation">
                            <div>
                                <strong>{{this.FirstName}} {{this.LastName}}</strong>
                            </div>
                            <div>
                                {{this.Address}}
                            </div>
                            <div>
                                {{this.City}},{{this.State}} {{this.Zipcode}}
                            </div>
                        </div>
                        <div class="AddressDropdownBoxButtons">
                            <div>
                                <a href="" class="Remove-Address" id="{{@index}}"><span >&#x2716;</span></a>
                            </div>
                            <div>
                                <a class="AddressDropdownBoxSetDefaultLink" id="{{@index}}" href="">Set as Default</a>
                            </div>
                        </div>

                    </div>
                    {{/unless}} {{/each}} {{/dropdown}}


                </div>
            </div>
        </div>
    </div>
</template>

<template name="ProfileAddPaymentMethod">
    <h2 align="center">Add Payment Method</h2>
    <form id="AddPaymentMethodForm" class="AddPaymentMethodForm">
            <div class="NameOnCardSection">
                <label>Name On Card</label>
                <input class="cc-name" placeholder="Name on Card" />
            </div>

            <div class="CardNumberSection">
                <label>Card Number</label>
                <input class="cc-num" placeholder="Card Number" />
            </div>
            <div class="CVCExpirationSection">
                <div>
                    <label>CVC</label>
                    <input class="cc-cvc" placeholder="CVC" />
                </div>
                <div>
                    <label>Expiration Date</label>
                    <input class="cc-exp" placeholder="MM/YYYY" />
                </div>
                <div>
                    <label>Zipcode</label>
                    <input class="cc-zip" placeholder="Zipcode" onkeypress='return event.charCode >= 48 && event.charCode <= 57' type="number" maxlength="32"/>
                </div>
            </div>

        <div id="error">

        </div>
        <button type="submit" id="AddPaymentSubmitButton">Add Payment</button>
    </form>
</template>
