<head>
    <script src="//cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
</head>
<template name="Quests">

    <div class="QuestContainer">
        <div class="ReferralQuest">
            <div class="ReferralQuestIcon">
                <img src="https://s3.amazonaws.com/spargainitemimages/Logos/Referral.svg" />
            </div>
            <div class="ReferralQuestContent">
                <div class="QuestActiveSection">
                    <div class="InformationSection">
                        <div class="InstructionsSection">
                            <div class="Title">Instructions</div>
                            <div class="Content">
                                Share your personal referral link.
                            </div>

                        </div>

                        <div class="RewardsSection">
                            <div class="Title">Reward</div>
                            <div class="Content">
                                Every time someone you referred to Spargain purchases tokens you earn 0.3% of their total purchase, forever.
                            </div>
                        </div>

                    </div>
                    <div class="TurnInSection">
                        <div class="ReferralLinkSection">
                            <label>Referral Link</label>
                            <input id="ReferralLink" value="https://www.spargain.com/Register?Reg_Code={{Quests._id}}" readonly>
                            <button class="ReferralCopyButton" data-clipboard-target="#ReferralLink">
                                <span><i class="fa fa-link" aria-hidden="true"></i></span>
                                <span>Copy</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="TwitterQuest">
            {{#if Quests.Quests.TwitterQuest.Active}}
            <div class="TwitterQuestIcon">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
            {{else}}

            <div class="TwitterQuestIcon Inactive">
                <i class="fa fa-twitter Inactive" aria-hidden="true"></i>
            </div>
            {{/if}}
            <div class="TwitterQuestContent">
                {{#transition in="fadeIn:150" out="fadeOut:150"}} {{> Template.dynamic template=TwitterQuestTemplate}} {{/transition}}
            </div>
        </div>
        <div class="FacebookQuest">
            {{#if Quests.Quests.FacebookQuest.Active}} {{#if Quests.Quests.FacebookQuest.Submitted}}
            <div class="FacebookQuestIcon Inactive">
                <i class="fa fa-facebook Inactive" aria-hidden="true"></i>
            </div>
            {{else}}
            <div class="FacebookQuestIcon">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
            {{/if}} {{else}}
            <div class="FacebookQuestIcon Inactive">
                <i class="fa fa-facebook Inactive" aria-hidden="true"></i>
            </div>
            {{/if}}

            <div class="FacebookQuestContent">
                {{#transition in="fadeIn:150" out="fadeOut:150"}}{{> Template.dynamic template=FacebookQuestTemplate}}{{/transition}}
            </div>
        </div>

    </div>
</template>
<template name="TwitterQuestActive">
    <div class="QuestActiveSection">
        <div class="InformationSection">
            <div class="RequirementsSection">
                <div class="Title">
                    Requirements
                </div>
                <div class="Content">
                    <div>
                        Minimum 100 followers
                    </div>
                    <div>
                        Tweet privacy box unchecked
                    </div>
                </div>

            </div>

            <div class="InstructionsSection">
                <div class="Title">Instructions</div>
                <div class="Content">
                    <div>
                        Follow Spargain's page
                    </div>
                    <div>
                        Create a tweet and include #Spargain
                    </div>
                    <div>
                        Wait 10 minutes then turn the quest in
                    </div>
                </div>

            </div>

            <div class="RewardsSection">
                <div class="Title">Reward</div>
                <div class="Content">
                    1 Token per 100 followers! (10000 follower limit)
                </div>
            </div>



        </div>
        <div class="TurnInSection">
            <form id="TwitterQuestForm">
                <div class="TwitterHandleInputLabel">
                    <label>Twitter Username</label>
                    <input placeholder="Twitter Username" name="TwitterUsername" />
                </div>

                <button class="TwitterSubmitButton" id="TwitterSubmitButton"><i class="fa fa-exclamation" aria-hidden="true"></i> Turn In Quest</button>
                <div id="error">

                </div>
            </form>
        </div>
    </div>
</template>
<template name="TwitterQuestSuccess">
    <div class="TwitterQuestSuccessSection">
        <div class="TitleRewardSection">
            <div class="Title">
                Quest Complete!
            </div>
            <div class="Reward">
                {{TwitterTokenQuestRewardAmount}}
            </div>
        </div>

    </div>
</template>
<template name="TwitterQuestInactive">
    <div class="QuestInactiveSection">
        <div class="Title">
            This Quest Renews In :
        </div>
        <div class="Value">
            {{QuestRenewalDate Date=Quests.Quests.TwitterQuest.ActiveRenewalDate}}
        </div>

    </div>
</template>

<template name="FacebookQuestActive">
    <div class="QuestActiveSection">
        <div class="InformationSection">
            <div class="RequirementsSection">
                <div class="Title">
                    Requirements
                </div>
                <div class="Content">
                    <div>
                        Minimum of 100 friends
                    </div>
                    <div>
                        Friends list set to public
                    </div>
                    <div>
                        Future posts set to public
                    </div>
                </div>
            </div>
            <div class="InstructionsSection">
                <div class="Title">Instructions</div>
                <div class="Content">
                    <div>
                        Like Spargain’s page
                    </div>
                    <div>
                        Share our description in our ‘about section’ on your or a friends page
                    </div>
                </div>

            </div>

            <div class="RewardsSection">
                <div class="Title">Reward</div>
                <div class="Content">
                    1 Token per 100 friends! (10000 friend limit)
                </div>
            </div>



        </div>
        <div class="TurnInSection">
            <form id="FacebookQuestForm">
                <div class="FacebookHandleInputLabel">
                    <label>Facebook Username</label>
                    <input placeholder="Facebook Username" name="FacebookUsername" />
                </div>

                <button type="submit" class="FacebookSubmitButton" id="FacebookSubmitButton"><i class="fa fa-exclamation" aria-hidden="true"></i> Turn In Quest</button>
                <div id="error">

                </div>
            </form>
        </div>
    </div>
</template>
<template name="FacebookQuestSuccess">
    <div class="FacebookQuestSuccessSection">
        <div class="TitleRewardSection">
            <div class="Title">
                Quest Submitted!
            </div>
            <div class="Reward">
                You will be rewarded within 24 hours!
            </div>
        </div>

    </div>
</template>
<template name="FacebookQuestInactive">
    <div class="QuestInactiveSection">

        <div class="Right">
            <div class="Title">
                This Quest Renews In :
            </div>
            <div class="Value">
                {{QuestRenewalDate Date=Quests.Quests.FacebookQuest.ActiveRenewalDate}}
            </div>
            <div class="PreviousTokenReward">
                <div class="Title">
                    Previous Quest Reward :
                </div>
                <div class="Value">
                    {{Quests.Quests.FacebookQuest.PreviousTokenReward}}
                </div>

            </div>
        </div>


    </div>
</template>
