<template name="UserProfile">
    <div class="UserProfileContainer">
        <div class="UserProfileTabs">
            {{#if $eq Tab "Profile"}}
            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1" class="ProfileTab"><i class="fa fa-user"></i><span>Profile</span></label>

            <input id="tab2" type="radio" name="tabs">
            <label for="tab2" class="OrderHistoryTab"><i class="fa fa-archive"></i><span>Order History</span></label>

            <input id="tab3" type="radio" name="tabs">
            <label for="tab3" class="QuestsTab"><i class="fa fa-exclamation"></i><span>Quests</span></label>
            {{/if}} {{#if $eq Tab "OrderHistory"}}
            <input id="tab1" type="radio" name="tabs">
            <label for="tab1" class="ProfileTab"><i class="fa fa-user"></i><span>Profile</span></label>

            <input id="tab2" type="radio" name="tabs" checked>
            <label for="tab2" class="OrderHistoryTab"><i class="fa fa-archive"></i><span>Order History</span></label>

            <input id="tab3" type="radio" name="tabs">
            <label for="tab3" class="QuestsTab"><i class="fa fa-exclamation"></i><span>Quests</span></label>
            {{/if}} {{#if $eq Tab "Quests"}}
            <input id="tab1" type="radio" name="tabs">
            <label for="tab1" class="ProfileTab"><i class="fa fa-user"></i><span>Profile</span></label>

            <input id="tab2" type="radio" name="tabs">
            <label for="tab2" class="OrderHistoryTab"><i class="fa fa-archive"></i><span>Order History</span></label>

            <input id="tab3" type="radio" name="tabs" checked>
            <label for="tab3" class="QuestsTab"><i class="fa fa-exclamation"></i><span>Quests</span></label>
            {{/if}}





            <section id="content" class="userprofile-tab-content">
                <main>
                    {{>Template.dynamic template=userprofile}}
                </main>
            </section>
        </div>
        <br />

    </div>

</template>
