<head>
    <meta name="google-site-verification" content="3ZANRzYzT8NCMg5JpvlsBEBv9k4EGNTBrfI2UToubCs" />
    <link rel="icon" href="/Icon.png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<template name="Main">
    <script>
        document.title = "Grid Aisle";
    </script>



    <body class="wrapper">
        <header class="navigation">
            <div class="nav-container">

                <div class="brand">
                    <a href="">
                        <div class="Title">Grid Aisle</div>
                    </a>
                </div>

                <nav>
                    <div class="nav-list-left">
                        <div class="HowSiteWorks"><a href="/HowSiteWorks">How Site Works</a></div>
                        <!-- <div class="UsersOnline">
                            <div class="Text">
                                <div class="bubble">
                                </div>
                                <div>
                                    Users Online :
                                </div>
                            </div>

                            <div class="Value">
                                {{UsersOnline}}
                            </div>
                        </div> -->
                    </div>

                    <div class="nav-list">




                        {{#if isInRole 'Admin'}}
                        <div class="AdminInformation">
                            <div aria-label="Admin" class="Admin">
                                <a href="/Admin"><i class="fa fa-user fa-lg"></i></a>
                            </div>
                            {{#if currentUser}}
                            <div class="UserProfile">
                                <a href="javascript:void(0)">Hello, {{currentUser.profile.FirstName}}  <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <div class="nav-dropdown">
                                    <div><a href="/UserProfile/Profile">Profile</a></div>
                                    <div><a href="/UserProfile/OrderHistory">Order History</a></div>
                                    <div><a href="/UserProfile/Quests">Quests</a></div>
                                    <div class="LogoutButton"><a href="">Logout</a></div>
                                </div>
                            </div>

                            <div aria-label="Tokens" class="UserTokens">
                                <a href="/Tokens">
                                    <i class="fa fa-usd fa-lg"></i><span> {{currentUser.profile.Tokens}}</span>
                                </a>
                            </div>

                            <div aria-label="Cart" class="UserCart">
                                <a href="/Cart"><i class="fa fa-shopping-cart fa-lg"></i>
                                <span>{{CartAmount}}</span>
                                </a>
                            </div>
                            {{else}}
                            <div><a href="/Register">Register</a></div>
                            <div><a href="/Login">Login</a></div>
                            <div class="TokenHeader">
                                <a href="/Tokens"><img src="/TokenManyFront.svg" /></a>
                            </div>

                            <div aria-label="Register">

                                <a href="/Cart"><i class="fa fa-shopping-cart fa-lg"></i></a>
                            </div>

                            {{/if}}
                        </div>
                        {{else}}
                        <div class="UserInformation">
                            {{#if currentUser}}
                            <div class="UserProfile">
                                <a href="javascript:void(0)">Hello, {{currentUser.profile.FirstName}}  <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <div class="nav-dropdown">
                                    <div><a href="/UserProfile/Profile">Profile</a></div>
                                    <div><a href="/UserProfile/OrderHistory">Order History</a></div>
                                    <div><a href="/UserProfile/Quests">Quests</a></div>
                                    <div class="LogoutButton"><a href="">Logout</a></div>
                                </div>
                            </div>

                            <div class="UserTokens" aria-label="Tokens">
                                <a href="/Tokens">
                                    <img src="/TokenManyFront.svg" /><span> {{currentUser.profile.Tokens}}</span>
                                </a>
                            </div>


                            <div aria-label="Cart" class="UserCart">
                                <a href="/Cart"><i class="fa fa-shopping-cart"></i>
                                <span>{{CartAmount}}</span>
                                </a>
                            </div>
                            {{else}}
                            <div><a href="/Register">Register</a></div>
                            <div><a href="/Login">Login</a></div>
                            <div class="TokenHeader">
                                <a href="/Tokens"><img src="/TokenManyFront.svg" /></a>
                            </div>

                            <div class="CartHeader" aria-label="Cart">

                                <a href="/Cart"><i class="fa fa-shopping-cart fa-lg"></i></a>
                            </div>
                            {{/if}}
                        </div>
                        {{/if}}




                    </div>
                </nav>
            </div>
        </header>

        <main class="wrapper-body">

            <main class="content">
                <!-- {{#transition in="fadeIn:100" out="fadeOut:100"}} -->
                {{#if Template.subscriptionsReady}} {{>Template.dynamic template=content}} {{/if}}
                <!-- {{/transition}} -->

            </main>


        </main>
        {{#unless Competition}}
        <footer class="footer-2">
            <div class="footer-logo">
                <img src="/Logo-Font.png" />

            </div>
            <div class='ContactBlogCareer'>
                <div class="Content"><a href="/Contact">Contact</a></div>
                <div class="Content"><a href="/FAQ">FAQ</a></div>
                <div class="Content"><a href="/Blog">Blog</a></div>
                <div class="Content"><a href="/Careers">Careers</a></div>
            </div>
            <div class="footer-secondary-links">
                <div class="TermsPolicy">
                    <div><a href="/Terms">Terms and Conditions</a></div>
                    <div><a href="/Privacy">Privacy Policy</a></div>
                </div>
                <div class="Social">
                    <div>
                        <a href="https://facebook.com/spargain" target="_blank">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://twitter.com/spargain" target="_blank">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://instagram.com/spargain" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        {{/unless}}
    </body>
</template>
