<template name="Admin">
    <div class="AdminSection">

        <div class="AdminSidebar">
            <div class="AdminSideBarHeader">
                Notification
                <a class="AdminSideBarLink {{Active Id='ChangeNotification'}}" id="ChangeNotification">
                Change Notification
              </a>
            </div>
            <div class="AdminSideBarHeader">
                Users
                <a class="AdminSideBarLink {{Active Id='UserAccounts'}}" id="UserAccounts">
                  Accounts
                </a>
                <a class="AdminSideBarLink {{Active Id='UserTickets'}}" id="UserTickets">
                  Tickets
                </a>

            </div>
            <div class="AdminSideBarHeader">
                Item Competitions
                <a class="AdminSideBarLink {{Active Id='CreateItemCompetition'}}" id="CreateItemCompetition">
                    Create Item Competition
                </a>
                <a class="AdminSideBarLink {{Active Id='CreatedItemCompetitions'}}" id="CreatedItemCompetitions">
                    Created Item Competitions
                </a>
                <a class="AdminSideBarLink {{Active Id='CompletedItemCompetitions'}}" id="CompletedItemCompetitions">
                    Completed Item Competitions
                </a>
            </div>
            <div class="AdminSideBarHeader">
                Items
                <a class="AdminSideBarLink {{Active Id='CreateItem'}}" id="CreateItem">
                    Create Item
                </a>
                <a class="AdminSideBarLink {{Active Id='CreatedItems'}}" id="CreatedItems">
                    Created Items
                </a>
            </div>
            <div class="AdminSideBarHeader">
                Orders
                <a class="AdminSideBarLink {{Active Id='PlacedOrders'}}" id="PlacedOrders">
                    Placed Orders
                </a>
                <a class="AdminSideBarLink {{Active Id='CompletedOrders'}}" id="CompletedOrders">
                    Completed Orders
                </a>
            </div>
            <div class="AdminSideBarHeader">
                Replacements / Returns
                <a class="AdminSideBarLink {{Active Id='ReplacementReturnRequests'}}" id="ReplacementReturnRequests">
                    Requests
                </a>
                <a class="AdminSideBarLink {{Active Id='ReplacementReturnRequestsInformationEmailSent'}}" id="ReplacementReturnRequestsInformationEmailSent">
                    Requests With Information Emails Sent
                </a>
                <a class="AdminSideBarLink {{Active Id='CompletedReplacementReturns'}}" id="CompletedReplacementReturns">
                    Completed Replacements / Returns
                </a>
            </div>
            <div class="AdminSideBarHeader">
                Quests
                <a class="AdminSideBarLink {{Active Id='FacebookQuest'}}" id="FacebookQuest">
                    Facebook Quest
                </a>

            </div>
        </div>
        <div class="AdminContent">
            {{>Template.dynamic template=AdminTemplate}}
        </div>
    </div>

</template>
<template name="CreateItemCompetition">
    <div class="CreateItemCompetitionSection">
        <div class="CreateCompetitionSection">
            <form class="CreateCompetitionForm" id="CreateCompetitionForm">
                <div class="CompetitionStartTimeSection">
                    <label>Competition Start Time</label>
                    <input type="text" id="datetimepickerstarttime" name="StartTimeOfCompetition">
                </div>

                <div class="CompetitionEndTimeSection">
                    <label>Competition End Time</label>
                    <input type="text" id="datetimepickerendtime" name="EndTimeOfCompetition">
                </div>

                <div>
                    <label>Selected Item</label>
                    <select id="SelectItem" name="SelectedItemId">
                        <option disabled selected value style="display:none"> -- Select An Item -- </option>
                        {{#each Items}}
                        <option value="{{_id}}">
                            {{Name}}
                        </option>
                        {{/each}}
                    </select>
                </div>

                <button type="submit" class="CreateCompetitionButton" id="CreateCompetitionButton" disabled={{ReenableButton}}>Create Competition</button>
                <div id="Success">

                </div>
            </form>
        </div>
        <div class="SelectedItemSection">
            <div>
                {{SelectedItem.Name}}
            </div>
            <div>
                <img src="{{SelectedItem.Main_Image}}" />
            </div>
            <div>
                {{SelectedItem.SellingPrice}}
            </div>
        </div>
    </div>
</template>
<template name="CreatedItemCompetitions">
    <div class="CreatedItemCompetitionsSection">

        {{#if Template.subscriptionsReady}} {{#each CreatedItemCompetitions}}
        <div class="CreatedItemCompetitionBox">
            <div>
                {{this.Item.Name}}
            </div>
            <div>
                {{this._id}}
            </div>
            {{#unless this.IsLive}}{{#unless this.HasBeenWon}}
            <div>
                <i class="fa fa-times OpenRemoveCompetitionModal" aria-hidden="true"></i>
            </div>
            {{/unless}}{{/unless}}
        </div>
        {{/each}} {{else}}
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        {{/if}}
    </div>
    <div class="remodal ProfileAddPaymentMethod" data-remodal-id="RemoveItemCompetitionModal">
        <button data-remodal-action="close" class="remodal-close"></button>
        <div>
            Are you sure you want to remove this competition?
        </div>
        <button data-remodal-action="confirm" class="RemoveCompetitionButton">Remove</button>
    </div>
</template>
<template name="CompletedItemCompetitions">
    {{#if Template.subscriptionsReady}} {{#each CompletedItemCompetitions}}
    <div>
        <div>
            {{this._id}}
        </div>
    </div>
    {{/each}} {{else}}
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
    {{/if}}
</template>
<template name="UserAccounts">
    <div class="UserAccountsSection">
        {{#each Accounts}}
        <div class="UserAccount">
            <div class="UserAccountTitle" data-index="{{@index}}">
                <div>
                    {{profile.FirstName}} {{profile.LastName}}
                </div>
                <div>
                    {{_id}}
                </div>
            </div>
            <div class="UserAccountContent" id="{{@index}}">
                <div class="UserAccountContentTokens">
                    Tokens : {{profile.Tokens}}
                    <button class="UserAccountContentTokensEditButton" data-index="{{@index}}">Edit</button>
                </div>

            </div>
            <div class="UserAccountContentTokensEdit" id="{{@index}} TokenEdit">
                <form class="UserAccountContentTokensEditForm" data-index="{{@index}}">
                    <input value="{{profile.Tokens}}" name="TokenEditValue" />
                    <button class="UserAccountContentTokensEditFormCancel" data-index="{{@index}}">Cancel Change</button>
                    <button class="UserAccountContentTokensEditFormSubmit">Submit Token Change</button>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</template>
<template name="UserTickets">
    {{#if Template.subscriptionsReady}}
    <div class="UserTicketsSection">
        {{#each UserTickets}}
        <div class="UserTickets">
            <div class="UserTicketsTitle" data-index="{{@index}}">
                <div>
                    {{Creator}}
                </div>
                <div>
                    UserId : {{UserId}}
                </div>
            </div>
            <div class="UserTicketsContent" id="{{@index}}">

                <div class="UserTicket">
                    <div class="UserTicketTitle">
                        {{DateFormat Date=this.createdAt}}
                    </div>
                    <div class="UserTicketContent">
                        <pre>
                        {{Ticket}}
                      </pre>

                    </div>

                </div>
                <div class="AdminReplySection">
                    <h3>Admin Reply</h3>
                    <form class="ReplyToTicketForm">
                        <textarea rows="8" cols="40" name="ReplyTicketContent"></textarea>
                        <br/>
                        <button type="submit" class="ReplyButton">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
    {{/if}}
</template>
<template name="PlacedOrders">
    <div class="PlacedOrdersSection">
        {{#each PlacedOrders}}
        <div class="OrderSection">
            <div class="OrderInformationAndButtons">
                <div class="UserIdOrderIdSection">
                    <div class="OrderId">
                        <div>
                            Order Id :
                        </div>
                        <div>
                            {{OrderId}}
                        </div>
                    </div>
                    <div>
                        <div>
                            Order Placed Date :
                        </div>
                        <div>
                            {{OrderPlacedDateFormat Date=OrderPlacedDate}}
                        </div>
                    </div>
                </div>

                <div class="CancelOrderMoveToPendingShipmentButtonSection">
                    <button>Cancel Order</button>
                    {{#if TrackingUrl}}
                    <div>
                      {{TrackingUrl}}
                    </div>
                    {{else}}
                    <form id="AddTrackingInformationForm">
                      <input placeholder="Tracking Url" name="TrackingUrl"/>
                      <button>Add Tracking Information</button>
                    </form>
                    {{/if}}


                    <button class="OrderDeliveredButton">Order Delivered</button>
                </div>

            </div>

            <div class="Order">

                <div class="Items">
                    {{#each this.Orders}}
                    <div class="Item">
                        <div class="Image">
                            <img src="{{Item.Main_Image}}" />
                        </div>
                        <div class="ItemInformation">
                            Quantity : {{Quantity}} Price : {{Item.SellingPrice}}
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="ShippingInformation">
                    <div>
                        Shipping Information
                    </div>
                    <div>
                        {{this.ShippingInformation.FirstName}} {{this.ShippingInformation.LastName}}
                    </div>
                    <div>
                        {{this.ShippingInformation.Address}}
                    </div>
                    <div>
                        {{this.ShippingInformation.ApartmentFloorUnit}}
                    </div>
                    <div>
                        {{this.ShippingInformation.City}}{{this.ShippingInformation.Zipcode}}{{this.ShippingInformation.State}}
                    </div>
                    <div>
                        {{this.ShippingInformation.PhoneNumber}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</template>

<template name="PendingShipmentOrders">
    <div class="ToBeShippedOrders">
        {{#each PendingShipmentOrders}} {{#each this.Orders}} {{#unless Active}}{{#unless HasBeenShipped}}
        <div class="OrderSection">
            <div class="OrderInformationAndButtons">
                <div class="UserIdOrderIdSection">
                    <div class="UserId">
                        <div>
                            User Id :
                        </div>
                        <div>
                            {{../_id}}
                        </div>

                    </div>
                    <div class="OrderId">
                        <div>
                            Order Id :
                        </div>
                        <div>
                            {{this._id}}
                        </div>
                    </div>
                    <div>
                        <div>
                            Order Placed Date :
                        </div>
                        <div>
                            {{OrderPlacedDateFormat Date=OrderPlacedDate}}
                        </div>
                    </div>
                </div>

                <div class="TrackPackageInputAndMoveToShippedButton">
                    <form class="ShipOrderForm" data-userid="{{../_id}}">
                        <div class="TrackPackageSection">

                            <div>
                                <label>Tracking Package Link</label>
                            </div>
                            <div>
                                <input />
                            </div>

                        </div>

                        <button type="submit" class="ShipOrderButton">Ship Order</button>
                    </form>
                </div>

            </div>

            <div class="Order">
                <div class="Items">
                    {{#each this.Items}}
                    <div class="Item">
                        <div class="Image">
                            <img src="{{Item.Main_Image}}" />
                        </div>
                        <div class="ItemInformation">
                            Quantity : {{Quantity}}
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="ShippingInformation">
                    <div>
                        Shipping Information
                    </div>
                    <div>
                        {{this.ShippingInformation.FirstName}} {{this.ShippingInformation.LastName}}
                    </div>
                    <div>
                        {{this.ShippingInformation.Address}}
                    </div>
                    <div>
                        {{this.ShippingInformation.ApartmentFloorUnit}}
                    </div>
                    <div>
                        {{this.ShippingInformation.City}}{{this.ShippingInformation.Zipcode}}{{this.ShippingInformation.State}}
                    </div>
                    <div>
                        {{this.ShippingInformation.PhoneNumber}}
                    </div>
                </div>
            </div>
        </div>
        {{/unless}}{{/unless}} {{/each}} {{/each}}
    </div>
</template>
<template name="CompletedOrders">
    <div class="ToBeShippedOrders">
        {{#each CompletedOrders}}
        <div class="OrderSection">
            <div class="OrderInformationAndButtons">
                <div class="UserIdOrderIdSection">
                    <div class="OrderId">
                        <div>
                            Order Id :
                        </div>
                        <div>
                            {{OrderId}}
                        </div>
                    </div>
                    <div>
                        <div>
                            Order Placed Date :
                        </div>
                        <div>
                            {{OrderPlacedDateFormat Date=OrderPlacedDate}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="Order">
                <div class="Items">
                    {{#each Orders}}
                    <div class="Item">
                        <div class="Image">
                            <img src="{{Item.Main_Image}}" />
                        </div>
                        <div class="ItemInformation">
                            Quantity : {{Quantity}}
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="ShippingInformation">
                    <div>
                        Shipping Information
                    </div>
                    <div>
                        {{this.ShippingInformation.FirstName}} {{this.ShippingInformation.LastName}}
                    </div>
                    <div>
                        {{this.ShippingInformation.Address}}
                    </div>
                    <div>
                        {{this.ShippingInformation.ApartmentFloorUnit}}
                    </div>
                    <div>
                        {{this.ShippingInformation.City}}{{this.ShippingInformation.Zipcode}}{{this.ShippingInformation.State}}
                    </div>
                    <div>
                        {{this.ShippingInformation.PhoneNumber}}
                    </div>
                </div>
            </div>
        </div> {{/each}}
    </div>
</template>

<template name="CreateItem">
    <h1>Create An Item</h1>
    <form id="CreateItemForm">

        <div class="CreateItemFormInput">
            <label>Name</label>
            <input name="Name" />
        </div>
        <div class="CreateItemFormInput">
            <label>Selling Price</label>
            <input name="SellingPrice" />
        </div>
        <div class="CreateItemFormInput">
            <label>Description</label>
            <div id="Description"></div>
        </div>
        <div class="CreateItemImages">
            <div class="CreateItemImage">
                <label>Main Image</label>
                <input type="file" accept="image/*" name="NewItemMainImage" id="NewItemMainImage" />
                <img id="UploadedMainImage" src="" />
            </div>
            <div class="CreateItemImage">
                <label>Alternate Image 1</label>
                <input type="file" accept="image/*" name="NewItemMainImage" id="NewItemAlternateImage1" />
                <img id="UploadedAlternateImage1" src="" />
            </div>
            <div class="CreateItemImage">
                <label>Alternate Image 2</label>
                <input type="file" accept="image/*" name="NewItemMainImage" id="NewItemAlternateImage2" />
                <img id="UploadedAlternateImage2" src="" />
            </div>
            <div class="CreateItemImage">
                <label>Alternate Image 3</label>
                <input type="file" accept="image/*" name="NewItemMainImage" id="NewItemAlternateImage3" />
                <img id="UploadedAlternateImage3" src="" />
            </div>
        </div>
        <div id="Success">

        </div>
        <div class="CreateItemButtonSection">
            <button type="submit" class="CreateItemButton">Create Item</button>
        </div>
    </form>

</template>

<template name="CreatedItems">
    <div class="CreatedItemsAccordion">
        {{#each CreatedItems}}
        <div class="CreatedItem">
            <div class="CreatedItemTitle" data-index="{{@index}}">
                <div>
                    <strong>{{Name}}</strong>
                </div>
                {{#if Available}}
                <div style="color:green;font-weight:bold">
                    Available
                </div>
                {{else}}
                <div style="color:red;font-weight:bold">
                    Unavailable
                </div>
                {{/if}}
                <div>
                    Id : {{_id}}
                </div>
            </div>
            <div class="CreatedItemContent" id="{{@index}} CreatedItemContent">
                <div>
                    <strong>Selling Price :</strong> {{SellingPrice}}
                </div>
                <div>
                    <strong>Description :</strong>
                    <div>
                        {{{Description}}}
                    </div>
                </div>
                <div class="CreatedItemImages">
                    <div>
                        <div>
                            <strong>Main Image :</strong>
                        </div>
                        <img src="{{Main_Image}}" />
                    </div>
                    <div>
                        <div>
                            <strong>Alternate Image 1 :</strong>
                        </div>
                        <img src="{{Alternate_Image_1}}" />
                    </div>
                    <div>
                        <div>
                            <strong>Alternate Image 2 :</strong>
                        </div>
                        <img src="{{Alternate_Image_2}}" />
                    </div>
                    <div>
                        <div>
                            <strong>Alternate Image 3 :</strong>
                        </div>
                        <img src="{{Alternate_Image_3}}" />
                    </div>
                </div>
                <button class="RemoveItemButton">Remove Item</button>
                <button class="EditItemButton">Edit Item</button>
                {{#if Available}}
                <button class="CreatedItemMakeUnavailableButton">Make Unavailable</button>
                {{else}}
                <button type="submit" class="CreatedItemMakeAvailableButton">Make Available</button>
                {{/if}}
            </div>
            <div class="CreatedItemEditSection" id="{{_id}}">
                <form class="CreatedItemEditForm">
                    <div>
                        <label>Name</label>
                        <input name="Name" value="{{Name}}" />
                    </div>
                    <div>
                        <label>Selling Price</label>
                        <input name="SellingPrice" value="{{SellingPrice}}" />
                    </div>
                    <div class="CreateItemFormInput">
                        <label>Description</label>
                        <div id="Description{{_id}}"></div>
                    </div>
                    <div class="CreateItemImages">
                        <div class="CreateItemImage">
                            <label>Main Image</label>
                            <input type="file" accept="image/*" name="NewItemMainImage" id="NewItemMainImage" />
                            <img id="UploadedMainImage" src="{{Main_Image}}" />
                        </div>
                        <div class="CreateItemImage">
                            <label>Alternate Image 1</label>
                            <input type="file" accept="image/*" name="NewItemAlternateImage1" id="NewItemAlternateImage1" />
                            <img id="UploadedAlternateImage1" src="{{Alternate_Image_1}}" />
                        </div>
                        <div class="CreateItemImage">
                            <label>Alternate Image 2</label>
                            <input type="file" accept="image/*" name="NewItemAlternateImage2" id="NewItemAlternateImage2" />
                            <img id="UploadedAlternateImage2" src="{{Alternate_Image_2}}" />
                        </div>
                        <div class="CreateItemImage">
                            <label>Alternate Image 3</label>
                            <input type="file" accept="image/*" name="NewItemAlternateImage3" id="NewItemAlternateImage3" />
                            <img id="UploadedAlternateImage3" src="{{Alternate_Image_3}}" />
                        </div>
                    </div>
                    <button type="submit">Submit Changes</button>
                    <button class="CreatedItemEditSectionCancelChanges" data-index="{{@index}}">Cancel Changes</button>
                </form>
            </div>
        </div>
        {{/each}}

    </div>
    <div class="remodal RemoveCreatedItemModal" data-remodal-id="RemoveCreatedItemModal">
        <button data-remodal-action="close" class="remodal-close"></button>
        <div>
            Are you sure you want to remove this item?
        </div>
        <button data-remodal-action="confirm" class="RemoveCompetitionButton">Remove</button>
    </div>
</template>
<template name="ChangeNotification">
  <div class="ChangeNotificationSection">
    <h1>Change Notification</h1>
    {{#each Notification}}
    <div class="CurrentNotification">
      <h4>Current Notification</h4>
      <div class="Notfication">
        <div class="Type">
          <div>Type</div>
          {{Type}}
        </div>
        <div class="Text">
          <div>Text</div>
          {{Text}}
        </div>
        <div class="Url">
          <div>Url</div>
          {{Url}}
        </div>
      </div>
    </div>
    {{/each}}
    <div>
      <h4>Change Notification Section</h4>
      {{#autoForm schema="NotificationSchema" type="method" id="ChangeNotificationForm" meteormethod="AddNotification"}}
      {{> afQuickField name="Text"}}
      {{> afQuickField name="Type"}}
      {{> afQuickField name="Url"}}
      <button type="submit">Change Notification</button>
      {{/autoForm}}
    </div>

  </div>
</template>
<template name="ReplacementReturnRequests">
    <div class='Requests'>
        {{#each Requests}}
        <div class="Request">
            <div class="Top">
                <div class="OrderId">
                    Order Id : {{_id}}
                </div>
                <div class="UserId">
                    User Id : {{User._id}}
                </div>
                <div class="RequestDate">
                    Request Date : {{RequestDateFormat}}
                </div>
            </div>
            <div class="Bottom">
                <div class="Left">
                    <div class="ItemName">
                        {{Item.Name}}
                    </div>
                    <div class="Image">
                        <img src="{{Item.Main_Image}}" />
                    </div>
                    <div class="Price">
                        {{Item.SellingPrice}}
                    </div>

                </div>
                <div class="Right">
                    <div class="RightLeftSection">
                        <div class="Reason">
                            <div class="Title">
                                Reason
                            </div>
                            <div class="Value">
                                {{Reason}}
                            </div>

                        </div>
                        <div class="Comments">
                            <div class="Title">
                                Comments
                            </div>
                            <div class="Value">
                                {{Comments}}
                            </div>

                        </div>
                        <div class="Quantity">
                            <div class="Title">
                                Quantity
                            </div>
                            <div class="Value">
                                {{Quantity}}
                            </div>

                        </div>
                    </div>
                    <div class="RightRightSection">
                        <div class="RefundOrReplace">
                            {{#if RefundOrReplace}} REFUND {{else}} REPLACE {{/if}}
                        </div>
                        <div>
                          <div>
                            User Email : {{#each User.emails}}{{address}}{{/each}}
                          </div>
                        </div>
                        <div class="ButtonSection">
                          <button class="InformationEmailSentButton">Return/Replacement Information Email Sent</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        {{/each}}
    </div>

</template>
<template name="ReplacementReturnRequestsInformationEmailSent">
  <div class='Requests'>
      {{#each Requests}}
      <div class="Request">
          <div class="Top">
              <div class="OrderId">
                  Order Id : {{_id}}
              </div>
              <div class="UserId">
                  User Id : {{User._id}}
              </div>
              <div class="RequestDate">
                  Request Date : {{RequestDateFormat}}
              </div>
          </div>
          <div class="Bottom">
              <div class="Left">
                  <div class="ItemName">
                      {{Item.Name}}
                  </div>
                  <div class="Image">
                      <img src="{{Item.Main_Image}}" />
                  </div>
                  <div class="Price">
                      {{Item.SellingPrice}}
                  </div>

              </div>
              <div class="Right">
                  <div class="RightLeftSection">
                      <div class="Reason">
                          <div class="Title">
                              Reason
                          </div>
                          <div class="Value">
                              {{Reason}}
                          </div>

                      </div>
                      <div class="Comments">
                          <div class="Title">
                              Comments
                          </div>
                          <div class="Value">
                              {{Comments}}
                          </div>

                      </div>
                      <div class="Quantity">
                          <div class="Title">
                              Quantity
                          </div>
                          <div class="Value">
                              {{Quantity}}
                          </div>

                      </div>
                  </div>
                  <div class="RightRightSection">
                      <div class="RefundOrReplace">
                          {{#if RefundOrReplace}} REFUND {{else}} REPLACE {{/if}}
                      </div>
                      <div>
                        <div>
                          User Email : {{#each User.emails}}{{address}}{{/each}}
                        </div>
                      </div>
                      <div class="ButtonSection">
                          {{#if RefundOrReplace}}
                          <button class="RefundCompleteButton">Refund Complete</button>{{else}}
                          <button class="ReplacementCompleteButton">Replacement Complete</button> {{/if}}
                      </div>

                  </div>

              </div>
          </div>
      </div>
      {{/each}}
  </div>
</template>
<template name="CompletedReplacementReturns">
    <div class='CompletedRequests'>
        {{#each Requests}}
        <div class="CompletedRequest">
            <div class="Top">
                <div class="OrderId">
                    Order Id : {{_id}}
                </div>
                <div class="UserId">
                    User Id : {{User}}
                </div>
                <div class="RequestDate">
                    Request Date : {{RequestDateFormat}}
                </div>
            </div>
            <div class="Bottom">
                <div class="Left">
                    <div class="ItemName">
                        {{Item.Name}}
                    </div>
                    <div class="Image">
                        <img src="{{Item.Main_Image}}" />
                    </div>
                    <div class="Price">
                        {{Item.SellingPrice}}
                    </div>

                </div>
                <div class="Right">
                    <div class="RightLeftSection">
                        <div class="Reason">
                            <div class="Title">
                                Reason
                            </div>
                            <div class="Value">
                                {{Reason}}
                            </div>

                        </div>
                        <div class="Comments">
                            <div class="Title">
                                Comments
                            </div>
                            <div class="Value">
                                {{Comments}}
                            </div>

                        </div>
                        <div class="Quantity">
                            <div class="Title">
                                Quantity
                            </div>
                            <div class="Value">
                                {{Quantity}}
                            </div>

                        </div>
                    </div>
                    <div class="RightRightSection">
                        <div class="RefundOrReplace">
                            {{#if RefundOrReplace}} REFUND {{else}} REPLACE {{/if}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {{/each}}
    </div>
</template>
<template name="FacebookQuest">
  {{#each Users}}
  <div class="FacebookQuestUser">
    <div class="Information">
      Facebook Username : {{Quests.FacebookQuest.Username}}
    </div>
    <div class="TurnInSection">
      <form id="AcceptQuestForm">
        <div class="FriendCount">
          <label>Friend Count</label>
          <input name="friendcount"/>
        </div>
            <button>Accept Quest</button>
      </form>
      <button class="RejectQuest">Reject Quest</button>
    </div>

  </div>
  {{/each}}
</template>
