<template name="Checkout">
    <div class="Checkout">
        <div class="CheckoutInformation">
            {{#if $eq BreadCrumb "PaymentInformation"}}
            <ul class="CheckoutBreadcrumb">
                <li class="activebreadcrumb">Payment</li>
                <li class="{{ShippingInformationTabHighlight}}">Shipping</li>
                <li class="{{OrderTabHighlight}}">Order Review</li>
            </ul>
            {{/if}} {{#if $eq BreadCrumb "PaymentInformationHasShipping"}}
            <ul class="CheckoutBreadcrumb">
                <li class="activebreadcrumb">Payment</li>
                <li class="{{OrderTabHighlight}}">Order Review</li>
            </ul>
            {{/if}} {{#if $eq BreadCrumb "ShippingInformation"}}
            <ul class="CheckoutBreadcrumb">
                <li class="activebreadcrumb">Shipping</li>
                <li class="{{OrderTabHighlight}}">Order Review</li>
            </ul>
            {{/if}} {{#if $eq BreadCrumb "Order"}}
            <ul class="CheckoutBreadcrumb">
                <li class="activebreadcrumb">Shipping</li>
                <li class="{{OrderTabHighlight}}">Order Review</li>
            </ul>
            {{/if}} {{#if Template.subscriptionsReady}}
            <main class="CheckoutMainInformation">
                {{>Template.dynamic template=checkout data=CheckoutData}}
            </main>
            {{/if}}
        </div>
        <div class="Cart">
            <div class="CartBanner">
                Shopping Cart
            </div>

            <div class="CartInformation">
                {{#each CartInformation}} {{#if CartOrReserve}}
                <div class="CartItem">
                    <div class="Image">
                        <img src="{{Item.Main_Image}}" />
                    </div>
                    <div class="CartItemText">
                        <div class="Name" style="font-size:{{ItemNameFormatSize}}">{{Item.Name}}</div>
                        <div class="Price"><img src="/TokenManyFront.svg" /> {{ItemTotal CartItem=this}}</div>
                        <div class="Quantity">Quantity: {{Quantity}}</div>
                    </div>
                </div>
                {{/if}} {{/each}}
            </div>

        </div>
    </div>
</template>
