<template name="Order">
    <div class="OrderInformationSection">
        <div class="ShippingInformationBox">
            <div class="Banner">
                <h4>Shipping Information</h4>
                <a href="" class="AddNewShippingInformationButton">Add New +</a>
            </div>
            <div class="remodal" data-remodal-id="AddNewShippingInformationModal">
                <button data-remodal-action="close" class="remodal-close"></button>
                {{>AddShippingInformation}}
            </div>
            <div class="ShippingInformationDropdown">


                {{#if AlternativeShippingInformation}} {{#dropdownTrigger name="OrderAddressDropdown"}}
                <div class="ShippingInformationDropdownTrigger Multiple">
                    <div class="ShippingInformationContent">
                        <div>
                            <strong>{{DesiredShippingInformation.FirstName}}
                                {{DesiredShippingInformation.LastName}}</strong>
                        </div>
                        <div>
                            {{DesiredShippingInformation.Address}}{{#if DesiredShippingInformation.ApartmentFloorUnit}},{{/if}} {{DesiredShippingInformation.ApartmentFloorUnit}}
                        </div>
                        <div>
                            {{DesiredShippingInformation.City}}, {{DesiredShippingInformation.State}} {{DesiredShippingInformation.Zipcode}}
                        </div>
                        <div>
                            {{DesiredShippingInformation.PhoneNumber}}
                        </div>
                    </div>

                    <div class="Arrow">
                        <i class="fa fa-caret-down"></i>
                    </div>

                </div>
                {{/dropdownTrigger}} {{#dropdown name="OrderAddressDropdown" animation="appear"}} {{#each AlternativeShippingInformation}}
                <div class="ShippingInformationDropdownDropdownBox" id="{{@index}}">
                    <div>
                        <strong>{{FirstName}}
                                {{LastName}}</strong>
                    </div>
                    <div>
                        {{Address}}{{#if ApartmentFloorUnit}},{{/if}} {{ApartmentFloorUnit}}
                    </div>
                    <div>
                        {{City}}, {{State}} {{Zipcode}}
                    </div>
                    <div>
                        {{PhoneNumber}}
                    </div>
                </div>
                {{/each}} {{/dropdown}} {{else}}
                <div class="ShippingInformationDropdownTrigger">
                    <div class="ShippingInformationContent">
                        <div>
                            <strong>{{DesiredShippingInformation.FirstName}}
                            {{DesiredShippingInformation.LastName}}</strong>
                        </div>
                        <div>
                            {{DesiredShippingInformation.Address}}{{#if DesiredShippingInformation.ApartmentFloorUnit}},{{/if}} {{DesiredShippingInformation.ApartmentFloorUnit}}
                        </div>
                        <div>
                            {{DesiredShippingInformation.City}}, {{DesiredShippingInformation.State}} {{DesiredShippingInformation.Zipcode}}
                        </div>
                        <div>
                            {{DesiredShippingInformation.PhoneNumber}}
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
        <div class="OrderInformationBox">
            <div class="Banner">
                <h3>Order Summary</h3>
            </div>
            <div class="OrderInformationTextPlaceOrderButtonSection">
                <div class="OrderInformationText">
                    <div class="ShippingSection">
                        <div class="ShippingToken">
                            <i class="fa fa-truck fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="Text">
                            Free Shipping!
                        </div>

                    </div>
                    <div class="OrderTotal">
                        <div class="Title">Order Total : </div>
                        <div class="Value"><img src="/TokenManyFront.svg" /><strong>{{OrderTotal}}</strong></div>
                    </div>
                </div>
                <div class="PlaceOrderButtonSection">
                    <button class="PlaceOrderButton" id="PlaceOrderButton">Place your order</button>
                </div>
            </div>

        </div>

    </div>
</template>
