<template name="PaymentInformation">
    <div class="InsufficientTokensBanner">
        <div class="InsufficientTokensBannerIconSection">
            <i class="fa fa-exclamation" aria-hidden="true"></i>
        </div>
        <div class="InsufficientTokensBannerText">
            <span>You have insufficient funds. You need to buy at least <span>{{IsSufficientTokenCount}}</span> tokens to checkout.</span>
        </div>
    </div>
    <div class="PaymentInformationTokenBuySection">
        <div class="BuyTokensSection">
            <div class="BuyTokenSectionSliderInput">
                <div id="slider"></div>
                <div class="slider-input-container">
                    <input id="slider-input" value="{{TokenBuyAmount}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="5" />
                </div>
            </div>
            <div class="BuyTokenSectionSavingCostBuy">
                <div class="FreeTokensTitle">
                    Free Tokens
                </div>
                <div class="FreeTokensAmount">
                    {{FreeTokenAmount}}
                </div>
                <div class="TokenCostAmountTitle">
                    Cost
                </div>
                <div class="TokenCostAmount">
                    ${{TokenCostAmount}}
                </div>
            </div>
          </div>
            <div class="BuyTokenPaymentInformation">
                {{#transition in="fadeIn"}} {{#if RetrievePaymentMethodsReady}} {{#if NewOrSaved}}

                <div class="TokenPaymentInformationBox">
                    <form class="BuyTokensProceed">
                        <div class="NameOnCard">
                            <label>Name On Card</label>
                            <input class="cc-name" placeholder="Name on Card" />
                        </div>

                        <div class="CardNumber">
                            <label>Card Number</label>
                            <input class="cc-num" placeholder="Card Number" />
                        </div>
                        <div class="CVCExpirationZipcode">
                            <div>
                                <label>CVC</label>
                                <input class="cc-cvc" placeholder="CVC" />
                            </div>

                            <div>
                                <label>Expiration Date</label>
                                <input class="cc-exp" placeholder="MM/YYYY" />
                            </div>

                            <div>
                                <label>Zipcode</label>
                                <input class="cc-zip" placeholder="Zipcode" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                            </div>

                        </div>
                        <span id="errorNew">
                  </span>
                        <button type="submit" class="ProceedToPaymentSectionButton" id="ProceedToPaymentSectionButton">Buy Tokens</button>
                    </form>
                </div>
                <script>
                    $('input.cc-num').payment('formatCardNumber');
                    $('input.cc-exp').payment('formatCardExpiry');
                    $('input.cc-cvc').payment('formatCardCVC');
                    $('[data-numeric]').payment('restrictNumeric');
                </script>
                {{else}}
                <div class="SavedPaymentInformationCardSection">
                    <div class="remodal" data-remodal-id="AddNewPaymentMethodModal">
                        <button data-remodal-action="close" class="remodal-close"></button>
                        {{>PaymentInformationAddPaymentMethod}}
                    </div>
                    <div class="DefaultPaymentDropdown">

                        {{#each PaymentInformation}}
                        <div class="PaymentDropdownBox {{DesiredPaymentMethod Id=this.id}}" id="{{@index}}">
                            <div class="PaymentDropdownBoxCardInformation">
                                <div style="text-transform: capitalize;">
                                    <strong>{{name}}</strong>
                                </div>
                                <div>
                                    {{#if $eq brand "Visa"}}
                                    <i class="fa fa-cc-visa"></i> ending in {{last4}} {{/if}} {{#if $eq brand "MasterCard"}}
                                    <i class="fa fa-cc-mastercard"></i> ending in {{last4}} {{/if}} {{#if $eq brand "American Express"}}
                                    <i class="fa fa-cc-amex"></i> ending in {{last4}} {{/if}} {{#if $eq brand "Discover"}}
                                    <i class="fa fa-cc-discover"></i> ending in {{last4}} {{/if}}
                                </div>
                                <div>
                                    {{exp_month}} / {{exp_year}}
                                </div>
                            </div>
                            {{#if DesiredPaymentMethodCheck Id=this.id}}
                            <div>
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                            {{/if}}
                        </div>
                        {{/each}}
                        <div class="AddNewPaymentMethodButton">
                            Add New +
                        </div>
                    </div>
                </div>
                <div id="errorSaved">

                </div>
                <form class="BuyTokensProceed">
                    <button type="submit" class="ProceedToPaymentSectionButton" id="ProceedToPaymentSectionButton">Buy Tokens</button>
                </form>
                {{/if}}{{else}}
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
                {{/if}}{{/transition}}

            </div>



        </div>

</template>

<template name="PaymentInformationAddPaymentMethod">
    <h2 align="center">Add Payment Method</h2>
    <form>
        <div class="AddPaymentMethodForm">
            <div class="NameOnCardSection">
                <label>Name On Card</label>
                <input class="cc-name" placeholder="Name on Card" />
            </div>

            <div class="CardNumberSection">
                <label>Card Number</label>
                <input class="cc-num" placeholder="Card Number" />
            </div>
            <div class="CVCExpirationSection">
                <div>
                    <label>CVC</label>
                    <input class="cc-cvc" placeholder="CVC" />
                </div>
                <div>
                    <label>Expiration Date</label>
                    <input class="cc-exp" placeholder="MM/YYYY" />
                </div>
                <div>
                    <label>Zipcode</label>
                    <input class="cc-zip" placeholder="Zipcode" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                </div>
            </div>
        </div>
        <div id="error">

        </div>
        <button type="submit" id="AddPaymentSubmitButton">Add Payment</button>
    </form>
</template>
