<template name="ShippingInformation">
    <div class="ShippingInformationPage">
        {{#autoForm schema="AddressSchema" id="ShippingInformationForm" type="method" meteormethod="AddShippingInformation"}}
            <div class="FirstNameLastName">
              <div class="form-group{{#if afFieldIsInvalid name='FirstName'}} has-error{{/if}}">
                  <div class="input-group">
                      <label class="control-label">First Name</label>
                      {{> afFieldInput name='FirstName' placeholder="schemaLabel"}}
                  </div>
                  {{#if afFieldIsInvalid name='FirstName'}}
                      <span class="help-block">
                          <i class="fa fa-times" aria-hidden="true"></i>
                      </span>
                  {{/if}}
              </div>
                <div class="form-group{{#if afFieldIsInvalid name='LastName'}} has-error{{/if}}">
                    <div class="input-group">
                        <label class="control-label">Last Name</label>
                        {{> afFieldInput name='LastName' placeholder="schemaLabel"}}
                    </div>
                    {{#if afFieldIsInvalid name='LastName'}}
                        <span class="help-block">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    {{/if}}
                </div>
            </div>
            <div class="form-group{{#if afFieldIsInvalid name='Address'}} has-error{{/if}}">
                <div class="input-group">
                    <label class="control-label">Address</label>
                    {{> afFieldInput name='Address' placeholder="schemaLabel"}}
                </div>
                {{#if afFieldIsInvalid name='Address'}}
                    <span class="help-block">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                {{/if}}
            </div>
            <div class="form-group{{#if afFieldIsInvalid name='ApartmentFloorUnit'}} has-error{{/if}}">
                <div class="input-group">
                    <label class="control-label">Apartment / Floor Unit (Optional)</label>
                    {{> afFieldInput name='ApartmentFloorUnit' placeholder="schemaLabel"}}
                </div>
                {{#if afFieldIsInvalid name='ApartmentFloorUnit'}}
                    <span class="help-block">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                {{/if}}
            </div>
            <div class="CityStateZip">
              <div class="form-group{{#if afFieldIsInvalid name='City'}} has-error{{/if}}">
                  <div class="input-group">
                      <label class="control-label">City</label>
                      {{> afFieldInput name='City' placeholder="schemaLabel"}}
                  </div>
                  {{#if afFieldIsInvalid name='City'}}
                      <span class="help-block">
                          <i class="fa fa-times" aria-hidden="true"></i>
                      </span>
                  {{/if}}
              </div>
                <div class="form-group{{#if afFieldIsInvalid name='State'}} has-error{{/if}}">
                    <div class="input-group">
                        <label class="control-label">State</label>
                        {{> afFieldInput name='State' placeholder="schemaLabel"}}
                    </div>
                    {{#if afFieldIsInvalid name='State'}}
                        <span class="help-block">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    {{/if}}
                </div>
                <div class="form-group{{#if afFieldIsInvalid name='Zipcode'}} has-error{{/if}}">
                    <div class="input-group">
                        <label class="control-label">Zipcode</label>
                        {{> afFieldInput name='Zipcode' placeholder="schemaLabel"}}
                    </div>
                    {{#if afFieldIsInvalid name='Zipcode'}}
                        <span class="help-block">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    {{/if}}
                </div>
            </div>

            <div class="form-group{{#if afFieldIsInvalid name='PhoneNumber'}} has-error{{/if}}">
                <div class="input-group">
                    <label class="control-label">Phone Number</label>
                    {{> afFieldInput name='PhoneNumber' placeholder="schemaLabel"}}
                </div>
                {{#if afFieldIsInvalid name='PhoneNumber'}}
                    <span class="help-block">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                {{/if}}
            </div>
            <div class="ButtonSection">
                <button type="submit">Finalize Order</button>
            </div>
        {{/autoForm}}
    </div>
</template>
