<template name="Item">
    {{#if Template.subscriptionsReady}}
    <div class="container">
        <div class="ItemSection">
          {{#with Item}}
            <div class="ItemName" style="font-size:{{ItemNameSize}}">{{Item.Name}}</div>
            {{/with}}
            <div class="ItemSectionImages">
              {{#if Item.Alternate_Image_1}}
                <div class="AlternateImages">
                    <div class="{{SelectedImage ImageName='Main_Image'}}">
                        <img class="MainImageSidebar" src="{{Item.Main_Image}}" name="Main_Image" />
                    </div>
                    <div class="{{SelectedImage ImageName='Alternate_Image_1'}}">
                        <img class="AlternateImage1Sidebar" src="{{Item.Alternate_Image_1}}" name="Alternate_Image_1" />
                    </div>
                    {{#if Item.Alternate_Image_2}}
                    <div class="{{SelectedImage ImageName='Alternate_Image_2'}}">
                        <img class="AlternateImage2Sidebar" src="{{Item.Alternate_Image_2}}" name="Alternate_Image_2" />
                    </div>
                    {{/if}}
                    {{#if Item.Alternate_Image_3}}
                    <div class="{{SelectedImage ImageName='Alternate_Image_3'}}">
                        <img class="AlternateImage3Sidebar" src="{{Item.Alternate_Image_3}}" name="Alternate_Image_3" />
                    </div>
                    {{/if}}
                </div>
                {{/if}}
                <div class="MainImage">
                    <img src="{{Item.Main_Image}}" id="DefaultPicture" />
                </div>

            </div>
            <div class="ItemSectionDescription">
                <div class="ItemSectionDescriptionTitle">Description</div>
                <div class="ItemSectionDescriptionContent">{{{Item.Description}}}</div>
            </div>
        </div>
        <div class="RightSection">
            <div class="BuySection">
                <div class="PriceShippingSection">
                    <div class="PriceSection">
                        <div class="PriceToken">
                            <img  src="/TokenManyFront.svg"/>
                        </div>
                        <div class="Price">{{Item.SellingPrice}}</div>
                    </div>
                    <div class="ShippingSection">
                        <div class="ShippingToken">
                            <i class="fa fa-truck fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="Text">
                            Free Shipping
                        </div>

                    </div>

                </div>
                <div class="CartQuantitySection">

                    {{#if Item.Available}} {{#if currentUser}}
                    <div class="Quantity">
                        <button class="DecreaseQuantity"><i class="fa fa-minus fa-2x"></i></button>
                        <div>{{Quantity}}</div>
                        <button class="IncreaseQuantity"><i class="fa fa-plus fa-2x"></i></button>
                    </div>
                    <div class="Cart">
                        <button type="submit" class="AddToCartButton" style="width: 100%">Add To Cart</button>
                    </div>
                    {{else}}
                    <div class="CartQuantityNotLoggedInSection">
                        <a href="/Register">
                            <button>Login / Register To Add To Cart</button>
                        </a>
                    </div>
                    {{/if}} {{else}}
                    <div class="SoldOut">
                        Sold Out
                    </div>
                    {{/if}}

                </div>

            </div>
            {{#if SimilarItemCompetitions.count}}
            <div class="SimilarItemCompetitionsSection">
                {{#each Competition in SimilarItemCompetitions}}{{#with Competition}}
                <div class="SimilarItemCompetitionBox">
                    {{#if Competition.IsLive}}
                    <div class="SimilarItemCompetitionBoxSectionLive">
                        <div class="SimilarItemCompetitionBoxTitleLive">
                        </div>

                        <div class="SimilarItemCompetitionBoxInformationLive">
                            <div id="container" style="position: relative;">
                                <svg height="100%" width="100%" viewBox="0 0 30 100" preserveAspectRatio="none">
                                    <path d="m15,0 l 0,100" stroke="#eee" stroke-width="30" fill-opacity="0"></path>
                                    <path d="m15,0 l 0,100" stroke="#e04e4b" stroke-width="30" fill-opacity="0" style="stroke-dasharray: 100, 100; stroke-dashoffset: -{{Progress CompetitionProgress=Competition.Progress}};"></path>
                                </svg>
                                <strong><p class="progressbar-text" style="position: absolute; top: 50%; width:100%; text-align:center;padding: 0px; margin: 0px; color: rgb(44, 62, 80);">{{ProgressText Progress=Competition.Progress}}</p></strong>
                            </div>
                            <div class="Countdown">
                                <div class="Value">
                                    {{ItemCompetitiveLiveCountdown Competition=Competition}}
                                </div>

                                <div class="GoToCompetitionButtonSection">

                                    <a href="/ItemCompetition/{{Competition._id}}">
                                                                        {{#if IsUserEntered}}
                                        <button class="GoToSimilarItemCompetitionButton">Compete</button>
                                        {{else}}
                                        <button class="GoToSimilarItemCompetitionButton">Spectate</button>
                                        {{/if}}
                                    </a>
                                  </div>
                            </div>
                            <div class="SlotPriceSlotCount">
                                <div class="Count">
                                    <div class="Title">
                                        <img src="/Crown.png" />
                                    </div>
                                    <div class="Value">
                                        {{Competition.SlotCount}}
                                    </div>
                                </div>
                                <div class="Price">
                                    <div class="Title">
                                        <img src="/TokenManyFront.svg" />
                                    </div>
                                    <div class="Value">
                                        {{Competition.SlotPrice}}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="SimilarItemCompetitionBoxWatchlistLive">
                        </div>
                    </div>
                    {{else}}
                    <div class="SimilarItemCompetitionBoxSectionNotLive">
                        <div class="SimilarItemCompetitionBoxSectionLeftNotLive">
                        </div>
                        <div class="SimilarItemCompetitionBoxInformationNotLive">
                          <div id="container" style="position: relative;">
                              <svg height="100%" width="100%" viewBox="0 0 30 100" preserveAspectRatio="none">
                                  <path d="m15,0 l 0,100" stroke="#eee" stroke-width="30" fill-opacity="0"></path>
                                  <path d="m15,0 l 0,100" stroke="#e04e4b" stroke-width="30" fill-opacity="0" style="stroke-dasharray: 100, 100; stroke-dashoffset: -{{Progress CompetitionProgress=Competition.Progress}};"></path>
                              </svg>
                              <strong><p class="progressbar-text" style="position: absolute; top: 50%; width:100%; text-align:center;padding: 0px; margin: 0px; color: rgb(44, 62, 80);">{{ProgressText Progress=Competition.Progress}}</p></strong>
                          </div>
                          <div class="CountdownSection">


                            <div class="Title">
                                This Competitions Begins In :
                            </div>
                            <div class="Countdown">
                                {{ItemCompetitiveNotLiveCountdown Competition=Competition}}
                            </div>
                            <div>
                              {{#if IsUserEntered}}
                                <a href="/ItemCompetition/{{Competition._id}}">
                                    <button>Prepare</button>
                                </a>
                                {{else}}
                                <button class="EnterCompetitionButton">Enter</button>
                                {{/if}}
                            </div>

                            </div>
                            <div class="EntrantCount">
                                <div class="Title">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </div>
                                <div class="Value">
                                    {{Competition.EntrantCount}}
                                </div>
                            </div>
                        </div>
                        <div class="SimilarItemCompetitionBoxTitleNotLive">
                            {{#with Competition}}{{#if currentUser}} {{#if IsOnUserWatchList Competition_Id=Competition._id}}
                            <i class="fa fa-star Watchlist-Star-Remove" style="color:#FFD700;" aria-hidden="true"></i> {{else}}
                            <i class="fa fa-star-o Watchlist-Star-Add" aria-hidden="true"></i> {{/if}} {{/if}}{{/with}}
                        </div>

                    </div>
                    {{/if}}
                </div>
                {{/with}}{{/each}}
            </div>
            {{/if}}
        </div>
    </div>
    <div data-remodal-id="ItemCompetitionEntrantModal" class="ItemCompetitionEntrantModal">
        {{>ItemCompetitionEntrantModal}}
    </div>
    {{/if}}
</template>
