<template name="PaymentInformationBuy">
<div class="PaymentInformationTabs">
    <!-- Radio button and lable for #tab-content1 -->
    <input type="radio" name="tabs" id="tab1" checked>
    <label for="tab1">
        Old Cards
    </label>
    <!-- Radio button and lable for #tab-content2 -->
    <input type="radio" name="tabs" id="tab2">
    <label for="tab2">
        New Card
    </label>
    <div id="tab-content1" class="tab-content">
        <h3><!-- Tab title here --></h3>
        <div ng-repeat="Method in PaymentMethods" ng-click="">
            <div>{{Method.name}}</div>
            <div>{{Method.last4}}</div>
            <div>{{Method.exp_month}}{{Method.exp_year}}</div>
        </div>
    </div> <!-- #tab-content1 -->
    <div id="tab-content2" class="tab-content">
        <h3><!-- Tab title here --></h3>
        <form stripe-form="stripeCallBack" class="AddPaymentMethodModal">
            <div>
                <input placeholder="Name on card" ng-model="name" />
            </div>
            <div>
                <input placeholder="Card Number" ng-model="number" type="text" payments-format="card" payments-validate="card" />
            </div>
            <div class="CVCExpiration">
                <div>
                    <input placeholder="CVC" ng-model="cvc" type="text" payments-format="cvc" payments-validate="cvc" />
                </div>
                <div>
                    <input placeholder="Expiration (MM/YYYY)" ng-model="expiry" type="text" payments-format="expiry" payments-validate="expiry" />
                </div>
            </div>

        </form>
    </div> <!-- #tab-content2 -->
</div>
<button type="submit" class="Primary-Button">
    Buy Stuff
</button>
</template>
