<template name="Blog">
    <div class="BlogSection">
        <div class="BlogTitleSection">
            <div>
                Blog
            </div>
        </div>
        <div class="Blogs">
            {{#each Blogs}}
            <div class="Blog">
                <div class="BlogTitleAuthorDate">
                    <div class="BlogTitle">
                        {{Title}}
                    </div>
                    <div class="BlogAuthorDate">
                        <div class="Author">
                          {{Author}}
                        </div>
                        <div class="Date">
                            {{DateFormat Date=Date}}
                        </div>
                    </div>
                </div>
                <div class="BlogContent">
                    {{Content}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</template>
