<template name="Careers">
    <div class="CareersSection">
        <div class="CareersTitleSection">
            <div>
                Careers
            </div>
        </div>
        <div class="Careers">
            <div class="NoActiveCareers">
                No Active Job Listings
            </div>
        </div>
    </div>

</template>
