<template name="Contact">
    <h1 class="ContactTitle">Contact</h1>
    <div class="ContactSection">
        <div class="ContactTicketSection">
            <div class="ContactBanner">
                Spargain Ticketing System
            </div>
            <div class="ContactTicketSectionContent">
                <div class="ContactTicketSectionCreateTicket">
                    <div>
                        The fastest way to contact Spargain support is through our ticket system. We strive to answer all tickets within 24 hours, but during business hours it is usually much faster. To help us serve you better, please give as much detail as possible!
                    </div>
                    <form class="TicketForm">
                        <div>
                            <textarea rows="8" cols="40" name="TicketText"></textarea>
                        </div>
                        <div>
                            <button type="submit">Submit Ticket</button>
                        </div>
                    </form>
                </div>
                <div class="ContactTicketSectionTickets">
                    {{#each UserTickets}}
                    {{#if IsUser}}
                    <div class="ContactTicket User">
                        <div class="ContactTicketTitle">
                            <div class="ContactTicketTitleCreatorDate">
                                <div>
                                    {{this.Creator}}
                                </div>
                                <div>
                                    &nbsp;at {{DateFormat Date=this.createdAt}}
                                </div>
                            </div>
                            {{#if this.Status}}
                            <div class="TicketStatusResolved">
                                Resolved
                            </div>
                            {{else}}
                            <div class="TicketStatusPending">
                                Pending
                            </div>
                            {{/if}}
                        </div>
                        <div>
                            <pre>
                      {{this.Ticket}}
                        </pre>
                        </div>

                    </div>
                    {{else}}
                    <div class="ContactTicket Admin">
                        <div class="ContactTicketTitle">
                            <div class="ContactTicketTitleCreatorDate">
                                <div>
                                    {{this.Creator}}
                                </div>
                                <div>
                                    &nbsp;at {{DateFormat Date=this.createdAt}}
                                </div>
                            </div>
                        </div>
                        <div class="TicketContent">
                          <pre>

                            {{this.Ticket}}
                            </pre>
                        </div>
                    </div>
                    {{/if}}{{/each}}
                </div>
            </div>

        </div>
        <div class="ContactInformationSection">
            <div class="ContactInformationBox">
                <div class="ContactBanner">
                    Email Support
                </div>
                <div class='ContactInformationBoxContent'>
                    <div>
                        Email us at : <strong>Support@Spargain.com</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
