<template name="ItemCompetition">

    <div class="ItemCompetitionGridSection">
        {{#if Template.subscriptionsReady}}{{#with ItemCompetition}}{{> Template.dynamic template=ItemCompetitionStatus}} {{/with}}{{/if}}
    </div>

</template>
<template name="ItemCompetitionPreNotLive">
    <div class="ItemCompetitionPreNotLiveSection">
        <div class="ItemCompetitionPreNotLiveSectionLeftSection">
            <div class="ItemCompetitionPreNotLiveSectionLeftSectionTitle">
                {{ItemCompetition.Item.Name}}
            </div>
            <div class="ItemCompetitionPreNotLiveSectionLeftSectionImage">
                <img src="{{ItemCompetition.Item.Main_Image}}" />
            </div>

        </div>
        <div class="ItemCompetitionPreNotLiveSectionRightSection">
            <div class="CompetitionBegins">
                This Competition Begins In :
            </div>
            <div class="CompetitionBeginsTimer">
                {{ItemCompetitionCountdown Competition=ItemCompetition}}
            </div>
            {{#if currentUser}}
            {{#unless IsUserEntered}}
            <div>
                <button class="EnterButton">Prepare</button>
            </div>
            {{/unless}}
            {{/if}}
        </div>
    </div>

    <div data-remodal-id="ItemCompetitionEntrantModal" class="ItemCompetitionEntrantModal">
        {{>ItemCompetitionEntrantModal}}
    </div>
</template>
<template name="ItemCompetitionResults">
    {{#if ItemCompetitionResult.DidWin}}
    <div class="ItemCompetitionGridResultsWinSection">
        <div class="ItemCompetitionGridResultsSectionLeft">
            <img src="{{ItemCompetition.Item.Main_Image}}" />
        </div>
        <div class="ItemCompetitionGridResultsSectionRight">
            <div class="WinningInformation">
                <div class="YouWonTitle">YOU WON!</div>
                <div class="YouWonInformation">
                    <div>
                        {{#each ItemCompetitionResult.WinningInfo}}
                        <div>
                            You won a <span class="WonDiscountAmount"><img src="/TokenManyTop.svg" /> {{Discount}}</span> discount on a <span class="WonItemName">{{Name}}</span>
                        </div>

                        {{/each}}

                    </div>
                </div>
                <a href="/Cart">
                    <button class="GoToCartButton">Go To Cart To Checkout</button>
                </a>
            </div>

        </div>
    </div>
    {{else}}
    <div class="ItemCompetitionGridResultsLossSection">
        <div class="ItemCompetitionGridResultsSectionLeft">
            <div class="ItemCompetitionGridResultsSectionLeftTitle">
                {{ItemCompetition.Item.Name}}
            </div>
            <img src="{{ItemCompetition.Item.Main_Image}}" />
            <a href="/Item/{{ItemCompetition.Item._id}}">
                <button>Go To Item</button>
            </a>
        </div>
        <div class="ItemCompetitionGridResultsSectionRight">
            <div class="ItemCompetitionGridResultsSectionTop">
                <div class="Top">
                    <div class="EndTitle">This Competition Has Ended!</div>
                    <div class="FinalSlotCount">
                        The Final Slot Count Was <span class="FinalCount">{{ItemCompetition.SlotCount}}</span> !
                    </div>
                </div>
                <div class="Bottom">
                    <div class="BottomLeft">

                        <div class="WinnersSection">
                            <div class="WinnersSectionTitle">
                                Winners
                            </div>
                            <div class='WinnersCalculcatedSlotsDiscountSection'>
                                <div class="WinnersCalculatedSlots">
                                    <div class="Title">
                                        Slot
                                    </div>
                                    {{#each ItemCompetition.Winners}}
                                    <div class="WinnersCalculated">
                                        <div class="Slot">
                                            {{Slot}}
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                                <div class="WinnersCalculatedDiscounts">
                                    <div class="Title">
                                        Discount
                                    </div>
                                    {{#each ItemCompetition.Winners}}
                                    <div class="WinnersCalculated">
                                        <div class="Discount">
                                            <img src="/TokenManyFront.svg" /><span>{{Discount}}</span>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{#if UserSlots}}
                    <div class="BottomRight">
                        <div class="SlotsSelectedTitle">
                            Your Slots
                        </div>
                        <div class="UserSlotPriceTitles">
                            <div class="Slot">
                                Slot
                            </div>
                            <div class="Price">
                                Price
                            </div>
                        </div>
                        <div class="UserSlots">
                            <br /> {{#each UserSlots}}
                            <div class="UserSlot">
                                <div class="Slot">
                                    {{Slot}}
                                </div>

                                <div class="Price">
                                    <img src="/TokenManyTop.svg" /> <span>{{Price}}</span>
                                </div>
                            </div>
                            <br /> {{/each}}
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
            {{#if SimilarItemCompetitions}}
            <div class="SimilarItemCompetitionsSection">
                <div class="SimilarItemCompetitionSectionTitle">Live and Upcoming Competitions For The {{ItemCompetition.Item.Name}}</div>
                <div class='SimilarItemCompetitionBoxes'>


                    {{#each SimilarItemCompetitions}}
                    <div class="SimilarItemCompetitionBox">
                        {{#if IsLive}}
                        <div class="SimilarItemCompetitionBoxSectionLive">
                            <div class="SimilarItemCompetitionBoxTitleLive">
                            </div>

                            <div class="SimilarItemCompetitionBoxInformationLive">
                                <div id="container" style="position: relative;">
                                    <svg height="100%" width="100%" viewBox="0 0 30 100" preserveAspectRatio="none">
                                        <path d="m15,0 l 0,100" stroke="#eee" stroke-width="30" fill-opacity="0"></path>
                                        <path d="m15,0 l 0,100" stroke="#e04e4b" stroke-width="30" fill-opacity="0" style="stroke-dasharray: 100, 100; stroke-dashoffset: -{{Progress CompetitionProgress=Progress}};"></path>
                                    </svg>
                                    <strong><p class="progressbar-text" style="position: absolute; top: 50%; width:100%; text-align:center;padding: 0px; margin: 0px; color: rgb(44, 62, 80);">{{ProgressText Progress=Progress}}</p></strong>
                                </div>
                                <div class="Countdown">
                                    <div class="Value">
                                        {{SimilarItemCompetitiveLiveCountdown}}
                                    </div>

                                    <div class="GoToCompetitionButtonSection">
                                        <button class="GoToSimilarItemCompetitionButton">Compete</button>
                                    </div>
                                </div>
                                <div class="SlotPriceSlotCount">
                                    <div class="Count">
                                        <div class="Title">
                                            <img src="/Crown.png" />
                                        </div>
                                        <div class="Value">
                                            {{SlotCount}}
                                        </div>
                                    </div>
                                    <div class="Price">
                                        <div class="Title">
                                            <img src="/TokenManyFront.svg" />
                                        </div>
                                        <div class="Value">
                                            {{SlotPrice}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="SimilarItemCompetitionBoxWatchlistLive">
                            </div>
                        </div>
                        {{else}}
                        <div class="SimilarItemCompetitionBoxSectionNotLive">
                            <div class="SimilarItemCompetitionBoxSectionLeftNotLive">
                            </div>
                            <div class="SimilarItemCompetitionBoxInformationNotLive">
                                <div>
                                    This Competitions Begins In :
                                </div>
                                <div class="Countdown">
                                    {{SimilarItemCompetitiveNotLiveCountdown}}
                                </div>
                            </div>
                            <div class="SimilarItemCompetitionBoxTitleNotLive">
                                {{#if currentUser}} {{#if IsOnUserWatchList Competition_Id=_id}}
                                <i class="fa fa-star Watchlist-Star-Remove" style="color:#FFD700;" aria-hidden="true"></i> {{else}}
                                <i class="fa fa-star-o Watchlist-Star-Add" aria-hidden="true"></i> {{/if}} {{/if}}
                            </div>

                        </div>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}


        </div>

    </div>
    {{/if}}
</template>

<template name="ItemCompetitionCalculatingResults">
    <div class="ItemCompetitionCalculatingResults">
        <div class="Text">
            <div class="Top">This Competition Has Ended!</div>
            <div class="Bottom">Calculating Winners...</div>
        </div>
        <div class="SpinnerSection">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
</template>
