<template name="ItemCompetitionsListResult">
    <div class="ItemCompetitionsListResult">
        {{#if ItemCompetitionResult.DidWin}}
        <div class="WonTextTitle">You Won!</div>
        <div class="WonText">
            {{#each ItemCompetitionResult.WinningInfo}}
            <div>
                You received a
                <span class="Amount"><strong>{{Discount}}</strong></span> token discount on a <strong>{{Name}}</strong>!
            </div>
            {{/each}}

        </div>
        <a href="/Cart">
            <button>Go To Cart To Checkout!</button>
        </a>
        {{else}}
        <div class="CompetitionCompleteInformation">
            <div class="Title">This Competition Has Ended!</div>
            <div class="RewardedText">
                The Winners Have Been Rewarded.
            </div>
            <div class="FinalCount">
                <div class="Text">
                    Final Slot Count :
                </div>
                <div class="Amount">
                    {{ItemCompetition.SlotCount}}
                </div>
            </div>
        </div>

        {{/if}}
    </div>
</template>
