<template name="ItemCompetitionGrid">
    <div class="ItemCompetitionGridHeader">
        <div class="ItemCompetitionGridHeaderSlotCount">
            <div class="Title">
                <img src="/Crown.png" />
            </div>
            <div class="Value">
                {{ItemCompetition.SlotCount}}
            </div>
        </div>

        <div class="ItemCompetitionGridHeaderCountdown">
            <div class="Title">
                <i class="material-icons">access_time</i>
            </div>
            <div class="Value">
                {{ItemCompetitionCountdown Competition=ItemCompetition}}
            </div>
        </div>
        <div class="ItemCompetitionGridHeaderSlotPrice">
            <div class="Title">
                <img src="/TokenSingle.svg" />
            </div>
            <div class="Value">
                {{ItemCompetition.SlotPrice}}
            </div>
        </div>
    </div>
    <div class="GridSectionAndUserInformation">
        <div class="GridItemProgress">
            <div class="Item">
                <div class="Name" style="font-size:{{ItemNameSize}}">
                    {{ItemCompetition.Item.Name}}
                </div>
                <div class="ItemImage">
                    <img src="{{ItemCompetition.Item.Main_Image}}" />
                </div>

            </div>

            <!-- {{Progress ProgressInfo=ItemCompetition.Progress}}
            <div id="progressbar"></div> -->
            <div class="progressbar">
                <svg viewBox="0 0 10 100" preserveAspectRatio="none" style="display: block; width: 100%; height:100%;">
                    <path d="M 5,0 L 5,100" stroke="#eee" stroke-width="10" fill-opacity="0"></path>
                    <path d="M 5,0 L 5,100" stroke="#e04e4b" stroke-width="10" fill-opacity="0" style="stroke-dasharray: 100, 100; stroke-dashoffset: -{{Progress ProgressInfo=ItemCompetition.Progress}};"></path>
                </svg>
                <div class="progressbar-text" style="color: rgb(44, 62, 80);">
                    <div>
                        {{ProgressText ProgressInfo=ItemCompetition.Progress}} ({{ProgressValue}})
                    </div>
                </div>
            </div>
        </div>
        <div class="GridSection">
            <div class="NavigationButtons">
                {{#if Arrows}}
                <div class="LeftArrowSection">
                    {{#if LeftArrow}}
                    <i class="material-icons LeftArrow">keyboard_arrow_left</i> {{/if}}
                </div>
                {{/if}} {{#if ZoomOut}}
                <div class="ZoomOutButton">
                    <img class="ZoomOut" src="/Zoom.svg" />
                </div>
                {{/if}} {{#if Arrows}}
                <div class="RightArrowSection">
                    {{#if RightArrow}}
                    <i class="material-icons RightArrow">keyboard_arrow_right</i> {{/if}}
                </div>
                {{/if}}
            </div>
            {{> Template.dynamic template=ItemCompetitionGrid data=ItemCompetitionGridData}}
        </div>
        <div class="GridSlotInformation">
            <div class="GridSlotInformationReservedSlots">
                <div class="GridSlotInformationReservedSlotsTitle">Slot Feed</div>
                <div class="GridSlotInformationReservedSlotsSlots">
                    {{#each ItemCompetitionPlacedSlots}}
                    <div class="Slot">
                        <div class="SlotNumber">
                            {{this.Slot}}
                        </div>
                        <div class="Price">
                            <img src="/TokenManyTop.svg" /> <span>{{this.Price}}</span>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{#if currentUser}}
                {{#if IsUserEntered}}
            <div class="GridSlotInformationUserSlots">
                <div class="GridSlotInformationUserSlotsTitle">Your Slots</div>
                <div class="GridSlotInformationUserSlotsSlots">
                    {{#each ItemCompetitionUserSlots}}
                    <div class="Slot">
                        <div class="SlotNumber">
                            {{this.Slot}}
                        </div>
                        <div class="Price">
                            <img src="/TokenManyTop.svg" /><span>{{this.Price}}</span>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="GridSlotInformationUserSettings">
                {{#if currentUser.CompetitionSettings.FastSlots}}
                <div class="FastSlots Enabled">Quick Click</div>
                {{else}}
                <div class="FastSlots">Quick Click</div>
                {{/if}}
            </div>
            {{/if}}
            {{/if}}
            <div class="EntrantCount">
                <div class="Title">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <div class="Value">
                    {{ItemCompetition.EntrantCount}}
                </div>
            </div>
        </div>
    </div>

</template>

<template name="ItemCompetitionGridOuter">
    <div class="GridButtons">
        <button class="OuterGridButton" data-gridnumbers="1000">1 - 1000</button>
        <button class="OuterGridButton" data-gridnumbers="2000">1001 - 2000</button>
        <button class="OuterGridButton" data-gridnumbers="3000">2001 - 3000</button>
        <button class="OuterGridButton" data-gridnumbers="4000">3001 - 4000</button>
        <button class="OuterGridButton" data-gridnumbers="5000">4001 - 5000</button>
        <button class="OuterGridButton" data-gridnumbers="6000">5001 - 6000</button>
        <button class="OuterGridButton" data-gridnumbers="7000">6001 - 7000</button>
        <button class="OuterGridButton" data-gridnumbers="8000">7001 - 8000</button>
        <button class="OuterGridButton" data-gridnumbers="9000">8001 - 9000</button>
        <button class="OuterGridButton" data-gridnumbers="10000">9001 - 10000</button>
        <button class="OuterGridButton" data-gridnumbers="11000">10001 - 11000</button>
        <button class="OuterGridButton" data-gridnumbers="12000">11001 - 12000</button>
    </div>
</template>

<template name="ItemCompetitionGridMiddle">
    <div class="GridButtons">
        {{#each MiddleGridButtons}}
        <button class="MiddleGridButton" data-middlegridnumbers="{{this.GridRange}}">{{this.GridNumberButton}}</button>
        {{/each}}
    </div>
</template>

<template name="ItemCompetitionGridInner">

    {{#if Template.subscriptionsReady}}
    <div class="GridButtons">
        {{#each InnerGridButtons}}
        <button class="InnerGridButton {{SlotUser Slot=this}}" data-innergridnumber="{{this.Slot}}" disabled={{DisableSlot Slot=this}}>{{this.Slot}}</button>
        {{/each}}
    </div>
    <div data-remodal-id="SlotBuyTokensModal" class="SlotBuyTokensModal">
        {{>ItemCompetitionGridInnerTokenBuyModal}}
    </div>
    <div class="remodal SlotBuyModal" data-remodal-id="SlotBuyModal">
        {{>ItemCompetitionGridInnerSlotBuyModal}}
    </div>
    {{/if}}
</template>
<template name="ItemCompetitionGridInnerSlotBuyModal">
  {{#if ItemCompetitionModalSlot}}
    <button data-remodal-action="close" class="remodal-close"></button>
    {{#if $eq ItemCompetitionModalSlot.User null}}
    <div class="SlotBuyModalSection">
        <div class="SelectedText">
            You have selected slot <span class="Value">{{ItemCompetitionModalSlot.Slot}}</span>
        </div>
        <div class="SelectedCost">
            This slot costs <img src="/TokenSingle.svg" /><span class="Value">{{CompetitionPrice}}</span>
        </div>
        <button class="BuySlotButton">Purchase Slot</button>
    </div>
    {{else}} {{#if $eq ItemCompetitionModalSlot.User currentUser._id}}
    <div class="SlotBuyModalSectionSuccess">
        <i class="fa fa-check" aria-hidden="true"></i>
        <div class="SelectedText">
            <span>Congratulations, you've bought slot </span><span class="Value">{{ItemCompetitionModalSlot.Slot}}</span>
        </div>
        <button data-remodal-action="close">Return To Competition</button>
    </div>

    {{else}}
    <div class="SlotBuyModalFailure">
        <div>
            Sorry, <span class="Value">{{ItemCompetitionModalSlot.Slot}}</span> has been taken!
        </div>
        {{#if currentUser.CompetitionSettings.FastSlots}}
        <button class="FastSlotsEnabled">
            Quick Click Enabled
        </button>
        {{else}}
        <button class="FastSlots">
            Turn on quick click
        </button>
        {{/if}}

        <button data-remodal-action="close" class="ReturnToCompetition">Return To Competition</button>

    </div>
    {{/if}} {{/if}}{{/if}}

</template>
<template name="ItemCompetitionGridInnerTokenBuyModal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div class="ItemCompetitionGridInnerTokenBuyModalSection">
        {{> Template.dynamic template=ItemCompetitionGridInnerTokenBuyModalTemplate}}
    </div>
</template>

<template name="ItemCompetitionGridInnerTokenBuyModalPurchaseSection">
    <h2>You have insufficient funds. Purchase more tokens to proceed.</h2>
    <div class="BuyTokensSection">
        <div class="BuyTokenSectionSliderInput">
            <div id="slider"></div>
            <div class="slider-input-container">
                <input id="slider-input" value="{{TokenBuyAmount}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="5" />
            </div>
        </div>
        <div class="BuyTokenSectionSavingCostBuy">
            <div class="FreeTokensTitle">Free Tokens</div>
            <div class="FreeTokensAmount">
                {{FreeTokenAmount}}
            </div>
            <div class="TokenCostAmountTitle">Cost</div>
            <div class="TokenCostAmount">
                ${{TokenCostAmount}}
            </div>
        </div>

    </div>
    <div class="BuyTokenPaymentInformation">
        {{#if NewOrSaved}}
        <div class="TokenPaymentInformationBox">
            <form class="NewPaymentInformationTokens">
                <div class="AddPaymentMethodForm">
                    <div class="NameOnCardSection">
                        <label>Name On Card</label>
                        <input class="cc-name" placeholder="Name on Card" />
                    </div>

                    <div class="CardNumberSection">
                        <label>Card Number</label>
                        <input class="cc-num" placeholder="Card Number" />
                    </div>
                    <div class="CVCExpirationSection">
                        <div>
                            <label>CVC</label>
                            <input class="cc-cvc" placeholder="CVC" />
                        </div>
                        <div>
                            <label>Expiration Date</label>
                            <input class="cc-exp" placeholder="MM/YYYY" />
                        </div>
                        <div>
                            <label>Zipcode</label>
                            <input class="cc-zip" placeholder="Zipcode" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                        </div>
                    </div>
                </div>
                <div id="error">

                </div>
                <button type="submit" id="BuyTokensButton">Buy Tokens</button>
            </form>
        </div>
        <script>
            $('input.cc-num').payment('formatCardNumber');
            $('input.cc-exp').payment('formatCardExpiry');
            $('input.cc-cvc').payment('formatCardCVC');
            $('[data-numeric]').payment('restrictNumeric');
        </script>
        {{else}}
        <div class="SavedPaymentInformationCardSection">
            <h2>2. Select Payment Option</h2>
            <div class="DefaultPaymentDropdown">
                {{#with DefaultPaymentMethod}}
                <div class="PaymentDropdownBox {{DesiredPaymentMethod Id=DefaultPaymentMethod.id}}">
                    <div class="PaymentDropdownBoxCardInformation">
                        <div><strong>{{DefaultPaymentMethod.name}}</strong></div>
                        <div>
                            {{#if $eq DefaultPaymentMethod.brand "Visa"}}
                            <i class="fa fa-cc-visa"></i> ending in {{DefaultPaymentMethod.last4}} {{/if}} {{#if $eq DefaultPaymentMethod.brand "MasterCard"}}
                            <i class="fa fa-cc-mastercard"></i> ending in {{DefaultPaymentMethod.last4}} {{/if}} {{#if $eq DefaultPaymentMethod.brand "American Express"}}
                            <i class="fa fa-cc-amex"></i> ending in {{DefaultPaymentMethod.last4}} {{/if}} {{#if $eq DefaultPaymentMethod.brand "Discover"}}
                            <i class="fa fa-cc-discover"></i> ending in {{DefaultPaymentMethod.last4}} {{/if}}
                        </div>
                        <div>
                            {{DefaultPaymentMethod.exp_month}} / {{DefaultPaymentMethod.exp_year}}
                        </div>
                    </div>
                    {{#if DesiredPaymentMethodCheck Id=DefaultPaymentMethod.id}}
                    <div>
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    {{/if}}
                </div>
                {{/with}} {{#each AlternativePaymentMethods}}
                <div class="PaymentDropdownBox {{DesiredPaymentMethod Id=this.id}}" id="{{@index}}">
                    <div class="PaymentDropdownBoxCardInformation">
                        <div style="text-transform: capitalize;">
                            <strong>{{name}}</strong>
                        </div>
                        <div>
                            {{#if $eq brand "Visa"}}
                            <i class="fa fa-cc-visa"></i> ending in {{last4}} {{/if}} {{#if $eq brand "MasterCard"}}
                            <i class="fa fa-cc-mastercard"></i> ending in {{last4}} {{/if}} {{#if $eq brand "American Express"}}
                            <i class="fa fa-cc-amex"></i> ending in {{last4}} {{/if}} {{#if $eq brand "Discover"}}
                            <i class="fa fa-cc-discover"></i> ending in {{last4}} {{/if}}
                        </div>
                        <div>
                            {{exp_month}} / {{exp_year}}
                        </div>
                    </div>
                    {{#if DesiredPaymentMethodCheck Id=this.id}}
                    <div>
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    {{/if}}
                </div>
                {{/each}}
                <div class="remodal" data-remodal-id="AddNewPaymentMethodModal">
                    <button data-remodal-action="close" class="remodal-close"></button>
                    {{>TokenAddPaymentMethod}}
                </div>
                <div class="AddNewPaymentMethodButton">
                    <div>
                        Add New <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>

            </div>
            <div id="error">
            </div>

            <form class="BuyTokensForm">
                <button type="submit" class="ProceedToPaymentSectionButton" id="BuyTokensButton">Buy Tokens</button>
            </form>
        </div>
        {{/if}}
    </div>
</template>

<template name="ItemCompetitionGridInnerTokenBuyModalPurchaseSuccess">
    success
    <button>Return to competition</button>
</template>

<template name="ItemCompetitionGridInnerTokenBuyModalAddPaymentMethod">
    <h2 align="center">Add Payment Method</h2>
    <form id="AddNewPaymentForm">
        <div class="AddPaymentMethodForm">
            <div class="NameOnCardSection">
                <label>Name On Card</label>
                <input class="cc-name" placeholder="Name on Card" />
            </div>

            <div class="CardNumberSection">
                <label>Card Number</label>
                <input class="cc-num" placeholder="Card Number" />
            </div>
            <div class="CVCExpirationSection">
                <div>
                    <label>CVC</label>
                    <input class="cc-cvc" placeholder="CVC" />
                </div>
                <div>
                    <label>Expiration Date</label>
                    <input class="cc-exp" placeholder="MM/YYYY" />
                </div>
                <div>
                    <label>Zipcode</label>
                    <input class="cc-zip" placeholder="Zipcode" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                </div>
            </div>
        </div>
        <div id="error">

        </div>
        <button type="submit" id="BuyTokensButton">Add Payment</button>
    </form>
</template>
