<template name="ItemCompetitionEntrantModal">
  <button data-remodal-action="close" class="remodal-close"></button>
{{> Template.dynamic template=ItemCompetitionEntrantModalTemplate}}
</template>

<template name="RequestEntrance">
  <div class="RequestEntranceSection">
    <div class="Title">
      Competition Entrance Request
    </div>
    <div class="Bottom">
      <div class="Item">
        <div class="Image">
          <img src="{{CompetitionInformation.Item.Main_Image}}" />
        </div>
      </div>
      <div class="Information">
        <div class="FirstText">
          You are requesting entrance into a competition for a <span>{{CompetitionInformation.Item.Name}}</span>.
        </div>
      <div class="Cost">
        <span>The entrance cost is </span><img src="/TokenManyFront.svg" /><span class="Value"> 5</span>.
      </div>
      <div id="error">

      </div>
      <button id="PurchaseEntrance"><i class="fa fa-sign-in" aria-hidden="true"></i> Purchase Entrance</button>
        </div>
    </div>


    </div>
</template>

<template name="EntranceGranted">
  <div class="EntranceGrantedSection">
    <div class="Title">
      Congratulations, you've successfully entered this competition!
    </div>
    <div class="Image"><i class="fa fa-check-circle-o" aria-hidden="true"></i></div>
    <div class="PrepareCloseSection">
      <button class="PrepareButton">Prepare</button>
    </div>
  </div>
</template>
