<template name="ItemCompetitionsListWatchList">
    <div class="ItemCompetitionsContent">
         {{#transition in="fadeIn" out="fadeOut"}}{{#if Template.subscriptionsReady}} {{#if ItemCompetitions.count}} {{#each Competition in ItemCompetitions}}
        <div class="ItemCompetitionBox" data-itemcompetitionid="{{Competition._id}}">
          <div class="LeftInformation">
              <div class="Image">
                  <a href="/Item/{{Competition.Item._id}}">
                      <img src="{{Competition.Item.Main_Image}}" />
                  </a>
              </div>
          </div>
            <div class="RightInformation">
                <div class="Header">
                    <div style="font-size:{{ItemNameSize Name=Competition.Item.Name}}">{{Competition.Item.Name}}</div>
                    {{#with Competition}}{{#unless Competition.HasBeenWon}}
                    <i class="fa fa-times fa-lg Watchlist-X-Remove" style="color:#e04e4b;" aria-hidden="true"></i>{{/unless}}{{/with}}
                </div>
                <div class="ItemCompetitionInformation">
                    {{#with Competition}} {{#if Competition.HasBeenWon}} {{#if Competition.WinnersCalculated}} {{>ItemCompetitionsListResult}} {{else}}
                    <div class="CompetitionEndedCalculatingSection">
                        <div class="Top">
                            <div>This Competition Has Ended!</div>
                        </div>
                        <div class="Bottom">
                            <div class="Text">
                                Calculating Winners...
                            </div>

                            <div class="spinner">
                                <div class="double-bounce1"></div>
                                <div class="double-bounce2"></div>
                            </div>
                        </div>
                    </div>
                    {{/if}} {{else}} {{#if Competition.IsLive}}
                    <div class="ItemCompetitionInformationLive">
                        <div id="progressbar" style="position: relative;">
                            <svg height="100%" width="100%" viewBox="0 0 30 100" preserveAspectRatio="none">
                                <path d="m15,0 l 0,100" stroke="#eee" stroke-width="30" fill-opacity="0"></path>
                                <path d="m15,0 l 0,100" stroke="#e04e4b" stroke-width="30" fill-opacity="0" style="stroke-dasharray: 100, 100; stroke-dashoffset: -{{Progress}};"></path>
                            </svg>
                            <strong><p class="progressbar-text" style="position: absolute; top: 50%; width:100%; text-align:center;padding: 0px; margin: 0px; color: rgb(44, 62, 80);">{{ProgressText}}</p></strong>
                        </div>
                        <div class="CountdownButton">
                            <div class="Countdown">
                                {{ItemCompetitiveLiveCountdown}}
                            </div>
                            <div class="CompetitionButtonSection">
                              {{#if IsUserEntered}}
                              <button class="CompetitionButton CompeteButton" data-itemcompetitionid="{{Competition._id}}">Compete</button>
                              {{else}}
                              <button class="CompetitionButton"><i class="fa fa-eye" aria-hidden="true"></i> Spectate</button>
                              {{/if}}

                            </div>

                        </div>
                        <div class="PriceCount">
                            <div class="Count">
                                <div class="Title">
                                    <img src="Crown.png" />
                                </div>
                                <div class="Value">
                                    {{Competition.SlotCount}}
                                </div>
                            </div>
                            <div class="Price">
                                <div class="Title">
                                    <img src="/TokenManyFront.svg" />
                                </div>
                                <div class="Value">
                                    {{Competition.SlotPrice}}
                                </div>
                            </div>
                        </div>




                    </div>
                    {{else}}
                    <div class="ItemCompetitionInformationNotLive">
                        <div id="progressbar" style="position: relative;">
                            <svg height="100%" width="100%" viewBox="0 0 30 100" preserveAspectRatio="none">
                                <path d="m15,0 l 0,100" stroke="#eee" stroke-width="30" fill-opacity="0"></path>
                                <path d="m15,0 l 0,100" stroke="#e04e4b" stroke-width="30" fill-opacity="0" style="stroke-dasharray: 100, 100; stroke-dashoffset: -{{Progress}};"></path>
                            </svg>
                            <strong><p class="progressbar-text" style="position: absolute; top: 50%; width:100%; text-align:center;padding: 0px; margin: 0px; color: rgb(44, 62, 80);">{{ProgressText}}</p></strong>
                        </div>
                        <div class="Countdown">
                            <div class="Title">
                                This Competition Begins In :
                            </div>
                            <div class="CompetitionCountdown">
                                <strong>{{ItemCompetitiveNotLiveCountdown}}</strong>
                            </div>
                            <div class="ButtonSection">


                                    {{#if IsUserEntered}}
                                    <a href="/ItemCompetition/{{Competition._id}}">
                                    <button class="PrepareButton"><i class="fa fa-sign-in" aria-hidden="true"></i> Prepare</button>
                                    </a>
                                    {{else}}
                                    <button class="EnterCompetitionButton">Enter</button>
                                    {{/if}}
                            </div>
                        </div>
                        <div class="EntrantCount">
                            <div class="Title">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                            <div class="Value">
                                {{Competition.EntrantCount}}
                            </div>
                        </div>
                    </div>
                    {{/if}} {{/if}} {{/with}}
                </div>
            </div>

        </div>
        {{/each}} {{else}}
        <div class="AddContentToWatchListNotification">
          <div class="Notification">
              Click the stars to add competitions to your watchlist!
          </div>
          <div class="Icon">
              <i class="fa fa-star" aria-hidden="true"></i>
          </div>
        </div>


        {{/if}} {{/if}}{{/transition}}
        <div data-remodal-id="ItemCompetitionEntrantModal" class="ItemCompetitionEntrantModal">
            {{>ItemCompetitionEntrantModal}}
        </div>
    </div>
    <div class="NextPreviousButtons">
        {{#if PreviousButton}}
        <div class="PreviousPage">
            <button class="PreviousPageButton"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</button>
        </div>

        {{/if}} {{#if NextButton}}
        <div class="NextPage">
            <button class="NextPageButton">
                <span>Next </span><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
        {{/if}}
    </div>
</template>
