<template name="ItemCompetitionsPage">
    <div class="ItemCompetitionsContainerContent">
        {{> notifications}}
            <div class="CompetitionWatchlistButtonsAndNotification">
                {{#if currentUser}}
                <div class="ButtonSection">
                    <button class="GoToCompetitionsButton" disabled="{{IsDisabled Button='Main'}}">
                            <div>
                              <img src="/Swords.svg" /> <span> Competitions</span>
                            </div>
                    </button>
                    <button class="GoToCompetitionsEnteredButton" disabled="{{IsDisabled Button='CompetitionsEntered'}}">
                            <div>
                              <i class="fa fa-sign-in" aria-hidden="true"></i> <span> Entered</span>
                            </div>
                    </button>
                    <button class="GoToWatchlistButton" disabled="{{IsDisabled Button='Watchlist'}}">
                            <div>
                              <i class="fa fa-star fa-lg" aria-hidden="true"></i> <span> Watchlist</span>
                            </div>
                    </button>
                </div>
                <div>

                </div>
                {{/if}}
                <div class="NotificationSection">
                  <!-- {{#transition in="zoomIn" delay="200"}} -->
                  {{#each Notification}}

                  {{#animate type="shake" delay="200"}}
                  <div class="Notification">
                    {{#if $eq Type "Information"}}
                    <div class="InformationType">
                      <i class="fa fa-info" aria-hidden="true"></i>
                    </div>
                    <div class="InformationText">
                      {{Text}}
                    </div>
                    {{/if}}
                    {{#if $eq Type "Warning"}}
                    <div class="WarningType">
                      <i class="fa fa-exclamation" aria-hidden="true"></i>
                    </div>
                    <div class="WarningText">
                      {{Text}}
                    </div>
                    {{/if}}
                    {{#if $eq Type "Addition"}}
                    <div class="AdditionType">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                    <div class="AdditionText">
                      {{Text}}
                    </div>
                    {{/if}}

                  </div>

{{/animate}}
                  {{/each}}
                                  <!-- {{/transition}} -->
                </div>
            </div>

        <div class="ItemCompetitionsPageContainer">
            {{#if Template.subscriptionsReady}}{{>Template.dynamic template=ItemCompetitionListOrWatchlist}}{{/if}}
        </div>
    </div>
</template>
