<template name="Privacy">
    <div class="PrivacyPolicy">
        <div class="PrivacyTitle">
            PRIVACY POLICY
        </div>
        <p>
            Spargain provides unique competitive experience and an opportunity to purchase products at a heavily discounted price or win them for free. You will compete in competitions with a virtual currency purchased through the website (non-refundable or exchangeable
            once purchased) or obtained for free by completing quests. The quests will consist of customers referring people to create an account on the website and purchasing tokens as well as customers advertising by sharing Spargain on social media.
            This Privacy Policy describes the Company’s privacy practices as they pertain to our website located at www.spargain.com. WHAT INFORMATION WE COLLECT, AND HOW WE USE IT The Company collects information from our users when they register, or
            seek additional information regarding our services or employment opportunities. Some of these forms may ask users to give us contact information, unique personal identifiers, financial information, subject areas of interest and/or demographic
            information. We may use this data to tailor the visitor’s experience at our Site or, if applicable, to assess candidacy and qualifications for employment with the Company. We sometimes aggregate demographic information, and the types of systems
            and browsers of users for internal purposes, so that we may better understand the user population of our Site, identify subject areas of interest, and determine whether the Site is designed to work with the computer settings of a majority
            of our visitors. Any personal information that you provide, such as your name, address, e-mail address, phone number, subject areas of interest, etc., allows the Company to inform you about updates to the service and to notify you about other
            products and services offered by the Company. We will not sell, share, or rent or otherwise make available any of that information to other parties, except that we may disclose the information to third parties who perform services on our behalf
            and have a need to access the information in connection with those services. In addition, the Company may disclose contact information for you in response to inquiries by bona-fide rights owners in connection with allegations of infringement
            of copyright or other proprietary rights arising from information provided to the Company. E-MAIL ADDRESSES The Company may collect the e-mail addresses at the point of registration, and of those who send us e-mail messages or express interest
            regarding our services or employment opportunities. The Company will not, however, share any e-mail addresses with any third party or send unsolicited e-mail to any of the addresses collected, except in very limited circumstances as set forth
            in this policy.
        </p>



        <div class="LesserTitle">
            COOKIES
        </div>
        <p>
            The Company may use browser cookies on this Site to keep track of your visit to our Site. A “cookie” is a small amount of data that is sent from a Web server to your browser and stored on your computer’s hard drive. Use of cookies may allow the Company
            to provide a higher quality, more relevant, customer experience. Use of cookies may also allow the Company to automate entry into password protected portions of the Site so that you will not need to re-enter your password each time you visit
            our Site. We may also use cookies to track which areas of the web site are most popular with our users and to further the Company’s understanding concerning overall use of the site. With most Internet Browsers, you can erase cookies from your
            computer hard drive, block all cookies, or receive a warning before a cookie is stored on your computer. Please refer to your browser instructions or a help screen to learn more about these functions and how to use them. Please be advised
            that certain sections or functionalities of the Site may be inaccessible to you if your browser does not accept cookies.
        </p>
        <div class="LesserTitle">
            INTERNATIONAL TRANSFER OF INFORMATION
        </div>
        <p>
            Information that the Company collects may be stored and processed in and transferred between any of the countries in which the Company operates to enable the use of the information in accordance with this privacy policy. You agree to such cross-border
            transfers of personal information.
        </p>
        <div class="LesserTitle">
            SECURITY PROCESSES
        </div>
        <p>
            Although we take steps that are generally accepted as industry standard to protect your personally-identifiable information, the Company cannot guarantee that your personally-identifiable information will not become accessible to unauthorized persons.
            When personal information (such as a credit card number) is transmitted to other Web sites, it is protected through the use of encryption, such as the Secure Socket Layer (SSL) protocol.
        </p>
        <div class="LesserTitle">
            LINKS TO OTHER WEB SITES
        </div>
        <p>
            The Company is not responsible for the privacy practices or the content of any third party web sites to which we link from this Site.
        </p>
        <div class="LesserTitle">
            COMPLIANCE WITH LAW
        </div>
        <p>
            The Company complies with all applicable privacy laws and regulations. The Company may be compelled to surrender personal user or customer information to legal authorities without express user consent if presented with a court subpoena or similar legal
            or administrative order, or as required or permitted by the laws, rules and regulations of any nation, state or other applicable jurisdiction. Also, in the event of a violation of the terms and conditions of use of this Site or a violation
            of any restrictions on use of materials provided in or through this Site, we may disclose personal user information to our affected business partners or legal authorities.
        </p>
        <div class="LesserTitle">
            CHANGE AND/OR DELETE INFORMATION
        </div>
        <p>
            You may access, correct, update, and/or delete as the case may be, any personally-identifiable information that you submit to the Company through this Site or through other means.
        </p>
        <div class="LesserTitle">
            USE OF THE WEBSITE
        </div>
        <p>
            Your access to and use of the Site are subject to certain terms and conditions, which are summarized in our <a href="Terms">Terms and Conditions</a>.
        </p>
        <div class="LesserTitle">
            CHANGES TO THE PRIVACY POLICY
        </div>
        <p>
            The Company may occasionally update this Privacy Policy to reflect company and customer feedback. The Company encourages you to periodically review this page to be informed of how your information is being protected.
        </p>
        <div class="LesserTitle">
            CONTACT US
        </div>
        <p>
            If you have any questions about this Privacy Policy, please contact us at Support@Spargain.com.</p>



    </div>
</template>
