<template name="Terms">
    <div class="Terms">
        <div class="TermsTitle">
            Terms of Use
        </div>

        <div>
            <p>
                These Terms and Conditions of Use (“T&C”) of Spargain apply to your use of and registration with www.spargain.com. These T&Cs apply to all online competitions conducted by with the Company (“OC”). By registering to participate in OC, you expressly agree
                to these T&Cs. PLEASE READ THESE TERMS AND CONDITIONS BEFORE ACCESSING, BROWSING, OR OTHERWISE USING THE SITE Your access to, and browsing, review and use of the Site is subject to these T&C and any applicable laws. By accessing and using
                the Site, you accept these T&C, without limitation or qualification. If you do not agree to the T&C, do not use the Site. If, at any time, any part of the T&C is no longer acceptable to you, immediately terminate your use of the Site.
            </p>
            <div class="LesserTitle">
                1. RIGHT TO CHANGE, MODIFY OR DELETE T&C
            </div>
            <p>
                The Company reserves the right to change, modify, add or delete portions of the T&C at any time, without prior notice. Please keep reviewing the T&C periodically for changes. Your continued use of the Site will mean that you automatically accept such
                changes and/or deletions.
            </p>
            <div class="LesserTitle">
                2. Eligibility
            </div>
            <p>


                By accepting the Terms of Use and/or registering with Spargain, You confirm that You are at least 18 years of age and at least age of majority under applicable laws of the country, state, city, or other jurisdiction (each, a &quot;Jurisdiction&quot;)
                of Your residence, that You can engage in a binding contract. By using Spargain, You warrant that You have the right, authority, and capacity to enter into this agreement and accept all of the Terms &amp; Services and also You must reside in the Contiguous United States.
            </p>
            <div class="LesserTitle">
                3. PRIVACY
            </div>
            <p>
                Please refer to the Privacy Policy (provide hyperlink) for information regarding the Company’s collection, use, and storage of users’ information.
            </p>
            <div class="LesserTitle">
                4. REGISTRATION
            </div>
            <p>
                Before you can participate in the OC, you must register to bid online. The registration page can be accessed by clicking here (provide hyperlink). Once you have registered you should keep your account details strictly confidential and you must not permit
                any third party to use or access your account on your behalf or otherwise. You will be liable for any and all activity made via your account.
            </p>
            <div class="LesserTitle">
                5. OC TOKENS
            </div>
            <p>

                Once you have successfully registered, you will be eligible to participate in the Online Competitions. To participate in an OC, you will require virtual currency (“Tokens”) which can be obtained in two ways. The first mode is to buy Tokens from the Website
                and the second is to complete quests. Quests include but are not limited to referring people to create an account on the Website and purchasing tokens as well as advertising by sharing the Website and OC on social media (Please refer to
                FAQs) (provide hyperlink).
            </p>
            <div class="LesserTitle">
                6. OC PROCESS
            </div>
            <p>
                The Tokens can be used to enter in an OC, which will give you a chance to win a designated item either for free or at a discounted rate depending on your ranking in the OC. You agree that the submission of Tokens in an OC are irrevocable and cannot be
                amended or corrected, even if submitted in error and notified to us. You accept full liability for all Tokens submitted via your account (including the liability to pay in full and on time in accordance with the conditions of claiming
                any item won in an OC submitted from your account). You agree to pay for and collect any item that is the subject of a successful game played by you or from your online bidding account, in accordance with the winning conditions of the
                OC. Please note that the Company reserves the right to reject a registration, withdraw its permission for you to play the OC, or terminate an online account, for any reason at any time prior to, during or after an OC. 6. USE OF THE OC
                AND LIMITATIONS ON BONHAMS' LIABILITY If you choose to play the OC, you do so entirely at your own risk. Access to and use of the Website and OCs is dependent upon, among other things, the availability of the internet and the speed and
                quality of internet connections. Access to the online bidding service is made available as a convenience and the Company reserves the right to suspend or terminate any aspect or feature the Website at any time, with or without notice.
                Without limiting the foregoing, The Company may suspend access to the Website to carry out scheduled or unscheduled maintenance or for any other reason at any time.

            </p>
            <div class="LesserTitle">
                7. ITEMS IN OC
            </div>
            <p>
                The descriptions of items appearing in the OC are believed to be correct. Nevertheless, neither those descriptions nor any oral statements made by the Company concerning any items shall be construed as a warranty either express or implied. ITEMS ARE SOLD
                AS IS - WHERE IS and WITH ALL FAULTS. The Company does not have control over the items that are posted in the OCs, and cannot guarantee the authenticity and quality of said product. Auctioneer is not responsible for the actions that you
                take before, during, and after the auction, typographical errors, misprints, loss of merchandise/money, damage or failure of equipment, due to your visit to this auction site. Use of this site is at your own risk. Some states do not allow
                the disclaimer of implied warranties, so the foregoing disclaimer may not apply to you. This warranty gives you specific legal rights and you may also have other legal rights which vary from state to state.
            </p>
            <div class="LesserTitle">
                8. COPYRIGHT AND USE OF SITE CONTENT
            </div>
            <p>
                This Site and all the information and data it contains, or may in the future contain, including, but not limited to, articles, memoranda, bulletins, reports, press releases, opinions, text, directories, guides, photographs, illustrations, trademarks,
                trade names, service marks and logos (collectively, the “Content”), is the property of the Company, and is protected from unauthorized copying and dissemination by U.S. Copyright law, trademark law, international conventions, and any other
                applicable laws. For trademarks, logos and any information displayed on the site owned by third parties, nothing contained on this Site should be construed as granting, by implication, estoppel, or otherwise, any license or right to use
                this Site or any Content displayed on this Site, without the prior written permission of the Company or such third party that may own the rights of material displayed on this Site. The Company does not grant any license or other permission
                for links or other use of the Site or its Content if such use or link: (a) suggests that the Company promotes or endorses any third party’s causes, ideas, political campaigns, web sites, products or services, (b) copies, displays, disseminates
                or otherwise uses the Content without the Company’s express written consent, or (c) uses the Content for commercial purposes. Furthermore, the Company does not grant its consent for links to the Site where the linking party engages in
                any Prohibited Conduct (as described in these Terms of Use). The Company reserves the right to withdraw permission for any link at any time.
            </p>
            <div class="LesserTitle">
                9. RESPONSES TO ONLINE REQUESTS
            </div>
            <p>
                From time to time, the Company may offer to provide information or materials via e-mail or otherwise to interested persons. The Company reserves the right, in its absolute discretion, to reject any requests for such information or materials, or to discontinue
                the provision of such information or materials to any person, for any reason whatsoever.
            </p>
            <div class="LesserTitle">
                10. PROHIBITED CONDUCT
            </div>
            <p>
                You may use the Site for lawful purposes only. You may not upload to, or distribute or otherwise publish through the Site, any Content that is any of the following: a) is libelous, defamatory, obscene, pornographic, abusive, harassing or threatening,
                or otherwise objectionable to the Company in the Company’s sole discretion; b) contains computer viruses, worms, moles or other contaminating or destructive elements; c) violates the rights of others, such as Content that infringes any
                copyright, trademark, patent, trade secret or violates any right of privacy or publicity; d) contains any false or misleading statement; e) contains advertising; or f) otherwise violates any applicable criminal or civil law. You may not
                use the Site for any commercial purpose and may not distribute over the Site any solicitation of funds, goods and services.
            </p>
            <div class="LesserTitle">
                11. NON-COMPETE
            </div>
            <p>
                You may not use the Site to solicit subscribers to join other online information services that are competitive with the Site.

            </p>
            <div class="LesserTitle">
                12. CONTENT MANAGEMENT AND REMOVAL
            </div>
            <p>
                If you believe that your intellectual property right (or such a right that you are responsible for enforcing) is infringed by any content on the Site, please write to the Company at [provide email address], giving a written statement that contains the
                following information: (a) an identification of the copyrighted work and/or intellectual property right claimed to have been infringed; (b) an identification of the allegedly infringing material on the Site that is requested to be removed;
                (c) your name, address, and an e-mail address; (d) a statement that you have a good faith belief that the use of the copyrighted work and/or exercise of the intellectual property right is not authorized by the owner, its agent, or the
                law; (e) a statement that the information in the notification is accurate, and, under penalty of perjury, that the signatory is authorized to act on behalf of the owner of the right that is allegedly infringed; and (f) the signature of
                the intellectual property right owner or someone authorized on the owner’s behalf to assert infringement of the right. The Company will remove any posted submission that infringes the copyright or other intellectual property right of any
                person upon receipt of such a statement.
            </p>
            <div class="LesserTitle">
                13. NON-ENDORSEMENT
            </div>
            <p>
                The Site may contain links to sites on the Internet that are owned and operated by third parties (the “External Sites”). You acknowledge that the Company is not responsible for the availability of, or the content or software applications located on or
                through any External Site. You should contact the site administrator or Webmaster for those External Sites if you have any concerns regarding such links or External Sites.

            </p>
            <div class="LesserTitle">
                14. SUBSCRIBER QUALIFICATIONS
            </div>
            <p>
                When registering with or applying to the Company you must provide accurate, complete, and current registration information and you agree to provide the Company with any updates to that information promptly after such changes occur. You shall be responsible
                for obtaining communication services, computer equipment and other products or services necessary to access and use the Site. You shall be responsible for all charges associated with accessing and maintaining a connection to the Site including,
                but not limited to, charges imposed by an Internet service provider, or your local telephone company.

            </p>
            <div class="LesserTitle">
                15. REGISTRANT INFORMATION
            </div>
            <p>
                The Company does not disclose any registrant information and all personal information is kept confidential. However, the Company shall have the right to disclose aggregate information about registrant usage and demographics in a manner that does not reveal
                the personal identity of any individual registrant. The Company shall have the right to send you electronic mail to inform you of changes or additions to the Site, or of any products and services of the Company. For additional information,
                see the Company’s Privacy Policy (hyperlink this).

            </p>
            <div class="LesserTitle">
                16. ACCESS TO AND AVAILABILITY OF THE SITE
            </div>
            <p>
                The Site may become unavailable to you as a result of maintenance, malfunction of computer hardware or software, or for other reasons, and may result in damages to your systems or operations. You shall be solely responsible for ensuring that any information
                or content obtained from the Site does not contain any virus, worm, mole or other computer software code or subroutine designed to disable, erase, impair or otherwise damage your systems, software, or data.
            </p>
            <div class="LesserTitle">
                17. RESTRICTION, SUSPENSION OR TERMINATION
            </div>
            <p>
                The Company reserves the right, in its sole discretion, to restrict, suspend or terminate your access to all or any part of the Site at any time for any reason without prior notice or liability and without any obligation to refund any portion of fees
                paid for any product or service. The Company may change, suspend or discontinue all or any aspect of the Site at any time, including the availability of any Site feature, database, or content, without prior notice or liability.
            </p>
            <div class="LesserTitle">
                18. DISCLAIMER OF WARRANTIES
            </div>
            <p>


                THE SITE AND THE CONTENT ARE DISTRIBUTED ON AN “AS IS, AS AVAILABLE” BASIS. NEITHER THE COMPANY, THIRD PARTY CONTENT PROVIDERS NOR THEIR RESPECTIVE AGENTS MAKE ANY WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, WARRANTIES
                OF TITLE OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, WITH RESPECT TO THE SITE, ANY CONTENT OR ANY PRODUCTS OR SERVICES SOLD OR DISTRIBUTED THROUGH THE SITE. YOU EXPRESSLY AGREE THAT THE ENTIRE RISK AS
                TO THE QUALITY AND PERFORMANCE OF THE SITE AND THE ACCURACY OR COMPLETENESS OF THE CONTENT IS ASSUMED SOLELY BY YOU. NEITHER THE COMPANY NOR ANY PROVIDER OF THIRD PARTY CONTENT OR THEIR RESPECTIVE AGENTS WARRANTS THAT THE SITE WILL BE
                UNINTERRUPTED OR ERROR-FREE; NOR DOES THE COMPANY, ANY THIRD PARTY CONTENT PROVIDER, OR THEIR RESPECTIVE AGENTS MAKE ANY WARRANTY AS TO THE RESULTS TO BE OBTAINED FROM USE OF THE SITE OR THE CONTENT. IF YOU ARE A CALIFORNIA RESIDENT, YOU
                HEREBY WAIVE CALIFORNIA CIVIL CODE SECTION 1542 THAT PROVIDES: “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM MIGHT
                HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE DEBTOR.” Limitation of Liability. UNDER NO CIRCUMSTANCES SHALL THE COMPANY NOR ANY THIRD PARTY CONTENT PROVIDER NOR THEIR RESPECTIVE PREDECESSORS, SUCCESSORS, PARENTS, SUBSIDIARIES, AFFILIATES,
                PAST OR PRESENT OFFICERS, DIRECTORS, SHAREHOLDERS, INVESTORS, EMPLOYEES, AGENTS, REPRESENTATIVES ATTORNEYS, LICENSORS OR INFORMATION PROVIDERS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT
                OF THE USE OF OR INABILITY TO USE THE SITE, EVEN IF SUCH PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. SOME STATES DO NOT ALLOW EXCLUSION OF IMPLIED WARRANTIES OR LIMITATION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES,
                SO THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT APPLY TO YOU. IN SUCH STATES, THE LIABILITY OF THE COMPANY, THIRD PARTY CONTENT PROVIDERS AND THEIR RESPECTIVE AGENTS SHALL BE LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW.
            </p>
            <div class="LesserTitle">
                19. INDEMNIFICATION
            </div>
            <p>
                You hereby agree to indemnify, defend and hold the Company, and all of its predecessors, successors, parents, subsidiaries, affiliates, and past and present officers, directors, shareholders, investors, employees, agents, information providers, attorneys,
                representatives licensors and information providers (collectively, the “Company Representatives”) harmless from and against any and all liability, losses, costs and expenses (including attorneys’ fees) incurred by the Company or any Company
                Representative in connection with any claim arising out of any use or alleged use by you of this site or arising out of or in relation to any breach by you of the Terms and conditions, or the representations, warranties and covenants you
                made by agreeing to these Terms and Conditions. The Company reserves the right, at its own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, and in such case, you agree to cooperate
                reasonably with the Company’s defense of such claim.
            </p>
            <div class="LesserTitle">
                20. CHOICE OF LAW
            </div>
            <p>
                The Terms and Conditions shall be construed in accordance with the laws of the State of Florida.

            </p>
            <div class="LesserTitle">
                21. ENTIRE AGREEMENT
            </div>
            <p>


                The Terms and Conditions constitute the entire agreement between the parties with respect to the subject matter hereof, and supersede all previous written or oral agreements between the parties with respect to such subject matter.
            </p>
            <div class="LesserTitle">
                22. NO AMENDMENT OR WAIVER
            </div>
            <p>


                The Terms and Conditions may not be amended except in writing signed by both parties and no waiver by either party shall be deemed a waiver of any preceding or subsequent breach or default, unless such a waiver is in writing and signed by an authorized
                representative of the Company.
            </p>
        </div>
    </div>
</template>
