<template name="Tokens">
    <div class="Tokens">
        <div class="TokensVertical">
            {{#if currentUser}}
            <div class="TokenCount" align="center">
                <div class="TokenCountTitle"><img src="/TokenManyFront.svg" /></div>
                <div class="TokenCountAmount" id="TokensSectionTokens">
                </div>
            </div>{{/if}}{{#transition in="fadeIn:350" out="fadeOut:350"}}
            <div class="TokensSection">
                {{>Template.dynamic template=TokenScreen}}
            </div>
            {{/transition}}
        </div>
    </div>
</template>
<template name="TokenBuy">
    <div class="BuyTokensSection">
        <div class="BuyTokenSectionSliderInput">
            <div id="slider"></div>
            <div class="slider-input-container">
                <input id="slider-input" value="{{TokenBuyAmount}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="5" />
            </div>
        </div>
        <div class="BuyTokenSectionSavingCostBuy">
            <div class="FreeTokensTitle">Free Tokens</div>
            <div class="FreeTokensAmount">
                {{FreeTokenAmount}}
            </div>
            <div class="TokenCostAmountTitle">Cost</div>
            <div class="TokenCostAmount">
                ${{TokenCostAmount}}
            </div>
        </div>

    </div>
    <div class="BuyTokenPaymentInformation">

        {{#transition in="fadeIn"}} {{#if currentUser}} {{#if RetrievePaymentMethodsReady}} {{#if NewOrSaved}}

        <form class="BuyTokensForm">
            <div class="AddPaymentMethodForm">
                <div class="NameOnCardSection">
                    <label>Name On Card</label>
                    <input class="cc-name" placeholder="Name on Card" />
                </div>

                <div class="CardNumberSection">
                    <label>Card Number</label>
                    <input class="cc-num" placeholder="Card Number" />
                </div>
                <div class="CVCExpirationSection">
                    <div>
                        <label>CVC</label>
                        <input class="cc-cvc" placeholder="CVC" />
                    </div>
                    <div>
                        <label>Expiration Date</label>
                        <input class="cc-exp" placeholder="MM/YYYY" />
                    </div>
                    <div>
                        <label>Zipcode</label>
                        <input class="cc-zip" placeholder="Zipcode" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                    </div>
                </div>
            </div>
            <div id="error">

            </div>
            <button type="submit" id="BuyTokensButton">Buy Tokens</button>
        </form>
        <script>
            $('input.cc-num').payment('formatCardNumber');
            $('input.cc-exp').payment('formatCardExpiry');
            $('input.cc-cvc').payment('formatCardCVC');
            $('[data-numeric]').payment('restrictNumeric');
        </script>
        {{else}}
        <div class="SavedPaymentInformationCardSection">
            <h2>Select Payment Option</h2>
            <div class="DefaultPaymentDropdown">
                {{#with DefaultPaymentMethod}}
                <div class="PaymentDropdownBox {{DesiredPaymentMethod Id=DefaultPaymentMethod.id}}">
                    <div class="PaymentDropdownBoxCardInformation">
                        <div><strong>{{DefaultPaymentMethod.name}}</strong></div>
                        <div>
                            {{#if $eq DefaultPaymentMethod.brand "Visa"}}
                            <i class="fa fa-cc-visa"></i> ending in {{DefaultPaymentMethod.last4}} {{/if}} {{#if $eq DefaultPaymentMethod.brand "MasterCard"}}
                            <i class="fa fa-cc-mastercard"></i> ending in {{DefaultPaymentMethod.last4}} {{/if}} {{#if $eq DefaultPaymentMethod.brand "American Express"}}
                            <i class="fa fa-cc-amex"></i> ending in {{DefaultPaymentMethod.last4}} {{/if}} {{#if $eq DefaultPaymentMethod.brand "Discover"}}
                            <i class="fa fa-cc-discover"></i> ending in {{DefaultPaymentMethod.last4}} {{/if}}
                        </div>
                        <div>
                            {{DefaultPaymentMethod.exp_month}} / {{DefaultPaymentMethod.exp_year}}
                        </div>
                    </div>
                    {{#if DesiredPaymentMethodCheck Id=DefaultPaymentMethod.id}}
                    <div>
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    {{/if}}
                </div>
                {{/with}} {{#each AlternativePaymentMethods}}
                <div class="PaymentDropdownBox {{DesiredPaymentMethod Id=this.id}}" id="{{@index}}">
                    <div class="PaymentDropdownBoxCardInformation">
                        <div style="text-transform: capitalize;">
                            <strong>{{name}}</strong>
                        </div>
                        <div>
                            {{#if $eq brand "Visa"}}
                            <i class="fa fa-cc-visa"></i> ending in {{last4}} {{/if}} {{#if $eq brand "MasterCard"}}
                            <i class="fa fa-cc-mastercard"></i> ending in {{last4}} {{/if}} {{#if $eq brand "American Express"}}
                            <i class="fa fa-cc-amex"></i> ending in {{last4}} {{/if}} {{#if $eq brand "Discover"}}
                            <i class="fa fa-cc-discover"></i> ending in {{last4}} {{/if}}
                        </div>
                        <div>
                            {{exp_month}} / {{exp_year}}
                        </div>
                    </div>
                    {{#if DesiredPaymentMethodCheck Id=this.id}}
                    <div>
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    {{/if}}
                </div>
                {{/each}}
                <div class="remodal AddNewPaymentMethodModal" data-remodal-id="AddNewPaymentMethodModal">
                    <button data-remodal-action="close" class="remodal-close"></button>
                    {{>TokenAddPaymentMethod}}
                </div>
                <div class="AddNewPaymentMethodButton">
                    <div>
                        Add New <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>

            </div>
            <div id="errorSaved">
            </div>
            <div>
                <form class="BuyTokensForm">
                    <button type="submit" class="ProceedToPaymentSectionButton" id="BuyTokensButton">Buy Tokens</button>
                </form>
            </div>

        </div>
        {{/if}} {{else}}
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        {{/if}} {{else}}
        <div class="NotLoggedInCardSection">
            <div class="Title">
                Please login or register to buy tokens.
            </div>
            <a href="/Register">
                <button>Register</button>
            </a>
        </div>{{/if}} {{/transition}}
    </div>


</template>

<template name="TokenBuySuccess">
    <div class="TokenBuySuccessSection">

        <div class="SuccessText">
          <div class="SuccessTextTitle">
            You've Purchased
          </div>
          <div class="Content">
            <img src="/TokenManyFront.svg" /> <span class="Value">{{TokenBuySuccessAmount.BoughtAmount}}</span>
          </div>
          {{#if $gt TokenBuySuccessAmount.FreeTokenAmount 0}}
          <div class="FreeTokenAmount">
            <span><i class="fa fa-check-circle" aria-hidden="true"></i> Free Tokens : </span> <span class="Amount"><img src="https://s3.amazonaws.com/spargainitemimages/Logos/TokenManyFront.svg" /> {{TokenBuySuccessAmount.FreeTokenAmount}}</span>
          </div>
          {{/if}}
        </div>
        <button class="BuyMoreTokensButton">Buy More Tokens</button>
    </div>
</template>

<template name="TokenAddPaymentMethod">
    <h2 align="center">Add Payment Method</h2>
    <form>
        <div class="AddPaymentMethodForm">
            <div class="NameOnCardSection">
                <label>Name On Card</label>
                <input class="cc-name" placeholder="Name on Card" />
            </div>

            <div class="CardNumberSection">
                <label>Card Number</label>
                <input class="cc-num" placeholder="Card Number" />
            </div>
            <div class="CVCExpirationSection">
                <div>
                    <label>CVC</label>
                    <input class="cc-cvc" placeholder="CVC" />
                </div>
                <div>
                    <label>Expiration Date</label>
                    <input class="cc-exp" placeholder="MM/YYYY" />
                </div>
                <div>
                    <label>Zipcode</label>
                    <input class="cc-zip" placeholder="Zipcode" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                </div>
            </div>
        </div>
        <div id="errorNew">

        </div>
        <button type="submit" id="AddPaymentSubmitButton">Add Payment</button>
    </form>
</template>
