<template name="FAQ">
    <div class="FAQSection">

        <div class="MainTitle">Frequently Asked Questions</div>
        <div class="Title">
            Q. Can there be multiple winners? Can one person win multiple times within the same competition?
        </div>
        <div class="Value">
            A. Yes to both questions! We believe in rewarding our users as much as possible.
        </div>


        <div class="Title">
            Q. Are tokens refunded if I don’t purchase a winning Spar Block?
        </div>

        <div class="Value">
            A. All tokens spent within a competition are non-refundable.
        </div>

        <div class="Title">
            Q. Can tokens be converted back into dollars?
        </div>

        <div class="Value">
            A. No, tokens cannot be exchanged for dollars. Tokens can only be used to purchase items on Spargain’s marketplace or used within competitions.
        </div>


        <div class="Title">
            Q. What is our return policy?
        </div>

        <div class="Value">
            A. At this time products only qualify for a return if they are affected by one of the issues listed below. We offer an exchange for the same exact product or a reimbursement in the form of tokens. Returns can be initiated in the order history section
            and must be done so within seven days after the product has been delivered.
            <ul>
                <li>
                    Product is damaged but shipping box OK
                </li>
                <li>
                    Missing parts or accessories
                </li>
                <li>
                    Product and shipping box both damaged
                </li>
                <li>
                    Item defective or doesn’t work
                </li>
            </ul>
        </div>

        <div class="Title">
            Q. Do we ship outside of the United States?
        </div>
        <div class="Value">
            A. At the moment we only ship within the United States with the exception of Alaska and Hawaii and we do not ship to PO boxes.
        </div>

        <div class="Title">
            Q. How does Shipping &amp; Handling work?
        </div>
        <div class="Value">
            A. All of Spargains products qualify for FREE shipping and generally arrive within 2-4 business days after an order has been placed.
        </div>

        <div class="Title">
            Q. What is Quick Click? <a href="/UserProfile/Profile">Link</a>
        </div>

        <div class="Value">
            A. Quick Click enables you to purchase Spar Blocks within competitions without the need to verify every Spar Block purchased.
        </div>

        <div class="Title">
            Q. What happens after I win?
        </div>
        <div class="Value">
            A. All winnings are automatically put into your shopping cart. Once the item(s) are in your shopping cart the remaining balance needs to be paid if applicable and the input fields filled in for where the item(s) are being shipped to.
        </div>

        <div class="Title">
            Q. Are the items we sell brand new and do they have a warranty?
        </div>

        <div class="Value">
            A. All items Spargain sells are brand new and can carry the manufactures warranty.
        </div>
    </div>

</template>
