<template name="HowSiteWorks">

    <div class="HowSiteWorksSection">
        <div class="WhatisSpargain">
            <div class="Title">
                What is Spargain?
            </div>
            <p>
                Spargain is a real-time competitive marketplace where users can spar against each other in competitions for up to 100% discounts on the newest and trendiest consumer products. All of Spargain’s products are shipped FREE of charge and generally take 2-4
                business days to arrive. Get started in three easy steps! 1. Register your FREE account 2. Purchase tokens 3. Start competing
            </p>
        </div>
        <div class="HowSiteWorksTokens">
            <div class="Title">
                Tokens
            </div>
            <p>
                Tokens are the currency used on Spargain’s marketplace and they can be purchased <a href="/Tokens">here</a>. After your account is created a default card can be added within your <a href="/UserProfile/Profile">profile section</a>. Tokens
                are only 10 cents each, in order to purchase them click the tokens icon <img src="/TokenManyFront.svg" /> located on the top right of the page.
            </p>
        </div>
        <div class="Competitions">
            <div class="Title">
                Competitions
            </div>
            <p>
                Competitions are events where users spar against one another and utilize analytics, mind games, emotion, and their reaction speed to outwit and outperform their competitors to earn discounts on products.
                <p>
                    In order to compete simply:
                </p>
                <ul>
                    <li>
                        Click the competition's compete/prepare button on the home page and be entered into the competition.
                    </li>
                    <li>
                        Once the competition is live, purchase Spar Blocks that will be closest to the final Spar Count.
                    </li>
                    <li>
                        To learn more specifics, click on the accordion boxes below.
                    </li>
                </ul>
            </p>
        </div>
        <div class="CompetitionAccordion">
            <div class="Left">


              <div class="AccordionItem">
                  <button class="accordion">Entrance</button>
                  <div class="panel">
                      <div class="EntranceContent">
                          <div class="Text">
                            Before a competition begins users must purchase entrance to participate in that competition. The cost of entrance for each competition is <img src="https://s3.amazonaws.com/spargainitemimages/Logos/TokenManyFront.svg" /> 5. The purchasing cost is added directly into that competition's Spar Pot. Once the competition begins, users can no longer purchase entrance. The number of entrants will be visible before and during the competition.
                          </div>
                          <i class="fa fa-users" aria-hidden="true"></i>
                      </div>
                  </div>
              </div>
                <div class="AccordionItem">
                    <button class="accordion">Spar Count</button>
                    <div class="panel">
                        <div class="SparCountContent">
                            <div class="Text">
                                The Spar Count is a determining component for who wins a competition. At the beginning of a competition the spar count starts at 0. Whenever a user purchases a Spar Block the Spar Count increments by 1. At the end of a competition, the user(s) who's Spar
                                Blocks are closest to the Spar Count will be rewarded a discount on the product.
                            </div>
                            <img src="https://s3.amazonaws.com/spargainitemimages/Logos/Crown.png" />
                        </div>
                    </div>
                </div>

                <div class="AccordionItem">
                    <button class="accordion">Spar Price</button>
                    <div class="panel">
                        <div class="SparPriceContent">
                            <div class="Text">
                                The Spar Price is the cost of purchasing a single Spar Block. Throughought the duration of the competition the Spar Price will increase based off the remaining Countdown time, how much is in the Spar Pot, and the remaining Spar Blocks. The increase in
                                the Spar Price is triggered only by a user purchasing a Spar Block.
                            </div>
                            <img src="https://s3.amazonaws.com/spargainitemimages/Logos/TokenSingle.svg" />

                        </div>

                    </div>
                </div>
                <div class="AccordionItem">
                    <button class="accordion">Spar Pot</button>
                    <div class="panel">
                        <div class="SparPotContent">
                            <div class="Text">
                                The Spar Pot is the sum of the tokens used to purchase Spar Blocks during the competition. The percentage value associated with the Spar Pot is the total amount of tokens spent to purchase Spar Blocks in relation to the normal cost of purchasing the product
                                outright.
                                <div class="Example">
                                    <div class="Title">
                                        Example :
                                    </div>
                                    <div class="Value">
                                        <div>
                                            <span>Total number of tokens used to purchase Spar Blocks = </span><img src="https://s3.amazonaws.com/spargainitemimages/Logos/TokenManyFront.svg" /> <span>2740</span>
                                        </div>
                                        <div>
                                            Normal cost of purchasing product = <img src="https://s3.amazonaws.com/spargainitemimages/Logos/TokenManyFront.svg" /> 1000
                                        </div>
                                        <div class="Calculation">
                                            (2740/1000)*100 = 274%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="progressbar" style="position: relative;">
                                <svg height="100%" width="100%" viewBox="0 0 30 100" preserveAspectRatio="none">
                                    <path d="m15,0 l 0,100" stroke="#eee" stroke-width="30" fill-opacity="0"></path>
                                    <path d="m15,0 l 0,100" stroke="#e04e4b" stroke-width="30" fill-opacity="0" style="stroke-dasharray: 100, 100; stroke-dashoffset: -26;"></path>
                                </svg>
                                <strong><p class="progressbar-text" style="position: absolute; top: 50%; width:100%; text-align:center;padding: 0px; margin: 0px; color: rgb(44, 62, 80);">274%</p></strong>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="Right">
                <div class="AccordionItem">
                    <button class="accordion">Spar Block</button>
                    <div class="panel">
                        <div class="SparBlockContent">
                            <div class="Text">
                                Spar Blocks are the cornerstone of what makes the competitions. Spar Blocks are used to determine who will be rewarded discounts on the product at the end of the competition. Every competition will have a range from 1-12000 of Spar Blocks that can be
                                purchased. When a user purchases a Spar Block they will directly increase the Spar Count, Spar Price, and Spar Pot. Every Spar Block is exclusive, only one user can own it per competition. The cost of purchasing a Spar
                                Block is determined by the Spar Price. The ownership/status of a Spar Block can be identified by its coloring. Unclaimed Blocks will be white and are available to purchase, Blocks claimed by you will be colored green, and
                                Blocks claimed by other competitors will be red. A gold color will be added to the Block that holds the current Spar Count.
                            </div>
                            <img src="https://s3.amazonaws.com/spargainitemimages/Logos/SparBlocksWithText.png" />
                        </div>

                    </div>
                </div>
                <div class="AccordionItem">
                    <button class="accordion">Countdown</button>
                    <div class="panel">
                        <div class="CountdownContent">
                            <div class="Text">
                                The Countdown is the competition's remaining duration until the winners are calculated.
                            </div>
                            <i class="material-icons">access_time</i>

                        </div>

                    </div>
                </div>
                <div class="AccordionItem">
                    <button class="accordion">How Winners Are Calculated</button>
                    <div class="panel">
                        <div class="HowWinnersAreCalculatedContent">
                            <div class="Text">
                                The winner(s) of a competition is calculated once the competition is finished (Countdown reaches 0). Once complete, the Spar Pot is given to the user who was closest to the final Spar Count. In situations where two users are equally close, the tiebreaker
                                goes to whoever purchased their Spar Block first. If the Spar Pot exceeds a 100% increment, an additional winner will be crowned. In a case where there are multiple winners here is how the Spar Pot is divided :
                                <ul>
                                    <li>
                                        The distribution works in 100% max discount intervals. Each winner takes a maximum 100% discount from the Spar Pot
                                    </li>
                                    <li>
                                        The maximum a user can win off a single Spar Block is a 100% discount.
                                    </li>
                                    <li>
                                        A user can win multiple times in a competition if they were to choose the right Spar Blocks.
                                    </li>
                                </ul>
                                For example, if the final Spar Pot is 458%, 4 Spar Blocks would receive a 100% discount (FREE) and one would receive a 58% discount.
                            </div>
                            <img src="https://s3.amazonaws.com/spargainitemimages/Logos/WinnerPodium.svg" />
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="AdditionalQuestions">
            <div class="Title">
                Additional Questions?
            </div>
            <p>
                We encourage our users to visit our <a href="/FAQ">FAQ</a> page to receive additional information or <a href="/Contact">Contact Us</a>.
            </p>
        </div>
    </div>
</template>
