<template name="HowSiteWorksFAQ">
    <div class="HowSiteWorksFAQSection">
        <div class="Left">
          <div class="Title {{Active Title="HowSiteWorks"}} HowSiteWorks">
            How Site Works
          </div>
          <div class="Title {{Active Title="FAQ"}} FAQ">
            FAQ
          </div>
        </div>
        <div class="Right">
            {{> Template.dynamic template=HowSiteWorksFAQTemplate}}
        </div>
    </div>
</template>
