@import "{wolves:bourbon}/bourbon";
@import "{wolves:neat}/neat";
$primary-color: #2c3e50;
$secondary-color: white;
$third-color: #e04e4b;
.accountcontent {
    > .at-form {
        a {
            color: $primary-color;
        }
        width: 500px;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
        background-color: white;
        @include outer-container(75%);
        text-align: center;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        .at-pwd-form {
            padding-right: 20%;
            padding-left: 20%;
            flex: 1;
            .at-input {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 10px;
                position: relative;
                label {
                    flex: 1;
                    font-size: 0.7em;
                    font-weight: bold;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: lighten($primary-color, 25%);
                }
                input {
                    width: 100%;
                    height: 53px;
                    flex: 1;
                    padding: 10px;
                    border: 1px solid #d9d9d9;
                    background: transparent;
                    color: $primary-color;
                    font-weight: 300;
                    font-size: 18px;
                    &:focus {
                        outline: none;
                        border: 1px solid $primary-color;
                    }
                }
                span {
                    color: $third-color;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-right: 10px;
                }
                .fa-check {
                    color: green;
                }
            }
            .has-error {
                input {
                    border: 2px solid $third-color;
                }
            }
            .at-input:last-of-type {
                margin-bottom: 0;
            }
            #at-pwd-form {
                padding-bottom: 15px;
            }
        }
        .at-btn {
            margin-top: 15px;
            color: white;
            height: 53px;
            width: 50%;
            background-color: $primary-color;
            border: none;
            &:hover {
                background-color: darken($primary-color,5%);
            }
            &:active {
                background-color: darken($primary-color,15%);
            }
        }
        .at-error{
          color:green;
          p{
            padding-left:10px;
            padding-right:10px;
          }
        }
    }
}
