@import "{wolves:bourbon}/bourbon";
@import "{wolves:neat}/neat";
$primary-color: #2c3e50;
$secondary-color: white;
$third-color: #e04e4b;
$fourth-color: rgba(0,0,0,.8);
.AdminSection {
    width: 85%;
    margin: auto;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $primary-color;
    height: 100%;
    .AdminSidebar {
        flex: 1 0 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        .AdminSideBarHeader {
            color: white;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .AdminSideBarLink {
                font-size: 15px;
            }
            .CurrentLink {
                color: $third-color;
            }
            .active {
                color: $third-color;
            }
        }
        a {
            cursor: pointer;
            &:hover {
                color: $third-color;
            }
        }
    }
    .AdminContent {
        padding: 10px;
        height: 794px;
        flex: 1 1 80%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
    }
}
.CreateItemFormInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    textarea {
        resize: vertical;
    }
}
.CreateItemImages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .CreateItemImage {
        flex: 1;
        display: flex;
        flex-direction: column;
        img {
            flex: 1;
            max-width: 100%;
        }
    }
}
.CreateItemButtonSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    .CreateItemButton {
        color: white;
        height: 57px;
        width: 200px;
        background-color: $third-color;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: darken($third-color,10%);
        }
        &:active {}
    }
}
.CreatedItemsAccordion {
    min-height: 0;
    overflow-y: auto;
    position: relative;
    .CreatedItem {
        border: solid 1px #dcdcdc;
        margin-bottom: 10px;
        padding: 5px;
        .CreatedItemTitle {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 50px;
            line-height: 50px;
            div {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .CreatedItemContent {
            display: none;
            div {
                margin-bottom: 15px;
            }
            .CreatedItemImages {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                div {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
        .CreatedItemEditSection {
            display: none;
        }
        .active {
            display: block;
        }
    }
}
.UserTicketsSection {
    min-height: 0;
    overflow-y: auto;
    position: relative;
    .UserTickets {
        border: solid 1px #dcdcdc;
        margin-bottom: 10px;
        padding: 5px;
        .UserTicketsTitle {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 50px;
            line-height: 50px;
            cursor: pointer;
        }
        .UserTicketsContent {
            display: none;
            flex-direction: column;
            pre {
                text-align: left;
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                white-space: pre-line;
                white-space: -moz-pre-line;
                white-space: -pre-line;
                white-space: -o-pre-line;
                word-wrap: break-word;
            }
            .UserTicket {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-bottom: 10px;
                border: 1px solid #dcdcdc;
                padding: 10px;
                .UserTicketTitle {
                    flex: 1 1 10%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    border-bottom: 1px dashed black;
                    padding-bottom: 10px;
                }
                .UserTicketContent {
                    padding-top: 10px;
                    flex: 1 1 90%;
                }
            }
            .AdminReplySection {
                display: flex;
                flex-direction: column;
                textarea {
                    resize: vertical;
                }
                .ReplyButton {
                    color: white;
                    height: 57px;
                    width: 200px;
                    background-color: $third-color;
                    border: none;
                    cursor: pointer;
                    &:hover:enabled {
                        background-color: darken($third-color,5%);
                    }
                    &:active:enabled {
                        background-color: darken($third-color,15%);
                    }
                    &:disabled {
                        opacity: 0.3;
                        cursor: default;
                    }
                }
            }
        }
        .active {
            display: flex;
        }
    }
}
.CreateItemCompetitionSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    min-height: 0;
    .CreateCompetitionSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 50%;
        border-right: 1px solid #dcdcdc;
        div {
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
        }
        #Success {
            color: green;
            font-size: 25px;
            font-weight: bold;
        }
        .CreateCompetitionButton {
            color: white;
            height: 57px;
            width: 200px;
            background-color: $third-color;
            border: none;
            cursor: pointer;
            &:hover:enabled {
                background-color: darken($third-color,5%);
            }
            &:active:enabled {
                background-color: darken($third-color,15%);
            }
            &:disabled {
                cursor: default;
                opacity: 0.3;
            }
        }
    }
    .SelectedItemSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0 0 50%;
        img {
            max-width: 100%;
        }
    }
}
.CreatedItemCompetitionsSection {
    display: flex;
    flex-direction: column;
    .CreatedItemCompetitionBox {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: solid 1px #dcdcdc;
        margin-bottom: 10px;
        padding: 5px;
        height: 50px;
        i {
            cursor: pointer;
            color: red;
        }
    }
}
.UserAccountsSection {
    min-height: 0;
    overflow-y: auto;
    position: relative;
    .UserAccount {
        border: solid 1px #dcdcdc;
        margin-bottom: 10px;
        padding: 5px;
        .UserAccountTitle {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 50px;
            line-height: 50px;
            div {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .UserAccountContent {
            display: none;
            div {
                margin-bottom: 15px;
            }
        }
        .CreatedItemEditSection {
            display: none;
        }
        .active {
            display: block;
        }
        .UserAccountContentTokensEdit {
            display: none;
        }
        .active {
            display: block;
        }
    }
}
.PlacedOrdersSection,
.ToBeShippedOrders {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .OrderSection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid black;
        padding: 10px;
        margin-bottom: 10px;
        flex: 1;
        min-height: 400px;
        .OrderInformationAndButtons {
            flex: 1 1 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .UserIdOrderIdSection {
                flex: 1 1 60%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
            }
            .CancelOrderMoveToPendingShipmentButtonSection,
            .TrackPackageInputAndMoveToShippedButton {
                display: flex;
                justify-content: flex-end;
                flex-direction: row;
                flex: 1 1 40%;
                form {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    .TrackPackageSection {
                        margin-right: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    button:first-of-type {
                        margin-right: 10px;
                    }
                }
                button {
                    color: white;
                    flex: 0 1 40%;
                    background-color: $third-color;
                    border: none;
                    width: 100px;
                    height: 50px;
                    padding-left: 5px;
                    padding-right: 5px;
                    margin-right: 10px;
                    &:hover {
                        background-color: darken($third-color,5%);
                    }
                    &:active {
                        background-color: darken($third-color,15%);
                    }
                }
                #AddTrackingInformationForm {
                    height: 50px;
                }
            }
        }
        .Order {
            flex: 1 1 90%;
            display: flex;
            flex-direction: row;
            .Items {
                display: flex;
                flex-direction: row;
                flex: 1 1 70%;
                justify-content: flex-start;
                .Item {
                    flex: 0 1 (100%/3);
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    height: 300px;
                    .Image {
                        flex: 1 1 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        img {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                }
            }
            .ShippingInformation {
                flex: 1 1 30%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
.ChangeSliderSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .Slider {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .Image {
            flex: 1 1 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .DeleteSliderContainer {
            flex: 1 1 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 60px;
            i {
                cursor: pointer;
                &:hover {
                    color: red;
                }
            }
        }
    }
    .AddNewSliderSection {
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        .NewSlider {
            flex: 1 1 10%;
        }
        .AddedNewSliderSection {
            flex: 1 1 90%;
            flex-direction: row;
            justify-content: space-between;
            display: flex;
            .UploadedImage {
                flex: 1 1 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img {
                    max-width: 100%;
                    max-height: 300px;
                }
            }
            .UploadedAddNewSliderButtons {
                flex: 1 1 20%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 60px;
                i {
                    cursor: pointer;
                }
                .AddAddedSlider {
                    &:hover {
                        color: green;
                    }
                }
                .RemoveAddedSlider {
                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }
}
.Requests {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .Request {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid black;
        padding: 10px;
        margin-bottom: 10px;
        flex: 1;
        min-height: 400px;
        color: $fourth-color;
        .Top {
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .Bottom {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;
            .Left {
                flex: 1 1 35%;
                display: flex;
                flex-direction: column;
                .ItemName {
                    flex: 1 1 10%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .Image {
                    flex: 1 1 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .Price {
                    flex: 1 1 10%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            .Right {
                flex: 1 1 65%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .RightLeftSection {
                    flex: 1 1 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .Reason {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .Title {
                            text-decoration: underline;
                            font-size: 20px;
                        }
                        .Value {
                            font-size: 16px;
                        }
                    }
                    .Comments {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .Title {
                            text-decoration: underline;
                            font-size: 20px;
                        }
                        .Value {
                            font-size: 16px;
                        }
                    }
                    .Quantity {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .Title {
                            text-decoration: underline;
                            font-size: 20px;
                        }
                        .Value {
                            font-size: 25px;
                        }
                    }
                }
                .RightRightSection {
                    flex: 1 1 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .RefundOrReplace {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        font-size: 50px;
                        font-weight: bold;
                        color: $third-color;
                    }
                    .ButtonSection {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        button {
                            color: white;
                            background-color: $primary-color;
                            border: none;
                            height: 70px;
                            font-size: 25px;
                            width: 400px;
                            &:hover {
                                background-color: darken($primary-color,5%);
                            }
                            &:active {
                                background-color: darken($primary-color,15%);
                            }
                        }
                    }
                }
            }
        }
    }
}
.CompletedRequests {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .CompletedRequest {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid black;
        padding: 10px;
        margin-bottom: 10px;
        flex: 1;
        min-height: 400px;
        color: $fourth-color;
        .Top {
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .Bottom {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;
            .Left {
                flex: 1 1 35%;
                display: flex;
                flex-direction: column;
                .ItemName {
                    flex: 1 1 10%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .Image {
                    flex: 1 1 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .Price {
                    flex: 1 1 10%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            .Right {
                flex: 1 1 65%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .RightLeftSection {
                    flex: 1 1 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .Reason {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .Title {
                            text-decoration: underline;
                            font-size: 20px;
                        }
                        .Value {
                            font-size: 16px;
                        }
                    }
                    .Comments {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .Title {
                            text-decoration: underline;
                            font-size: 20px;
                        }
                        .Value {
                            font-size: 16px;
                        }
                    }
                    .Quantity {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .Title {
                            text-decoration: underline;
                            font-size: 20px;
                        }
                        .Value {
                            font-size: 25px;
                        }
                    }
                }
                .RightRightSection {
                    flex: 1 1 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .RefundOrReplace {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        font-size: 50px;
                        font-weight: bold;
                        color: $third-color;
                    }
                    .ButtonSection {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        button {
                            color: white;
                            background-color: $primary-color;
                            border: none;
                            height: 70px;
                            font-size: 25px;
                            width: 250px;
                            &:hover {
                                background-color: darken($primary-color,5%);
                            }
                            &:active {
                                background-color: darken($primary-color,15%);
                            }
                        }
                    }
                }
            }
        }
    }
}
.FacebookQuestUser {
    min-height: 50px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: $fourth-color;
    padding:10px;
    .Information {
        font-size: 25px;
    }
    .TurnInSection {
        display: flex;
        flex-direction: row;
        button {
          color: white;
          background-color: $primary-color;
          border: none;
          height: 55px;
          font-size: 20px;
          width: 150px;
          &:hover {
              background-color: darken($primary-color,5%);
          }
          &:active {
              background-color: darken($primary-color,15%);
          }
        }
        #AcceptQuestForm{
          display:flex;
          flex-direction: row;
          .FriendCount{
            display:flex;
            flex-direction: column;
          }
        }
    }
}
#CreateItemForm{
  #Success {
      color: green;
      font-size: 25px;
      font-weight: bold;
  }
}
