@import "{wolves:bourbon}/bourbon";
@import "{wolves:neat}/neat";
$primary-color: #2c3e50;
$secondary-color: white;
$third-color: #e04e4b;
$header-color: $primary-color;
$fourth-color: rgba(0,0,0,.8);
$fifth-color: rgba(0,128,0,.7);
$header-font-color: $secondary-color;
$breakpoint: 800px; // Outer navigation wrapper

::selection {
    background-color: $third-color;
    color           : white;
}

.Banner {
    display        : flex;
    justify-content: space-between;
    flex-direction : row;

    .SlideShow {
        flex: 0 1 0.75;
    }

    .RightContent {
        flex: 0 1 0.25;
    }
}

.remodal {
    font-family: "Roboto", sans-serif;
}

button {
    outline: none;
    cursor : pointer;
}

body {
    margin          : 0;
    padding         : 0;
    background-color: #F0F0F0;
}

.navigation {
    width     : 100%;
    height    : 70px;
    background: $primary-color;
    color     : #c9c9c9;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    // box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.45);
    & a {
        // link colors and text decoration for nav
        color          : $secondary-color;
        text-decoration: none;
        cursor         : pointer;
        // &:hover {
        //     color: $primary-color;
        //     text-decoration: none;
        // }
    }

    .nav-container {
        height        : 70px;
        max-width     : 75%;
        margin        : 0 auto;
        padding       : 0;
        display       : flex;
        align-items   : center;
        flex-direction: row;

        .brand {
            flex          : 0 0 auto;
            display       : flex;
            flex-direction: row;
            cursor        : pointer;

            a {
                .Title {
                    color      : $third-color;
                    font-size  : 40px;
                    font-weight: bold;
                }
            }
        }

        nav {
            height        : 100%;
            flex          : 1;
            display       : flex;
            flex-direction: row;
            font-size     : 1em;
            font-weight   : bold;

            .nav-list-left {
                flex           : 1 0 25%;
                display        : flex;
                flex-direction : row;
                align-items    : center;
                padding-left   : 30px;
                justify-content: space-between;

                .HowSiteWorks {
                    padding-left : 15px;
                    padding-right: 15px;
                    flex         : 1 0 auto;

                    a {
                        &:hover {
                            color: transparentize($secondary-color,.35);
                        }
                    }
                }

                .UsersOnline {
                    padding-left  : 15px;
                    padding-right : 15px;
                    flex          : 1 0 auto;
                    display       : flex;
                    flex-direction: row;
                    align-items   : center;
                    color         : $secondary-color;

                    .Text {
                        display       : flex;
                        flex-direction: row;
                        align-items   : center;

                        .bubble {}
                    }

                    div:last-of-type {
                        margin-left: 5px;
                    }
                }
            }
            @media screen and (min-width: $breakpoint) {
                .nav-list {
                    flex           : 1 1 65%;
                    display        : flex;
                    flex-direction : row;
                    justify-content: flex-end;

                    .UserInformation {
                        display        : flex;
                        flex-direction : row;
                        flex           : 0 0 40%;
                        justify-content: space-between;
                        align-items    : center;

                        .UserProfile {
                            flex           : 1 0 auto;
                            height         : 100%;
                            display        : flex;
                            flex-direction : column;
                            justify-content: center;
                            align-items    : flex-end;
                            position       : relative;
                            padding-left   : 15px;

                            a {
                                i {
                                    padding-left: 4px;
                                }
                            }

                            .nav-dropdown {
                                display : none;
                                position: absolute;
                                width   : 200px;
                                left    : 30px;
                                z-index : 9999;
                                top     : 70px;

                                > div {
                                    width  : 190px;
                                    z-index: 9999;

                                    & a {
                                        background : $header-color;
                                        display    : block;
                                        padding    : 15px;
                                        line-height: 20px;
                                        z-index    : 1; // Ensure dropdown displays on top of content

                                        &:hover {
                                            background: lighten($primary-color,5%);
                                            color     : $secondary-color;
                                        }
                                    }
                                }

                                &:hover .nav-dropdown {
                                    display: block;
                                    opacity: 1;
                                }
                            }

                            &:hover .nav-dropdown {
                                display: block;
                                opacity: 1;
                            }
                        }

                        .UserCart {
                            flex           : 1 0 auto;
                            position       : relative;
                            padding-left   : 15px;
                            display        : flex;
                            flex-direction : column;
                            justify-content: center;
                            align-items    : flex-end;
                            height         : 30px;

                            i {
                                font-size: 30px;
                            }

                            span {
                                position : absolute;
                                color    : $third-color;
                                z-index  : 999;
                                bottom   : 15px;
                                right    : -15px;
                                font-size: 18px;
                            }

                            a {
                                &:hover {
                                    span {
                                        color: transparentize($third-color,.35);
                                    }
                                }
                            }
                        }

                        .UserTokens {
                            flex           : 1 0 auto;
                            padding-left   : 15px;
                            display        : flex;
                            flex-direction : row;
                            justify-content: flex-end;
                            align-items    : center;
                            height         : 30px;

                            a {
                                display        : flex;
                                flex-direction : row;
                                align-items    : center;
                                justify-content: space-between;
                            }

                            img {
                                height: 30px;
                            }

                            span {
                                margin-left: 7px;
                            }
                        }

                        a {
                            &:hover {
                                color: transparentize($secondary-color,.35);
                            }
                        }

                        .TokenHeader {
                            height: 30px;

                            img {
                                height: 100%;
                            }
                        }

                        .CartHeader {
                            i {
                                font-size: 30px;
                            }
                        }
                    }

                    .AdminInformation {
                        display        : flex;
                        flex-direction : row;
                        flex           : 0 0 40%;
                        justify-content: space-between;
                        align-items    : center;

                        .UserProfile {
                            height         : 100%;
                            display        : flex;
                            flex-direction : column;
                            justify-content: center;
                            align-items    : flex-end;
                            position       : relative;
                            padding-left   : 15px;

                            a {
                                i {
                                    padding-left: 4px;
                                }
                            }

                            .nav-dropdown {
                                display : none;
                                position: absolute;
                                width   : 200px;
                                left    : 0;
                                z-index : 9999;
                                top     : 70px;

                                > div {
                                    width  : 190px;
                                    z-index: 9999;

                                    & a {
                                        background : $header-color;
                                        display    : block;
                                        padding    : 15px;
                                        line-height: 20px;
                                        z-index    : 1; // Ensure dropdown displays on top of content

                                        &:hover {
                                            background: lighten($primary-color,5%);
                                            color     : $secondary-color;
                                        }
                                    }
                                }

                                &:hover .nav-dropdown {
                                    display: block;
                                    opacity: 1;
                                }
                            }

                            &:hover .nav-dropdown {
                                display: block;
                                opacity: 1;
                            }
                        }

                        .UserCart {
                            position: relative;

                            span {
                                position : absolute;
                                color    : $third-color;
                                z-index  : 999;
                                bottom   : 5px;
                                left     : 20px;
                                font-size: 18px;
                            }

                            a {
                                &:hover {
                                    span {
                                        color: transparentize($third-color,.35);
                                    }
                                }
                            }
                        }

                        a {
                            &:hover {
                                color: transparentize($secondary-color,.35);
                            }
                        }
                    }
                }
            }
        }
    }
}
// Logo and branding
// Container with no padding for navbar
// Dropdown list binds to JS toggle event
/* Mobile navigation */
// Binds to JS Toggle

.nav-mobile {
    display   : none;
    position  : absolute;
    top       : 0;
    right     : 0;
    background: $header-color;
    height    : 70px;
    width     : 70px;
}
@media only screen and (max-width: $breakpoint) {
    // Hamburger nav visible on mobile only
    .nav-mobile {
        display: block;
    }

    .logo {
        position: absolute;
    }

    nav {
        width  : 100%;
        padding: 70px 0 15px;

        & ul {
            display: none;

            & li {
                width: 100%;
                float: none;

                & > a {
                    padding    : 15px;
                    line-height: 20px;
                }

                &:hover .nav-dropdown {
                    display: none;
                }

                ul li a {
                    line-height: 20px;
                }
            }
        }
    }

    .nav-dropdown {
        position: static;
        width   : 100%;
    }
}

#nav-toggle {
    position: absolute;
    left    : 18px;
    top     : 22px;
    cursor  : pointer;
    padding : 10px 35px 16px 0;

    & span,
    & span:after,
    & span:before {
        cursor       : pointer;
        border-radius: 1px;
        height       : 5px;
        width        : 35px;
        background   : $header-font-color;
        position     : absolute;
        display      : block;
        content      : '';
        transition   : all 300ms ease-in-out;
    }

    & span:before {
        top: -10px;
    }

    & span:after {
        bottom: -10px;
    }

    &.active span {
        background-color: transparent;

        &:after,
        &:before {
            top: 0;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
}

.wrapper {
    display       : flex;
    height        : 100vh;
    flex-direction: column;
    //FONT FOR ENTIRE SITE
    font-family   : "Roboto", sans-serif;
    // font-family:"Century Gothic";
}

button {
    font-family: "Roboto", sans-serif;
}

.wrapper-body {
    display: flex;
    flex   : 1 0 auto;
}

.content {
    max-width      : 100%;
    flex           : 1 0 auto;
    display        : flex;
    flex-direction : column;
    justify-content: flex-start;
    padding-top    : 15px;
    padding-bottom : 15px;

    .Notification {
        width : 75%;
        margin: auto;
    }
}

.accountcontent {
    flex           : 1;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.footer-2 {
    box-shadow              : 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    $base-spacing           : 1.5em !default;
    $action-color           : #477DCA !default;
    $medium-screen          : em(640) !default;
    $large-screen           : em(860) !default;
    $footer-background      : $primary-color;
    $footer-color           : $secondary-color;
    $footer-link-color      : $secondary-color;
    $footer-disclaimer-color: $secondary-color;
    height                  : 85px;
    background              : $footer-background;
    padding                 : $base-spacing;
    width                   : 100%;
    display                 : flex;
    flex                    : 0 0 auto;
    flex-direction          : row;
    justify-content         : space-between;

    .footer-logo {
        display        : flex;
        flex-direction : row;
        flex           : 0 0 10%;
        justify-content: center;
        align-items    : center;
        color          : $secondary-color;

        img {
            height: 1.6em;
        }

        .Title {
            font-size      : 25px;
            font-weight    : bold;
            cursor         : default;
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;
        }
    }
    @media screen and (min-width:800px) {
        .ContactBlogCareer {
            display        : flex;
            flex-direction : row;
            justify-content: flex-start;
            flex           : 1 1 70%;
            align-items    : center;

            .Content {
                margin-right: 15px;

                a {
                    text-decoration: none;
                    color          : $secondary-color;

                    &:hover {
                        color: transparentize($secondary-color,.35);
                    }
                }
            }
        }
    }
    @media screen and (max-width:799px) {
        .ContactBlogCareer {
            display: none;
        }
    }

    .footer-secondary-links {
        display        : flex;
        flex-direction : row;
        flex           : 0 1 20%;
        align-items    : center;
        justify-content: space-between;

        a {
            text-decoration: none;
            color          : $secondary-color;

            &:hover {
                color: transparentize($secondary-color,.35);
            }
        }
        @media screen and (min-width:800px) {
            .TermsPolicy {
                flex           : 1 1 75%;
                display        : flex;
                flex-direction : row;
                justify-content: flex-start;
                font-size      : 14px;

                div {
                    margin-left: 10px;
                }
            }
        }
        @media screen and (max-width:799px) {
            .TermsPolicy {
                display: none;
            }
        }

        .Social {
            flex           : 1 0 25%;
            display        : flex;
            flex-direction : row;
            justify-content: space-between;
        }
    }
}

.UserProfileContainer {
    min-width     : 75%;
    @include outer-container(75%);
    display       : flex;
    flex-direction: column;
    flex          : 1;
}

.Primary-Button {
    $color          : rgb(68,138,255);
    background-color: $color;
    border          : hidden;
    color           : white;

    &:hover {
        background-color: darken($color, 25%);
    }
}

.tabs {
    max-width : 90%;
    float     : none;
    list-style: none;
    padding   : 0;
    margin    : 75px auto;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

.tabs:after {
    content: '';
    display: table;
    clear  : both;
}

.tabs input[type=radio] {
    display: none;
}

.tabs label {
    display           : block;
    float             : left;
    width             : 50%;
    color             : #ccc;
    font-size         : 30px;
    font-weight       : normal;
    text-decoration   : none;
    text-align        : center;
    line-height       : 2;
    cursor            : pointer;
    -webkit-transition: all 0.5s;
    /* Safari 3.1 to 6.0 */
    transition        : all 0.5s;
}

.tabs label span {
    display: none;
}

.tabs label i {
    padding     : 5px;
    margin-right: 0;
}

.tabs label:hover {
    color     : #3498db;
    box-shadow: inset 0 4px #3498db;
}

.tab-content {
    display         : none;
    width           : 100%;
    float           : left;
    padding         : 15px;
    box-sizing      : border-box;
    background-color: #ffffff;

    .RememberMeForgotPassword {
        @include span-columns(12);

        input {
            @include span-columns(6);
        }

        a {
            @include span-columns(6);
        }
    }

    input {
        margin-bottom: 10px;
        height       : 40px;
    }

    button {
        background-color: #52B1DB;
        border          : none;
        color           : white;
        height          : 50px;
        outline         : none;
        @include span-columns(12);

        &:hover {
            background-color: lighten(#52B1DB, 10%);
        }

        &:focus {
            background-color: darken(#52B1DB, 10%);
        }

        &:disabled {
            background-color: lighten(#52B1DB, 25%);
            cursor          : no-drop;
        }
    }
}

.tabs [id^="tab"]:checked + label {
    background: #FFF;
    box-shadow: inset 0 4px #3498db;
    color     : #3498db;
}

#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2 {
    display: block;
}
@media (min-width: 768px) {
    .tabs i {
        padding     : 5px;
        margin-right: 10px;
    }

    .tabs label span {
        display: inline-block;
    }

    .tabs {
        max-width: 500px;
        margin   : 50px auto;
    }
}

ul.notifications {
    width   : 100%;
    right   : 0;
    position: relative;
    margin  : 0;

    li {
        box-shadow      : 0 1px 2px rgba(0, 0, 0, 0.1);
        height          : 200px;
        margin          : 0 0 16px;
        padding         : 0;
        border-radius   : 0;
        cursor          : default !important;
        background-color: white !important;
        display         : flex;
        flex-direction  : row;
        color           : $primary-color;

        a {
            color: $primary-color !important;
        }

        .closeButton {
            cursor: pointer;
        }

        .title {
            flex            : 1 1 20%;
            display         : flex;
            flex-direction  : row;
            justify-content : center;
            align-items     : center;
            font-size       : 150px;
            color           : white;
            background-color: $fifth-color;
            margin          : 0;

            div:first-of-type {
                margin-left: 10px;
            }
        }

        .message {
            flex           : 1 1 80%;
            display        : flex;
            flex-direction : column;
            justify-content: space-between;
            color          : $fourth-color;
            padding        : 15px;

            .Top {
                font-size  : 40px;
                font-weight: bold;
            }

            .Bottom {
                flex           : 1;
                display        : flex;
                flex-direction : row;
                justify-content: flex-start;
                padding-top    : 15px;

                .OrderInformation {
                    display       : flex;
                    flex-direction: column;

                    > div:first-of-type {
                        font-size: 20px;
                    }

                    span {
                        font-weight: bold;
                    }

                    a {
                        padding-top: 10px;
                        font-size  : 18px;
                    }
                }

                .ShippingInformation {
                    padding-left   : 20px;
                    display        : flex;
                    flex-direction : column;
                    justify-content: flex-start;

                    > div:first-of-type {
                        font-size: 20px;
                    }

                    .CityStateZip {
                        display       : flex;
                        flex-direction: row;

                        div {
                            margin-right: 5px;
                        }
                    }

                    > div:last-of-type {
                        margin-top: 5px;
                        font-size : 16px;
                    }
                }
            }
        }
    }
}

.notifications li.notification.notificationHidden {
    display   : none;
    visibility: visible;
}

.ContactTitle {
    width : 75%;
    margin: 15px auto;
    color : $fourth-color;
}

.ContactSection {
    flex           : 1;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    width          : 75%;
    margin         : auto;

    .ContactTicketSection {
        flex          : 0 1 60%;
        display       : flex;
        flex-direction: column;
        overflow-x    : auto;

        .ContactTicketSectionContent {
            background-color: white;
            box-shadow      : 0 1px 2px rgba(0,0,0,.1);
            padding         : 10px;

            .ContactTicketSectionTickets {
                flex          : 1;
                display       : flex;
                flex-direction: column;

                .ContactTicket {
                    border         : solid 1px #dcdcdc;
                    flex           : 1;
                    display        : flex;
                    flex-direction : column;
                    justify-content: space-between;
                    padding        : 10px;
                    margin-bottom  : 15px;

                    .ContactTicketTitle {
                        font-weight    : bold;
                        display        : flex;
                        flex-direction : row;
                        justify-content: space-between;
                        border-bottom  : 1px dashed $primary-color;
                        padding-bottom : 5px;

                        .ContactTicketTitleCreatorDate {
                            display        : flex;
                            flex-direction : row;
                            justify-content: flex-start;
                        }

                        .TicketStatusResolved {
                            color: green;
                        }

                        .TicketStatusPending {
                            color: red;
                        }
                    }

                    pre {
                        text-align     : left;
                        font-family    : "Roboto", sans-serif;
                        font-size      : 16px;
                        white-space    : pre-line;
                        white-space    : -moz-pre-line;
                        white-space    : -pre-line;
                        white-space    : -o-pre-line;
                        word-wrap      : break-word;
                        display        : flex;
                        flex-direction : column;
                        margin         : 0;
                        justify-content: flex-start;
                        padding-top    : 10px;
                    }
                }

                .User {
                    color: $primary-color;
                }

                .Admin {
                    color           : white;
                    background-color: $primary-color;

                    .ContactTicketTitle {
                        border-bottom: 1px dashed white;
                    }
                }
            }

            .ContactTicketSectionCreateTicket {
                display       : flex;
                flex-direction: column;
                align-items   : stretch;
                padding       : 10px;
                font-size     : 13px;

                div {
                    margin-bottom: 10px;
                    flex         : 1;

                    textarea {
                        height     : 262px;
                        width      : 100%;
                        resize     : vertical;
                        font-family: "Roboto", sans-serif;
                        font-size  : 16px;
                    }

                    button {
                        color           : white;
                        height          : 53px;
                        width           : 200px;
                        background-color: $third-color;
                        border          : none;
                        cursor          : pointer;
                        outline         : none;

                        &:hover {
                            background-color: darken($third-color,5%);
                        }

                        &:active {
                            background-color: darken($third-color,15%);
                        }
                    }
                }
            }
        }
    }

    .ContactInformationSection {
        flex           : 0 1 35%;
        display        : flex;
        flex-direction : column;
        justify-content: flex-start;

        .ContactInformationBox {
            flex         : 0 1 30%;
            margin-bottom: 30px;

            .ContactInformationBoxContent {
                height          : 100px;
                background-color: white;
                box-shadow      : 0 1px 2px rgba(0,0,0,.1);
                display         : flex;
                flex-direction  : column;
                justify-content : center;
                padding-left    : 25px;
            }
        }
    }

    .ContactBanner {
        display         : flex;
        justify-content : space-between;
        background-color: $primary-color;
        color           : transparentize(white, 0.3);
        height          : 40px;
        padding         : 5px 10px;
        align-items     : center;
        box-shadow      : 0 1px 2px rgba(0,0,0,.1);

        a {
            color: transparentize(white, 0.3);
        }
    }
}

.BlogSection {
    @include outer-container(75%);
    display        : flex;
    flex-direction : column;
    justify-content: space-between;

    .BlogTitleSection {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        font-size      : 50px;
        font-weight    : bold;
        border-bottom  : 2px solid $primary-color;
        color          : $primary-color;
    }

    .Blogs {
        display        : flex;
        flex-direction : column;
        justify-content: flex-start;

        .Blog {
            flex            : 1;
            display         : flex;
            flex-direction  : column;
            justify-content : space-between;
            background-color: white;
            margin-top      : 25px;
            padding         : 10px;
            color           : $fourth-color;

            .BlogTitleAuthorDate {
                display        : flex;
                flex-direction : column;
                justify-content: space-between;
                border-bottom  : 2px solid $primary-color;

                .BlogTitle {
                    font-size  : 35px;
                    font-weight: bold;
                    color      : $primary-color;
                }

                .BlogAuthorDate {
                    display        : flex;
                    flex-direction : row;
                    justify-content: flex-start;
                    align-items    : center;
                    padding        : 10px 0;

                    .Author {
                        font-weight: bold;
                    }

                    .Date {
                        margin-left: 10px;
                    }
                }
            }

            .BlogContent {
                font-size: 20px;
                padding  : 10px 0;
            }
        }
    }
}

.CareersSection {
    @include outer-container(75%);
    min-width: 75%;

    .CareersTitleSection {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        font-size      : 50px;
        font-weight    : bold;
        border-bottom  : 2px solid $primary-color;
        color          : $primary-color;
    }

    .Careers {
        margin-top: 10px;
        color     : $primary-color;

        .NoActiveCareers {
            font-size  : 25px;
            font-weight: bold;
        }
    }
}

.Terms {
    color: $fourth-color;
    @include outer-container(75%);

    .TermsTitle {
        font-size: 35px;
    }

    .LesserTitle {
        font-size: 20px;
    }
}

.PrivacyPolicy {
    @include outer-container(75%);

    a {
        color: $fourth-color;
    }
    color: $fourth-color;

    .PrivacyTitle {
        font-size: 35px;
    }

    .LesserTitle {
        font-size: 20px;
    }
}

.bubble {
    content         : "";
    background-color: $fifth-color;
    width           : 12px;
    height          : 12px;
    border-radius   : 50%;
    display         : block;
    top             : 1px;
    left            : 1px;
}

.Notification {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    flex           : 1;

    .NotificationIconSection {
        flex            : 1 1 10%;
        display         : flex;
        flex-direction  : column;
        justify-content : center;
        align-items     : center;
        background-color: gold;
        color           : white;
        font-size       : 45px;
    }

    .NotificationText {
        flex            : 1 1 70%;
        background-color: white;
        color           : $fourth-color;
    }
}

.HowSiteWorksFAQSection {
    display       : flex;
    flex          : 1;
    width         : 75%;
    margin        : auto;
    color         : $fourth-color;
    flex-direction: row;

    > .Left {
        flex          : 1 1 12.5%;
        display       : flex;
        flex-direction: column;
        border-right  : 1px solid #cdcdcd;
        height        : 250px;
        margin-top    : 10px;

        .Title {
            font-size  : 23px;
            font-weight: bold;
            cursor     : pointer;
        }

        .Active {
            color : $third-color;
            cursor: default;
        }
    }

    > .Right {
        flex          : 1 1 87.5%;
        display       : flex;
        flex-direction: column;
        padding       : 0 20px;

        .HowSiteWorksSection {
            flex          : 1;
            color         : $fourth-color;
            display       : flex;
            flex-direction: column;

            .WhatisSpargain {
                .Title {
                    font-size  : 45px;
                    font-weight: bold;
                }
            }

            .HowSiteWorksTokens {
                a {
                    color          : $primary-color;
                    text-decoration: none;
                    font-weight    : bold;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .Title {
                    font-size  : 35px;
                    font-weight: bold;
                }

                p {
                    img {
                        vertical-align: text-top;
                        height        : 16px;
                    }
                }
            }

            .Competitions {
                .Title {
                    font-size  : 35px;
                    font-weight: bold;
                }
            }

            .AdditionalQuestions {
                margin-top: 10px;

                .Title {
                    font-size  : 35px;
                    font-weight: bold;
                }

                a {
                    color      : $primary-color;
                    font-weight: bold;
                }
            }

            .CompetitionAccordion {
                display        : flex;
                flex-direction : row;
                justify-content: space-between;
                flex-wrap      : wrap;

                .Left,
                .Right {
                    flex          : 0 0 50%;
                    display       : flex;
                    flex-direction: column;

                    .AccordionItem {
                        width        : 100%;
                        padding-left : 5px;
                        padding-right: 5px;

                        button.accordion {
                            width           : 100%;
                            background-color: #ddd;
                            color           : $primary-color;
                            cursor          : pointer;
                            padding         : 18px;
                            text-align      : left;
                            border          : none;
                            outline         : none;
                            transition      : 0.4s;
                            font-size       : 25px;
                            display         : flex;
                            flex-direction  : row;
                            justify-content : space-between;
                            font-weight     : bold;
                            margin-top      : 10px;
                        }

                        button.accordion.active,
                        button.accordion:hover {
                            background-color: #ccc;
                        }
                        /* Style the accordion panel. Note: hidden by default */
                        div.panel {
                            padding         : 0 18px;
                            background-color: white;
                            display         : flex;
                            flex-direction  : column;
                            visibility      : hidden;

                            .EntranceContent {
                                display        : flex;
                                flex-direction : row;
                                justify-content: space-between;
                                padding        : 18px 5px;
                                font-size      : 18px;
                                align-items    : center;
                                position       : relative;

                                .Text {
                                    padding: 5px;
                                }

                                i {
                                    font-size: 150px;
                                    color    : $fifth-color;
                                }

                                img {
                                    height        : 18px;
                                    vertical-align: top;
                                }
                            }

                            .SparCountContent {
                                display        : flex;
                                flex-direction : row;
                                justify-content: space-between;
                                padding        : 18px 5px;
                                font-size      : 18px;
                                align-items    : center;

                                .Text {
                                    padding: 5px;
                                }

                                img {
                                    height: 125px;
                                }
                            }

                            .SparPriceContent {
                                display        : flex;
                                flex-direction : row;
                                justify-content: space-between;
                                padding        : 18px 5px;
                                font-size      : 18px;
                                align-items    : center;

                                .Text {
                                    padding: 5px;
                                }

                                img {
                                    height: 200px;
                                }
                            }

                            .SparPotContent {
                                display        : flex;
                                flex-direction : row;
                                justify-content: space-between;
                                padding        : 18px 5px;
                                font-size      : 20px;
                                align-items    : center;

                                .Text {
                                    flex: 1 1 90%;
                                }

                                .Example {
                                    .Title {
                                        font-weight: bold;
                                        margin     : 5px 0;
                                    }

                                    .Value {
                                        font-size: 16px;

                                        div {
                                            display       : flex;
                                            flex-direction: row;
                                            align-items   : flex-end;
                                            margin        : 5px 0;
                                        }

                                        img {
                                            margin: 0 4px;
                                            height: 19px;
                                        }

                                        .Calculation {
                                            font-weight: bold;
                                            font-size  : 18px;
                                        }
                                    }
                                }

                                #progressbar {
                                    flex          : 1 1 10%;
                                    display       : flex;
                                    flex-direction: column;
                                    height        : 250px;

                                    svg {
                                        width   : 100%;
                                        height  : 100%;
                                        position: absolute;

                                        path:last-of-type {
                                            stroke: $third-color;
                                        }
                                    }
                                }
                            }

                            .SparBlockContent {
                                display        : flex;
                                flex-direction : row;
                                justify-content: space-between;
                                padding        : 18px 5px;
                                font-size      : 17px;
                                align-items    : center;

                                .Text {
                                    padding: 5px;
                                }
                            }

                            .CountdownContent {
                                display        : flex;
                                flex-direction : row;
                                justify-content: space-between;
                                padding        : 18px 5px;
                                font-size      : 20px;
                                align-items    : center;

                                i {
                                    font-size: 200px;
                                    color    : $primary-color;
                                }
                            }

                            .HowWinnersAreCalculatedContent {
                                display        : flex;
                                flex-direction : row;
                                justify-content: space-between;
                                padding        : 18px 5px;
                                font-size      : 18px;
                                align-items    : center;

                                .Text {
                                    padding: 5px;
                                }

                                img {
                                    height: 150px;
                                }
                            }
                        }
                        /* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
                        div.panel.show {
                            visibility: visible;
                        }

                        div.panel {
                            background-color: white;
                            max-height      : 0;
                            overflow        : hidden;
                            opacity         : 0;
                        }

                        div.panel.show {
                            opacity   : 1;
                            max-height: 600px;
                            /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
                        }

                        button.accordion:after {
                            content    : '\02795';
                            /* Unicode character for "plus" sign (+) */
                            font-size  : 25px;
                            color      : #777;
                            float      : right;
                            margin-left: 5px;
                        }

                        button.accordion.active:after {
                            content: "\2796";
                            /* Unicode character for "minus" sign (-) */
                        }
                    }
                }
            }
        }

        .FAQSection {
            flex: 1;

            .MainTitle {
                font-size    : 45px;
                font-weight  : bold;
                margin-bottom: 16px;
            }

            .Title {
                font-size    : 23px;
                font-weight  : bold;
                margin-bottom: 10px;
            }

            .Value {
                font-size    : 19px;
                margin-bottom: 10px;
            }
        }
    }
}
