@import "{wolves:bourbon}/bourbon";
@import "{wolves:neat}/neat";
$primary-color: #2c3e50;
$secondary-color: white;
$third-color: #e04e4b;
$fourth-color: rgba(0,0,0,.8);
$fifth-color: rgba(0,128,0,.7);
.CartOrderSummary {
    @include span-columns(3.5);
    font-size: 18px;
    color: $fourth-color;
    .CartOrderSummaryBanner {
        display: flex;
        color: white;
        justify-content: space-between;
        background-color: $primary-color;
        height: 48px;
        padding: 5px 10px;
        align-items: center;
        align-content: center;
    }
    .CartOrderSummaryInformation {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: white;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
        height: 300px;
        .Merchandise {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex: 1;
            font-size: 20px;
            .Text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
            }
            .Value {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 100%;
                margin-left: 5px;
                img {
                    height: 20px;
                    margin-right:4px;
                }
            }
        }
        .ShippingSection {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            .ShippingToken {
                height: 100%;
                font-size: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .Text {
                height: 100%;
                margin-left: 10px;
                font-size: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        .SubtotalSection {
            flex: 1;
            align-items: flex-end;
            display: flex;
            flex-direction: row;
            margin-bottom: 15px;
            .Text {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 45px;
                height: 100%;
            }
            .Value {
                flex: 1;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 100%;
                font-size: 45px;
                img {
                    height: 45px;
                    margin-right:4px;
                }
            }
        }
        button {
            background-color: $third-color;
            border: none;
            color: white;
            height: 53px;
            outline: none;
            cursor: pointer;
            font-size: 20px;
            width: 100%;
            &:hover {
                background-color: darken($third-color, 5%);
            }
            &:focus {
                background-color: darken($third-color, 15%);
            }
            &:disabled {
                background-color: lighten($third-color, 25%);
                cursor: no-drop;
            }
        }
    }
}
.CheckoutInformation {
    @include span-columns(8);
}
.CartSection {
    margin: auto;
    width: 75%;
    flex: 1;
    display: flex;
    flex-direction: row;
    .CartItemSection {
        @include span-columns(8.5);
        .CartItemSectionBanner {
            font-size: 18px;
            display: flex;
            color: white;
            justify-content: space-between;
            background-color: $primary-color;
            height: 48px;
            padding: 5px 10px;
            align-items: center;
            align-content: center;
        }
        .CartItemList {
            position: relative;
            min-height: 200px;
            margin-top: 12.5px;
            margin-bottom: 12.5px;
            .CartItemListInfoGraphic {
                color: $primary-color;
                opacity: 0.5;
                position: absolute;
                height: 200px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .Text {
                    font-size: 25px;
                    flex: 1 1 55%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;
                }
                .Icon {
                    font-size: 150px;
                    flex: 1 1 45%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                }
            }
            .CartItem {
                color: $fourth-color;
                margin-bottom: 12.5px;
                margin-top: 12.5px;
                background-color: white;
                box-shadow: 0 1px 2px rgba(0,0,0,.1);
                height: 200px;
                z-index: 1;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 10px;
                .Image {
                    flex: 1 1 20%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    img {
                        height: 100%;
                        width: 100%;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .CartItemInformation {
                    flex: 1 1 80%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .CartItemInformationNameDeleteDelivery {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        .ItemName {
                            font-weight: bold;
                            font-size: 29px;
                        }
                    }
                    .CartItemInformationPrice {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;
                        font-size: 22px;
                        .Initial {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            img {
                                height: 27px;
                            }
                            span {
                                margin-left: 4px;
                            }
                        }
                        .LineThrough {
                            text-decoration: line-through;
                        }
                        .Discount {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                        }
                        .Final {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                        }
                    }
                    .CartItemInformationQuantity {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-end;
                        .Quantity {
                            color: $fourth-color;
                            display: flex;
                            flex-direction: row;
                            width: 65%;
                            border: 1px solid rgb(235,235,235);
                            button {
                                flex: 1 1 (100%/3);
                                height: 55px;
                                border: none;
                                background: none;
                                outline: none;
                                &:hover {
                                    background-color: rgb(235,235,235);
                                }
                            }
                            .left {
                                border-right: 1px solid rgb(235,235,235);
                            }
                            .right {
                                border-left: 1px solid rgb(235,235,235);
                            }
                            div {
                                flex: 1 1 (100%/3);
                                height: 55px;
                                line-height: 55px;
                                text-align: center;
                                font-size: 30px;
                            }
                            i {
                                color: $fourth-color;
                            }
                        }
                    }
                    a {
                        color: $fourth-color;
                        font-size: 18px;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                            color: $third-color;
                        }
                    }
                }
            }
            .WonItem {
                color: $fourth-color;
                border: 2px solid #FFD700;
                box-shadow: 0 0 20px rgba(255,215,0,.5);
                margin-bottom: 12.5px;
                margin-top: 12.5px;
                background-color: white;
                box-shadow: 0 1px 2px rgba(0,0,0,.1);
                height: 200px;
                z-index: 1;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 10px;
                position: relative;
                .Image {
                    flex: 1 1 20%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .CartItemInformation {
                    flex: 1 1 80%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .CartItemInformationNameDeleteDelivery {
                        flex: 1 1 45%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        .ItemName {
                            font-weight: bold;
                            font-size: 29px;
                        }
                    }
                    .CartItemInformationPrice {
                        flex: 1 1 10%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        justify-content: flex-start;
                        font-size: 22px;
                        .Initial {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            font-size:20px;
                            img {
                                height: 27px;
                            }
                            span {
                                margin-left: 4px;
                            }
                        }
                        .LineThrough {
                            text-decoration: line-through;
                        }
                        .Discount {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            font-size:20px;
                            img {
                                height: 27px;
                            }
                        }
                        .Final {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            border-top:1px solid #cbcbcb;
                            margin-top:2px;
                            padding-top:5px;
                            font-weight: bold;
                            font-size:27px;
                            img {
                                height: 27px;
                            }
                            span {
                                margin-left: 4px;
                            }
                        }
                    }
                    .CartItemInformationQuantity {
                        flex: 1 1 45%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-end;
                        .WonFromCompetitionCountdown {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            .Title {}
                            .Timer {
                                font-weight: bold;
                            }
                        }
                    }
                    a {
                        color: $fourth-color;
                        font-size: 18px;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                            color: $third-color;
                        }
                    }
                }
                .Triangle {
                    left: 0;
                    top: 0;
                    position: absolute;
                    @include triangle(80px 80px, gold, up-left);
                    img {
                        margin-left: 3px;
                        margin-top: -66px;
                        position: absolute;
                        height: 20px;
                    }
                }
            }
        }
    }
}
.EmptyCartSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    .EmptyCartText {
        font-size: 40px;
        color: #414141;
    }
    .EmptyCartPictureContainer {
        i {
            font-size: 500px;
            color: $primary-color;
            opacity: 0.5;
        }
    }
    .EmptyCartButton {
        color: white;
        height: 53px;
        width: 200px;
        background-color: $primary-color;
        border: none;
        &:hover {
            background-color: darken($primary-color,5%);
        }
        &:active {
            background-color: darken($primary-color,15%);
        }
    }
}
.AddToCartResultSection {
    color: $fourth-color;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .AddedCartItem {
        background-color: white;
        display: flex;
        flex-direction: row;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
        height: 200px;
        width: 700px;
        padding: 10px;
        .SuccessSection {
            flex: 1 1 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $fifth-color;
            border-right: 1px solid #969696;
            i {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 150px;
            }
        }
        .Image {
            flex: 1 1 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .AddedCartItemRightSection {
            flex: 1 1 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .AddedCartItemName {
                font-size: 40px;
                font-weight: bold;
            }
            .ItemQuantity {
                display: flex;
                flex-direction: column;
                align-items: center;
                .Text {
                    font-size: 20px;
                    text-decoration: underline;
                }
                .Value {
                    color: $third-color;
                }
            }
            .ItemPrice {
                display: flex;
                flex-direction: column;
                align-items: center;
                .Text {
                    font-size: 20px;
                    text-decoration: underline;
                }
                .Value {
                  display:flex;
                  flex-direction: row;
                  align-items: center;
                  margin-top:5px;
                    img{
                      height:20px;

                    }
                }
            }
        }
    }
    .ContinueShoppingSection {
        margin-top: 30px;
        button {
            background-color: $third-color;
            border: none;
            color: white;
            height: 75px;
            outline: none;
            cursor: pointer;
            width: 350px;
            font-size: 30px;
            &:hover:enabled {
                background-color: darken($third-color, 5%);
            }
            &:focus:enabled {
                background-color: darken($third-color, 15%);
            }
            &:disabled {
                background-color: lighten($third-color, 25%);
                cursor: no-drop;
            }
        }
    }
    .ViewCartSection {
        a {
            color: $fourth-color;
            &:hover {
                color: $primary-color;
            }
        }
    }
}
