@import "{wolves:bourbon}/bourbon";
@import "{wolves:neat}/neat";
$primary-color: #2c3e50;
$secondary-color: white;
$third-color: #e04e4b;
$fourth-color: rgba(0,0,0,.8);
.CheckoutBreadcrumb {
    list-style: none;
    font-size: 18px;
    color: #fff;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    > li {
        text-align: center;
        flex-grow: 1;
        display: inline-block;
        padding: 0 30px;
        line-height: 48px;
        background: $primary-color;
        position: relative;
        border: 0 $primary-color;
        cursor: default;
        @include transition( background .25s, border-color .25s, margin .125s );
        &.activebreadcrumb {
            background: $third-color;
            border-color: $third-color;
        }
        + li {
            margin-left: 45px;
        }
        &:after,
        &:before {
            content: '';
            position: absolute;
            border: 24px solid transparent;
            border-right: 0;
            top: 0;
        }
        &:before {
            right: 100%;
            border-top-color: inherit;
            border-bottom-color: inherit;
        }
        &:after {
            left: 100%;
            border-left-color: inherit;
        }
        &:first-child {
            &:before {
                content: none;
            }
        }
        &:last-child {
            &:after {
                content: none;
            }
        }
    }
}
.Checkout {
    width: 65%;
    margin: auto;
    display:flex;
    flex-direction: row;
    flex:1;
    .Cart {
        @include span-columns(4);
        font-size: 18px;
        .CartBanner {
            display: flex;
            color: white;
            justify-content: space-between;
            background-color: $primary-color;
            height: 48px;
            padding: 5px 10px;
            align-items: center;
            align-content: center;
        }
        .CartInformation {
            display: flex;
            flex-direction: column;
            padding: 10px;
            margin-top: 10px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            background-color: white;
            .CartItem {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .Image {
                    flex: 1 1 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 100%;
                        height: 100%;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .CartItemText {
                    flex: 1 1 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: $fourth-color;
                    .Name {
                        font-size: 25px;
                        font-weight: bold;
                    }
                    .Price{
                      margin-top:4px;
                      display:flex;
                      flex-direction: row;
                      align-items: center;
                      img{
                        height:25px;
                        margin-right:2px;
                      }
                    }
                }
            }
        }
    }
    .CheckoutInformation {
        flex: 1;
        @include span-columns(8);
        .CheckoutMainInformation {
            .InsufficientTokensBanner {
                display: flex;
                height: 100px;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-color: white;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
                margin-top: 10px;
                .InsufficientTokensBannerIconSection {
                    flex: 1 1 15%;
                    text-align: center;
                    background-color: $third-color;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    i {
                        flex: 1;
                        font-size: 75px;
                        color: white;
                        line-height: 100px;
                    }
                }
                .InsufficientTokensBannerText {
                    color: $fourth-color;
                    flex: 1 1 85%;
                    padding: 10px;
                    text-align: center;
                    font-size: 24px;
                    font-weight: bold;
                    span {
                        span {
                            color: $third-color;
                        }
                    }
                }
            }
        }
    }
}
.CheckoutContent {
    box-shadow: 0 2px 4px #e6e6e6;
}
.ShippingInformationDropdown {
    margin-top: 10px;
    position: relative;
    color: $fourth-color;
    .ShippingInformationDropdownTrigger {
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
        margin: 0;
        padding: 10px;
        display: flex;
        height: 100px;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        position: relative;
        background-color: white;
        .ShippingInformationContent {
            flex: 1 1 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .Arrow {
            flex: 1 1 10%;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;
        }
    }
    .Multiple {
        cursor: pointer;
        &:hover {
            background-color: transparentize(#414141, 0.97);
        }
        &:active {
            background-color: transparentize(#414141, 0.93);
        }
    }
    .dropdown {
        top: 0 !important;
        position: relative !important;
        margin-bottom: 30px;
        @include span-columns(12);
        .ShippingInformationDropdownDropdownBox {
            height: 100px;
            padding: 10px;
            border-top: 1px solid #dcdcdc;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: white;
            cursor: pointer;
            &:hover {
                background-color: transparentize(#414141, 0.97);
            }
            &:active {
                background-color: transparentize(#414141, 0.93);
            }
            // .PaymentDropdownBoxCardInformation {
            //     flex: 1 1 70%;
            //     display: flex;
            //     flex-direction: column;
            //     justify-content: center;
            // }
            // .PaymentDropdownBoxButtons {
            //     flex: 1 1 30%;
            //     display: flex;
            //     flex-direction: column;
            //     justify-content: space-between;
            //     align-items: flex-end;
            // }
        }
    }
}
.PaymentInformation {
    .PaymentInformationForm {}
    .PaymentInformationBoxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .PaymentInformationBox {
            border: 1px solid black;
            margin: 5px;
            text-align: center;
            flex: 1;
        }
    }
}
.OrderInformationSection {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .ShippingInformationBox {
        margin-bottom: 10px;
        .Banner {
            display: flex;
            color: white;
            justify-content: space-between;
            background-color: $primary-color;
            height: 3em;
            padding: 5px 10px;
            align-items: center;
            align-content: center;
            .AddNewShippingInformationButton {
                color: $secondary-color;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .OrderInformationBox {
        font-size: 18px;
        .Banner {
            display: flex;
            color: white;
            justify-content: space-between;
            background-color: $primary-color;
            height: 3em;
            padding: 5px 10px;
            align-items: center;
            align-content: center;
            .AddNewShippingInformationButton {
                color: $secondary-color;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .OrderInformationTextPlaceOrderButtonSection {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .OrderInformationText {
                font-size: 23px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 0 1 69%;
                padding: 10px;
                background-color: white;
                height: 100px;
                box-shadow: 0 1px 2px rgba(0,0,0,.1);
                color: $fourth-color;
                .ShippingSection {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .ShippingToken {
                        height: 100%;
                        font-size: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                    .Text {
                        height: 100%;
                        margin-left: 10px;
                        font-size: 30px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
                .OrderTotal{
                  display:flex;
                  flex-direction: row;
                  align-items: center;
                  .Title{

                  }
                  .Value{
                    margin-left:5px;
                    display:flex;
                    flex-direction: row;
                    align-items: center;
                    img{
                      height:23px;
                      margin-right:4px;
                    }
                  }

                }
            }
            .PlaceOrderButtonSection {
                flex: 0 1 30%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100px;
                box-shadow: 0 1px 2px rgba(0,0,0,.1);
                .PlaceOrderButton {
                    flex: 1;
                    background-color: $third-color;
                    border: none;
                    color: white;
                    outline: none;
                    cursor: pointer;
                    font-size: 20px;
                    &:hover {
                        background-color: darken($third-color, 5%);
                    }
                    &:focus {
                        background-color: darken($third-color, 15%);
                    }
                    &:disabled {
                        background-color: lighten($third-color, 25%);
                        cursor: no-drop;
                    }
                }
            }
        }
    }
}
.PaymentInformationTabs {
    max-width: 100%;
    float: none;
    list-style: none;
    padding: 0;
    margin: 75px auto;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}
.PaymentInformationTabs:after {
    content: '';
    display: table;
    clear: both;
}
.PaymentInformationTabs input[type=radio] {
    display: none;
}
.PaymentInformationTabs label {
    display: block;
    float: left;
    width: 50%;
    color: #ccc;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    line-height: 2;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    /* Safari 3.1 to 6.0 */
    transition: all 0.5s;
}
.PaymentInformationTabs label span {
    display: none;
}
.PaymentInformationTabs label i {
    padding: 5px;
    margin-right: 0;
}
.PaymentInformationTabs label:hover {
    color: #3498db;
    box-shadow: inset 0 4px #3498db;
}
.tab-content {
    display: none;
    width: 100%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    background-color: #ffffff;
    .RememberMeForgotPassword {
        @include span-columns(12);
        radio {
            @include span-columns(6);
        }
        a {
            @include span-columns(6);
        }
    }
    input {
        margin-bottom: 10px;
        height: 40px;
    }
    button {
        background-color: #52B1DB;
        border: none;
        color: white;
        height: 50px;
        outline: none;
        @include span-columns(12);
        &:hover {
            background-color: lighten(#52B1DB, 10%);
        }
        &:focus {
            background-color: darken(#52B1DB, 10%);
        }
        &:disabled {
            background-color: lighten(#52B1DB, 25%);
            cursor: no-drop;
        }
    }
}
.PaymentInformationTabs [id^="tab"]:checked + label {
    background: #FFF;
    box-shadow: inset 0 4px #3498db;
    color: #3498db;
}
#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3 {
    display: block;
}
@media (min-width: 768px) {
    .PaymentInformationTabs i {
        padding: 5px;
        margin-right: 10px;
    }
    .PaymentInformationTabs label span {
        display: inline-block;
    }
    .PaymentInformationTabs {
        max-width: 500px;
        margin: 50px auto;
    }
}
.paymentinformationcards {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
}
.paymentinformationcard {
    $base-border-color: gainsboro !default;
    $base-border-radius: 3px !default;
    $base-background-color: white !default;
    $base-spacing: 1.5em !default;
    $action-color: #477DCA !default;
    $dark-gray: #333 !default;
    $base-font-color: $dark-gray !default;
    $card-border-color: $base-border-color;
    $card-border: 1px solid $card-border-color;
    $card-background: lighten($card-border-color, 10%);
    $card-header-background: $card-background;
    $card-margin: 0.5em;
    $card-image-hover-opacity: 0.7;
    $card-image-hover-color: #F8F2B4;
    @include flex-basis(13em);
    @include flex-grow(1);
    @include transition (all 0.2s ease-in-out);
    background-color: $card-background;
    border-radius: $base-border-radius;
    border: $card-border;
    box-shadow: 0 2px 4px darken($base-background-color, 10%);
    cursor: pointer;
    margin: 0 $card-margin $base-spacing;
    position: relative;
    .card-image {
        overflow: hidden;
        height: 150px;
        max-height: 150px;
        background-color: $card-image-hover-color;
        img {
            @include transition (all 0.2s ease-in-out);
            border-top-left-radius: $base-border-radius;
            border-top-right-radius: $base-border-radius;
            width: 100%;
            opacity: 1;
        }
    }
    .card-header {
        @include transition (all 0.2s ease-in-out);
        background-color: $card-header-background;
        border-bottom: $card-border;
        border-radius: $base-border-radius $base-border-radius 0 0;
        font-weight: bold;
        line-height: 1.5em;
        padding: ($base-spacing / 3) ($base-spacing / 2);
    }
    .card-quantity {
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(space-between);
        @include align-content(stretch);
        @include align-items(center);
        div {
            @include flex-grow(1);
            text-align: center;
            font-size: 18px;
        }
        button {
            @include flex-grow(1);
        }
    }
    .card-copy {
        font-size: 0.9em;
        line-height: 1.5em;
        padding: ($base-spacing / 2) ($base-spacing / 2);
        p {
            margin: 0 0 ($base-spacing / 2);
        }
    }
    &:focus,
    &:hover {
        cursor: pointer;
        img {
            opacity: $card-image-hover-opacity;
        }
    }
    &:active {
        background-color: $card-background;
        .card-header {
            background-color: $card-background;
        }
    }
}
.ShippingInformationPage {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 10px;
    position: relative;
    .form-group {
        position: relative;
        .input-group {}
        .help-block {
            position: absolute;
            right: 0;
            top: 50%;
            margin-right: 10px;
            i {
                color: $third-color;
            }
        }
    }
    .has-error {
        input {
            border: 1px solid $third-color;
        }
    }
    .FirstNameLastName {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div {
            flex: 1;
            margin-right: 5px;
        }
        div:last-of-type {
            margin-right: 0;
        }
    }
    .CityStateZip {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div {
            flex: 1;
            margin-right: 5px;
        }
        div:last-of-type {
            margin-right: 0;
        }
    }
    label {
        font-size: 0.7em;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: lighten($primary-color, 25%);
    }
    input {
        width: 100%;
        height: 53px;
        flex: 1;
        padding: 10px;
        border: 1px solid #d9d9d9;
        background: transparent;
        color: $primary-color;
        font-weight: 300;
        font-size: 18px;
        &:focus {
            outline: none;
            border: 1px solid $primary-color;
        }
    }
    .ButtonSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 15px;
        align-items: center;
        height: 53px;
        button {
            flex: 1;
            color: white;
            height: 53px;
            width: 50%;
            background-color: $third-color;
            border: none;
            &:hover {
                background-color: darken($third-color,5%);
            }
            &:active {
                background-color: darken($third-color,15%);
            }
        }
    }
}
.AddShippingInformationPage {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 10px;
    position: relative;
    color: $fourth-color;
    .form-group {
        position: relative;
        .input-group {
            margin-top: 5px;
            label {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
        .help-block {
            position: absolute;
            right: 0;
            top: 50%;
            margin-right: 10px;
            i {
                color: $third-color;
            }
        }
    }
    .has-error {
        input {
            border: 1px solid $third-color;
        }
    }
    .FirstNameLastName {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div {
            flex: 1;
            margin-right: 5px;
        }
        div:last-of-type {
            margin-right: 0;
        }
    }
    .CityStateZip {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div {
            flex: 1;
            margin-right: 5px;
        }
        div:last-of-type {
            margin-right: 0;
        }
    }
    label {
        flex: 1;
        font-size: 0.7em;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: lighten($primary-color, 25%);
    }
    input {
        width: 100%;
        height: 53px;
        flex: 1;
        padding: 10px;
        border: 1px solid #d9d9d9;
        background: transparent;
        color: $primary-color;
        font-weight: 300;
        font-size: 18px;
        &:focus {
            outline: none;
            border: 1px solid $primary-color;
        }
    }
    .ButtonSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 15px;
        align-items: center;
        height: 53px;
        button {
            flex: 1;
            color: white;
            height: 53px;
            width: 50%;
            background-color: $third-color;
            border: none;
            &:hover {
                background-color: darken($third-color,5%);
            }
            &:active {
                background-color: darken($third-color,15%);
            }
        }
    }
}
.PaymentInformationSavedPaymentsInformation {
    display: flex;
    flex-direction: column;
    height: 500px;
    .PaymentInformationSavedPaymentsInformationBox {
        flex: 1;
        border: 1px solid black;
        margin-bottom: 5px;
        cursor: pointer;
    }
    .PaymentInformationSavedPaymentsInformationBoxNewMethod {
        flex: 1;
        border: 1px solid black;
        margin-bottom: 5px;
        cursor: pointer;
    }
}
.PaymentInformationTokenBuySection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    .BuyTokensSection {
        background-color: white;
        color: $fourth-color;
        margin-bottom: 10px;
        padding: 10px;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
        flex: 1 1 30%;
        .BuyTokenSectionSliderInput {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 75px;
            #slider {}
            .slider-input-container {
                margin-top: 10px;
                height: 40px;
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                input {
                    color: $fourth-color;
                    text-align: center;
                    font-size: 20px;
                    font-weight: bold;
                    flex: 1;
                }
            }
        }
        .BuyTokensSectionButtons {
            display: flex;
            flex-direction: row;
            .DecreaseTokensButton {
                flex: 1;
                height: 50px;
            }
            .IncreaseTokensButton {
                flex: 1;
                height: 50px;
            }
            .BuyTokenAmount {
                flex: 1;
                text-align: center;
                outline: none;
            }
        }
        .BuyTokenSectionSavingCostBuy {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 10px 0;
            .FreeTokensTitle {
                font-size: 20px;
                text-decoration: underline;
            }
            .FreeTokensAmount {
                color: green;
                font-size: 25px;
                font-weight: bold;
            }
            .TokenCostAmountTitle {
                font-size: 20px;
                text-decoration: underline;
            }
            .TokenCostAmount {
                font-size: 25px;
                font-weight: bold;
            }
        }
    }
    .BuyTokenPaymentInformation {
        background-color: white;
        margin-bottom: 10px;
        padding: 10px;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
        flex: 1 1 70%;
        display: flex;
        flex-direction: column;
        .TokenPaymentInformationBox {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: stretch;
            align-content: stretch;
            form {
                display: flex;
                flex: 1;
                flex-direction: column;
                .CardNumber,
                .NameOnCard {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: stretch;
                    align-content: stretch;
                    margin-bottom: 10px;
                }
                .CVCExpirationZipcode {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    div:first-of-type {
                        margin-right: 10px;
                    }
                    div:last-of-type {
                        margin-left: 10px;
                    }
                }
                span {
                    color: $third-color;
                    font-size: 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 10px;
                }
                label {
                    font-size: 0.7em;
                    font-weight: bold;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: lighten($primary-color, 25%);
                }
                input {
                    width: 100%;
                    height: 53px;
                    flex: 1;
                    padding: 10px;
                    border: 1px solid #d9d9d9;
                    background: transparent;
                    color: $primary-color;
                    font-weight: 300;
                    font-size: 18px;
                    &:focus {
                        outline: none;
                        border: 1px solid $primary-color;
                    }
                }
            }
        }
    }
    .BuyTokensSectionExpand {
        height: 400px;
    }
}
.ShippingInformationPage {
    background-color: white;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    .ShippingInformationButton {
        color: white;
        height: 53px;
        width: 100%;
        background-color: darken($primary-color,10%);
        border: none;
        cursor: pointer;
        bottom: 0;
        &:hover {}
        &:active {}
    }
}
.ProceedToPaymentSectionButton {
    color: white;
    height: 53px;
    width: 100%;
    background-color: $primary-color;
    border: none;
    cursor: pointer;
    bottom: 0;
    &:hover:enablaed {
        background-color: darken($primary-color, 5%);
    }
    &:focus:enabled {
        background-color: darken($primary-color, 15%);
    }
    &:disabled {
        opacity: 0.3;
        cursor: default;
    }
}
