@import "{wolves:bourbon}/bourbon";
@import "{wolves:neat}/neat";
$primary-color: #2c3e50;
$secondary-color: white;
$third-color: #e04e4b;
$fourth-color: rgba(0,0,0,.8);
$fifth-color: rgba(0,128,0,.7);
.container {
    flex: 1;
    margin: auto;
    width: 75%;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    .ItemSection {
        padding: 10px;
        flex: 1 1 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .ItemName {
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 10px;
            color:$fourth-color;
        }
        .ItemSectionImages {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-height:585px;
            .MainImage {
                flex: 1 1 85%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                  max-width: 100%;
                  max-width: 100%;
                }
            }
            .AlternateImages {
                flex: 1 1 15%;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                div {
                    cursor: pointer;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    border: solid 1px #dcdcdc;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    max-width:135px;
                    max-height:135px;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .Selected {
                    border: 1px solid $third-color;
                }
            }
        }
        .ItemSectionDescription {
            flex: 1;
            color: $fourth-color;
            .ItemSectionDescriptionTitle {
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 15px;
                text-decoration: underline;
                margin-top: 15px;
            }
        }
    }
    .RightSection {
        padding-right: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        flex: 1 1 35%;
        .BuySection {
            flex: 0 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: $fourth-color;
            padding-top:20px;
            .PriceShippingSection {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 15px;
                .PriceSection {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    .PriceToken {
                        height: 40px;
                        img {
                            height: 40px;
                        }
                    }
                    .Price {
                        margin-left: 10px;
                        font-size: 40px;
                        font-weight: bold;
                    }
                }
                .ShippingSection {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    color:$primary-color;
                    .ShippingToken {
                        font-size: 20px;
                    }
                    .Text {
                        margin-left: 10px;
                        font-size: 30px;

                    }
                }
            }
            // @include span-columns(5);
        }
        .SimilarItemCompetitionsSection {

            margin-top: 20px;
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            color: $fourth-color;
            // border-top:1px solid #dcdcdc;
            // border-left: solid 1px #dcdcdc;
            .SimilarItemCompetitionSectionTitle {
                margin-top: 10px;
                font-size: 25px;
                font-weight: bold;
                text-align: center;
                margin-bottom: 15px;
                text-decoration: underline;
                color: $fourth-color;
            }
            .SimilarItemCompetitionBox {
                display: flex;
                flex-direction: row;
                height: 150px;
                border: solid 1px tint($primary-color, 80%);
                margin-bottom: 10px;

                .SimilarItemCompetitionBoxSectionLive {
                    padding: 5px;
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .SimilarItemCompetitionBoxTitleLive {
                        flex: 1 1 7.5%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .Title {
                            flex: 0 1 50%;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            font-size: 14px;
                            .bubble {
                                content: "";
                                background-color: #27ae60;
                                width: 12px;
                                height: 12px;
                                border-radius: 50%;
                                display: block;
                                margin-top: 2px;
                                top: 1px;
                                left: 1px;
                            }
                        }
                    }
                    .SimilarItemCompetitionBoxWatchlistLive {
                        flex: 1 1 7.5%;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-items: flex-start;
                    }
                    .SimilarItemCompetitionBoxInformationLive {
                        flex: 1 1 85%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 0 10px;
                        .Countdown {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            font-size: 25px;
                            flex: 1 1 70%;
                            .Value {
                                flex: 1 1 60%;
                                font-weight: bold;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                            }
                            .GoToCompetitionButtonSection {
                                flex: 1 1 40%;
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-end;
                                button {
                                    color: white;
                                    height: 50px;
                                    width: 125px;
                                    font-size: 16px;
                                    background-color: $primary-color;
                                    border: none;
                                    cursor: pointer;
                                    &:hover {
                                        background-color: darken($primary-color,5%);
                                    }
                                    &:active {
                                        background-color: darken($primary-color,15%);
                                    }
                                }
                            }
                        }
                        .SlotPriceSlotCount {
                            flex: 1 1 15%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            .Price {
                                flex: 1;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                align-items: center;
                                .Title {
                                    flex: 1;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    img {
                                        height: 20px;
                                    }
                                }
                                .Value {
                                    flex: 1;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    font-size: 18px;
                                    color: $primary-color;
                                    font-weight: bold;
                                    border-top: 1px solid rgb(150,150,150);
                                    width:50%;
                                    align-items: center;
                                }
                            }
                            .Count {
                                flex: 1;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                align-items: center;
                                .Title {
                                    flex: 1;
                                    font-size: 20px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;

                                    img{
                                      height:20px;
                                    }
                                }
                                .Value {
                                    flex: 1;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    font-size: 18px;
                                    color: gold;
                                    font-weight: bold;
                                    border-top: 1px solid rgb(150,150,150);
                                    width:50%;
                                    align-items: center;
                                }
                            }
                        }
                        #container {
                            flex: 1 1 15%;
                            display: flex;
                            flex-direction: column;
                            svg {
                                flex: 1;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                            }
                            p {
                                height: 100%;
                                text-align: center;
                            }
                        }
                    }
                }
                .SimilarItemCompetitionBoxSectionNotLive {
                    padding: 5px;
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .SimilarItemCompetitionBoxSectionLeftNotLive {
                        flex: 1 0 7.5%;
                    }
                    .SimilarItemCompetitionBoxTitleNotLive {
                        flex: 1 0 7.5%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-end;
                    }
                    .SimilarItemCompetitionBoxInformationNotLive {
                        flex: 1 1 95%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding:0 10px;
                        #container {
                            flex: 1 1 15%;
                            display: flex;
                            flex-direction: column;
                            svg {
                                flex: 1;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                            }
                            p {
                                height: 100%;
                                text-align: center;
                            }
                        }
                        .CountdownSection{
                          display:flex;
                          flex-direction: column;
                          flex: 1 70%;
                          justify-content: space-between;
                          align-items: center;
                          .Countdown {
                              font-size: 25px;
                              font-weight: bold;
                          }
                          button {
                              color: white;
                              height: 50px;
                              width: 125px;
                              font-size: 16px;
                              background-color: $primary-color;
                              border: none;
                              cursor: pointer;
                              &:hover {
                                  background-color: darken($primary-color,5%);
                              }
                              &:active {
                                  background-color: darken($primary-color,15%);
                              }
                          }
                        }
                        .EntrantCount {
                            flex: 1 1 15%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            .Title {
                                color: $fifth-color;
                                font-size: 22px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                margin-bottom: 10px;
                            }

                            .Value {
                                padding-top: 5px;
                                width: 50%;
                                border-top: 1px solid #969696;
                                font-size: 18px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}
.CartQuantitySection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .Quantity {
        flex: 1 1 50%;
        margin-right: 10px;
        border: 1px solid rgb(235,235,235);
        button {
            @include span-columns(4);
            height: 55px;
            border: none;
            background: none;
            outline: none;
            &:hover {
                background-color: rgb(235,235,235);
            }
        }
        .left {
            border-right: 1px solid rgb(235,235,235);
        }
        .right {
            border-left: 1px solid rgb(235,235,235);
        }
        div {
            @include span-columns(4);
            height: 55px;
            line-height: 55px;
            text-align: center;
            font-size: 30px;
        }
    }
    .Cart {
        height: 100%;
        flex: 1 1 50%;
        button {
            color: white;
            height: 57px;
            background-color: $third-color;
            border: none;
            cursor: pointer;
            &:hover {
                background-color: darken($third-color,5%);
            }
            &:active {
                background-color: darken($third-color,15%);
            }
        }
    }
    .SoldOut {
        flex: 1;
        border: 2px solid $third-color;
        color: $third-color;
        height: 57px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: bold;
    }
    .CartQuantityNotLoggedInSection {
        flex: 1;
        button {
            color: white;
            height: 57px;
            background-color: $third-color;
            border: none;
            cursor: pointer;
            width: 100%;
            &:hover {
                background-color: darken($third-color,5%);
            }
            &:active {
                background-color: darken($third-color,15%);
            }
        }
    }
}
