@import "{wolves:bourbon}/bourbon";
@import "{wolves:neat}/neat";
$primary-color: #2c3e50;
$secondary-color: white;
$third-color: #e04e4b;
$fourth-color: rgba(0,0,0,.8);
$fifth-color: rgba(0,128,0,.7);
$sixth-color: rgba(255,215,0,.7);

.ItemCompetitionsContainerContent {
    width : 80%;
    margin: auto;
    flex  : 1;

    .CompetitionWatchlistButtonsAndNotification {
        display       : flex;
        flex-direction: row;
        flex          : 1;
        margin-bottom : 10px;
        margin-top    : 5px;

        .ButtonSection {
            flex           : 0 0 35%;
            display        : flex;
            flex-direction : row;
            justify-content: flex-start;
            height         : 75px;
            margin-right   : 10px;

            button {
                color           : white;
                background-color: $primary-color;
                border          : none;
                cursor          : pointer;
                font-size       : 23px;
                display         : flex;
                flex-direction  : row;
                align-items     : center;
                justify-content : center;
                width           : 200px;
                img {
                    vertical-align: middle;
                    width         : 35px;
                }

                i {
                    margin-right: 6px;
                    vertical-align: middle;
                }

                &:hover:enabled {
                    background-color: darken($primary-color,5%);
                }

                &:active:enabled {
                    background-color: darken($primary-color,15%);
                }

                &:disabled {
                    cursor : default;
                    opacity: 0.3;
                }

                &:first-of-type {
                    margin-right: 10px;
                }

                &:last-of-type {
                    margin-left: 10px;
                }
            }

            .GoToWatchlistButton {
                .fa-star {
                    color: lighten(gold,15%);
                }
            }

            .GoToCompetitionsEnteredButton {
                i {
                    color    : $fifth-color;
                    font-size: 35px;
                }
            }
        }

        .NotificationSection {
            display       : flex;
            flex-direction: row;
            flex          : 1;
            height        : 75px;

            .Notification {
                flex          : 1;
                display       : flex;
                flex-direction: row;
                height        : 100%;
                cursor        : pointer;

                .Text {
                    flex            : 1 1 85%;
                    background-color: white;
                    color           : $fourth-color;
                    padding         : 5px;
                    display         : flex;
                    flex-direction  : column;
                    justify-content : center;
                    align-items     : center;
                    font-size       : 35px;
                    font-weight     : bold;
                }

                .InformationType {
                    flex            : 1 1 15%;
                    color           : white;
                    background-color: $primary-color;
                    display         : flex;
                    flex-direction  : column;
                    justify-content : center;
                    align-items     : center;

                    i {
                        font-size  : 50px;
                        font-weight: bold;
                    }
                }

                .InformationText {
                    color           : $primary-color;
                    flex            : 1 1 85%;
                    background-color: white;
                    padding         : 5px;
                    display         : flex;
                    flex-direction  : column;
                    justify-content : center;
                    align-items     : center;
                    font-size       : 50px;
                    font-weight     : 900;
                }

                .AdditionType {
                    flex            : 1 1 15%;
                    color           : white;
                    background-color: $fifth-color;
                    display         : flex;
                    flex-direction  : column;
                    justify-content : center;
                    align-items     : center;

                    i {
                        font-size  : 50px;
                        font-weight: bold;
                    }
                }

                .WarningType {
                    flex            : 1 1 15%;
                    color           : white;
                    background-color: $third-color;
                    display         : flex;
                    flex-direction  : column;
                    justify-content : center;
                    align-items     : center;

                    i {
                        font-size  : 50px;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .ItemCompetitionsPageContainer {
        flex           : 1;
        display        : flex;
        flex-direction : column;
        justify-content: flex-start;

        .ItemCompetitionsContent {
            display        : flex;
            flex-direction : row;
            flex-wrap      : wrap;
            justify-content: space-between;

            .NotLive {
                opacity: 0.5;
            }

            .ItemCompetitionBox {
                flex            : 0 1 49.3%;
                height          : 250px;
                background-color: white;
                box-shadow      : 0 1px 2px rgba(0,0,0,.1);
                // box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
                display         : flex;
                flex-direction  : row;
                margin          : 10px 0;

                button {
                    color           : white;
                    height          : 60px;
                    width           : 200px;
                    background-color: $primary-color;
                    border          : none;
                    cursor          : pointer;
                    font-size       : 20px;

                    &:hover {
                        background-color: darken($primary-color,5%);
                    }

                    &:active {
                        background-color: darken($primary-color,15%);
                    }
                }

                .CompeteButton,
                .PrepareButton {
                    background-color: $third-color;

                    &:hover {
                        background-color: darken($third-color,5%);
                    }

                    &:active {
                        background-color: darken($third-color,15%);
                    }
                }

                .RightInformation {
                    flex           : 1 1 100%;
                    padding        : 10px 10px 10px 0;
                    display        : flex;
                    flex-direction : column;
                    justify-content: space-between;
                    color          : $fourth-color;

                    .Header {
                        flex           : 0 1 10%;
                        display        : flex;
                        flex-direction : row;
                        align-items    : center;
                        justify-content: space-between;
                        border-bottom  : 2px solid rgb(150,150,150);
                        font-size      : 20px;
                        font-weight    : bold;
                        padding-bottom : 5px;
                    }

                    .ItemCompetitionInformation {
                        display        : flex;
                        flex-direction : column;
                        justify-content: space-between;
                        padding-top    : 10px;
                        flex           : 1 1 90%;

                        .ItemCompetitionInformationNotLive {
                            flex           : 1;
                            display        : flex;
                            flex-direction : row;
                            justify-content: space-around;

                            #progressbar {
                                flex          : 1 1 15%;
                                display       : flex;
                                flex-direction: column;

                                svg {
                                    flex    : 1;
                                    width   : 100%;
                                    height  : 100%;
                                    position: absolute;

                                    path:last-of-type {
                                        stroke: $third-color;
                                    }
                                }
                            }

                            .Countdown {
                                flex           : 1 1 70%;
                                display        : flex;
                                flex-direction : column;
                                justify-content: space-around;
                                align-content  : center;

                                .Title {
                                    display       : flex;
                                    flex-direction: column;
                                    align-items   : center;
                                    font-size     : 20px;
                                }

                                .ButtonSection {
                                    display       : flex;
                                    flex-direction: column;
                                    align-items   : center;
                                }

                                .CompetitionCountdown {
                                    display       : flex;
                                    flex-direction: column;
                                    align-items   : center;
                                }
                            }

                            .EntrantCount {
                                flex           : 1 1 15%;
                                display        : flex;
                                flex-direction : column;
                                align-items    : center;
                                justify-content: center;

                                .Title {
                                    color         : $fifth-color;
                                    font-size     : 30px;
                                    display       : flex;
                                    flex-direction: column;
                                    align-items   : center;
                                    margin-bottom : 10px;
                                }

                                .Value {
                                    padding-top   : 5px;
                                    width         : 50%;
                                    border-top    : 1px solid #969696;
                                    font-size     : 25px;
                                    display       : flex;
                                    flex-direction: column;
                                    align-items   : center;
                                    font-weight   : bold;
                                }
                            }

                            .CompetitionCountdown {
                                font-size: 45px;
                            }
                        }

                        .ItemCompetitionInformationLive {
                            flex           : 1;
                            display        : flex;
                            flex-direction : row;
                            justify-content: space-between;
                            color          : $fourth-color;

                            #progressbar {
                                flex          : 1 1 15%;
                                display       : flex;
                                flex-direction: column;

                                svg {
                                    flex    : 1;
                                    width   : 100%;
                                    height  : 100%;
                                    position: absolute;

                                    path:last-of-type {
                                        stroke: $third-color;
                                    }
                                }
                            }
                        }

                        .CountdownButton {
                            flex           : 1 1 70%;
                            display        : flex;
                            flex-direction : column;
                            justify-content: space-between;

                            .Countdown {
                                flex           : 1 1 60%;
                                font-size      : 45px;
                                font-weight    : bold;
                                display        : flex;
                                flex-direction : column;
                                align-items    : center;
                                justify-content: center;
                            }

                            .CompetitionButtonSection {
                                flex           : 1 1 40%;
                                display        : flex;
                                flex-direction : column;
                                align-items    : center;
                                justify-content: flex-start;
                            }
                        }

                        .PriceCount {
                            flex           : 1 1 15%;
                            display        : flex;
                            flex-direction : column;
                            justify-content: space-between;

                            .Price {
                                flex           : 1;
                                font-size      : 20px;
                                display        : flex;
                                flex-direction : column;
                                justify-content: space-around;
                                align-items    : center;

                                .Title {
                                    flex           : 1;
                                    height         : 30px;
                                    display        : flex;
                                    flex-direction : column;
                                    justify-content: center;

                                    img {
                                        height: 30px;
                                    }
                                }

                                .Value {
                                    border-top     : 1px solid rgb(150,150,150);
                                    flex           : 1;
                                    display        : flex;
                                    flex-direction : column;
                                    justify-content: center;
                                    align-items    : center;
                                    font-size      : 25px;
                                    color          : $primary-color;
                                    font-weight    : bold;
                                    width          : 50%;
                                }
                            }

                            .Count {
                                flex           : 1;
                                font-size      : 20px;
                                display        : flex;
                                flex-direction : column;
                                justify-content: space-around;
                                align-items    : center;

                                .Title {
                                    flex           : 1;
                                    font-size      : 30px;
                                    display        : flex;
                                    flex-direction : column;
                                    justify-content: center;

                                    img {
                                        width: 50px;
                                    }
                                }

                                .Value {
                                    border-top     : 1px solid rgb(150,150,150);
                                    flex           : 1;
                                    display        : flex;
                                    flex-direction : column;
                                    justify-content: center;
                                    align-items    : center;
                                    font-size      : 25px;
                                    color          : gold;
                                    font-weight    : bold;
                                    width          : 50%;
                                }
                            }
                        }

                        .CompetitionEndedCalculatingSection {
                            display        : flex;
                            flex-direction : column;
                            justify-content: space-around;
                            flex           : 1;
                            align-items    : center;

                            .Top {
                                font-weight    : bold;
                                font-size      : 29px;
                                flex           : 1 1 35%;
                                display        : flex;
                                flex-direction : column;
                                align-items    : center;
                                justify-content: center;
                            }

                            .Bottom {
                                flex           : 1 1 65%;
                                display        : flex;
                                flex-direction : row;
                                justify-content: flex-start;
                                align-items    : center;

                                .Text {
                                    flex           : 0 1 50%;
                                    font-size      : 22px;
                                    font-weight    : bold;
                                    display        : flex;
                                    flex-direction : row;
                                    justify-content: center;
                                    align-items    : center;
                                }

                                .spinner {
                                    flex    : 0 1 45%;
                                    width   : 100px;
                                    height  : 100%;
                                    margin  : 0;
                                    position: relative;
                                }
                            }
                        }
                    }
                }

                .LeftInformation {
                    flex          : 1 0 auto;
                    display       : flex;
                    height        : 100%;
                    width         : 250px;
                    flex-direction: column;
                    align-items   : center;
                    align-content : center;

                    .Image {
                        height : 100%;
                        padding: 5px;

                        img {
                            max-width: 100%;
                            height   : 100%;
                        }
                    }

                    .ItemCompetitionInformation {
                        flex      : 1 1 75%;
                        min-height: 100%;
                    }
                }
            }

            .AddContentToWatchListNotification {
              flex:1;
                text-align  : center;
                color       : #414141;

                .Notification {
                  opacity   : 0.5;
                    font-size : 45px;
                    text-align: center;
                    font-weight: bold;
                }

                .Icon {
                    text-align: center;
                    color     : gold;
                    font-size : 250px;
                    opacity   : 0.5;
                }
            }
            .AddContentToEnteredListNotification{
              text-align  : center;
              color       : #414141;
              flex:1;
              .Notification {
                opacity   : 0.5;
                  font-size : 45px;
                  text-align: center;
                  font-weight: bold;
              }

              .Icon {
                  text-align: center;
                  color     : $fifth-color;
                  font-size : 250px;
                  opacity   : 0.5;
              }
            }
        }
    }
}

.ItemCompetitionGridSection {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    align-items    : stretch;
    flex           : 1;
    min-width      : 90%;
    @include outer-container(90%);

    .ItemCompetitionGridHeader {
        box-shadow      : 0 1px 2px rgba(0, 0, 0, 0.1);
        flex            : 0 1 12.5%;
        background-color: white;
        display         : flex;
        flex-direction  : row;
        justify-content : space-around;
        align-items     : center;
        padding         : 10px;
        color           : $fourth-color;

        .ItemCompetitionGridHeaderSlotCount {
            flex           : 1 1 (100%/3);
            display        : flex;
            flex-direction : column;
            justify-content: space-between;
            align-items    : center;

            .Title {
                font-weight    : bold;
                text-decoration: underline;
                margin-bottom  : 5px;
                color          : $fourth-color;

                img {
                    width: 70px;
                }
            }

            .Value {
                font-size  : 30px;
                cursor     : pointer;
                color      : rgba(255,215,0,1);
                font-weight: bold;
            }
        }

        .ItemCompetitionGridHeaderSlotPrice {
            flex           : 1 1 (100%/3);
            display        : flex;
            flex-direction : column;
            justify-content: space-between;
            align-items    : center;

            .Title {
                font-weight    : bold;
                text-decoration: underline;
                color          : $fourth-color;

                img {
                    height: 35px;
                }
            }

            .Value {
                font-size  : 30px;
                font-weight: bold;
            }
        }

        .ItemCompetitionGridHeaderCountdown {
            flex           : 1 1 (100%/3);
            display        : flex;
            flex-direction : column;
            justify-content: space-between;
            align-items    : center;

            .Title {
                font-weight    : bold;
                text-decoration: underline;
                color          : $fourth-color;

                i {
                    font-size: 40px;
                    color    : $primary-color;
                }
            }

            .Value {
                font-size  : 30px;
                font-weight: bold;
            }
        }
    }

    .GridSectionAndUserInformation {
        display        : flex;
        flex           : 1;
        flex-direction : row;
        justify-content: space-between;
        align-items    : stretch;

        .GridSection {
            flex           : 0 0 75%;
            display        : flex;
            flex-direction : column;
            justify-content: space-between;
            align-items    : stretch;

            .NavigationButtons {
                margin-top     : 10px;
                height         : 45px;
                display        : flex;
                flex-direction : row;
                justify-content: space-between;

                .ZoomOutButton {
                    flex           : 1 1 (100%/3);
                    display        : flex;
                    flex-direction : row;
                    align-items    : center;
                    align-content  : center;
                    justify-content: center;

                    img {
                        -webkit-touch-callout: none;
                        /* iOS Safari */
                        -webkit-user-select  : none;
                        /* Chrome/Safari/Opera */
                        -khtml-user-select   : none;
                        /* Konqueror */
                        -moz-user-select     : none;
                        /* Firefox */
                        -ms-user-select      : none;
                        /* Internet Explorer/Edge */
                        user-select          : none;
                        height               : 45px;
                        opacity              : 0.3;
                        transition           : opacity 0.05s ease-in-out;
                        cursor               : pointer;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }

                .LeftArrowSection {
                    flex           : 1 1 (100%/3);
                    display        : flex;
                    flex-direction : column;
                    justify-content: center;
                    align-items    : flex-start;
                    align-content  : center;

                    i {
                        -webkit-touch-callout: none;
                        /* iOS Safari */
                        -webkit-user-select  : none;
                        /* Chrome/Safari/Opera */
                        -khtml-user-select   : none;
                        /* Konqueror */
                        -moz-user-select     : none;
                        /* Firefox */
                        -ms-user-select      : none;
                        /* Internet Explorer/Edge */
                        user-select          : none;
                        opacity              : 0.3;
                        transition           : opacity 0.05s ease-in-out;
                        cursor               : pointer;
                        font-size            : 60px;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }

                .RightArrowSection {
                    flex           : 1 1 (100%/3);
                    display        : flex;
                    flex-direction : column;
                    justify-content: center;
                    align-items    : flex-end;
                    align-content  : stretch;

                    i {
                        -webkit-touch-callout: none;
                        /* iOS Safari */
                        -webkit-user-select  : none;
                        /* Chrome/Safari/Opera */
                        -khtml-user-select   : none;
                        /* Konqueror */
                        -moz-user-select     : none;
                        /* Firefox */
                        -ms-user-select      : none;
                        /* Internet Explorer/Edge */
                        user-select          : none;
                        padding              : 0;
                        margin               : 0;
                        opacity              : 0.3;
                        transition           : opacity 0.05s ease-in-out;
                        cursor               : pointer;
                        font-size            : 60px;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .GridSlotInformation {
            flex           : 1 1 12.5%;
            display        : flex;
            flex-direction : column;
            justify-content: space-between;
            align-items    : stretch;
            margin-left    : 10px;
            margin-top     : 10px;

            .GridSlotInformationReservedSlots {
                padding         : 10px;
                flex            : 1 1 42.5%;
                background-color: white;
                box-shadow      : 0 1px 2px rgba(0,0,0,.1);
                display         : flex;
                flex-direction  : column;
                justify-content : space-between;

                .GridSlotInformationReservedSlotsTitle {
                    font-weight    : bold;
                    flex           : 0 1 10%;
                    border-bottom  : 1px solid rgb(150,150,150);
                    display        : flex;
                    flex-direction : column;
                    align-items    : center;
                    justify-content: center;
                }

                .GridSlotInformationReservedSlotsSlots {
                    color         : $fourth-color;
                    flex          : 1 1 90%;
                    margin-top    : 10px;
                    display       : flex;
                    flex-direction: column;
                    font-size     : 20px;
                    overflow-y    : hidden;

                    .Slot {
                        display        : flex;
                        flex-direction : row;
                        justify-content: space-between;

                        .SlotNumber {
                            font-weight: bold;
                        }

                        .Price {
                            display       : flex;
                            flex-direction: row;

                            img {
                                height: 20px;
                            }
                        }
                    }
                }
            }

            .GridSlotInformationUserSlots {
                padding         : 10px;
                flex            : 0 1 42.5%;
                // height:0px;
                background-color: white;
                box-shadow      : 0 1px 2px rgba(0,0,0,.1);
                margin-top      : 10px;
                margin-bottom   : 10px;
                display         : flex;
                flex-direction  : column;
                justify-content : space-between;

                .GridSlotInformationUserSlotsTitle {
                    flex           : 1 1 10%;
                    border-bottom  : 1px solid rgb(150,150,150);
                    display        : flex;
                    flex-direction : column;
                    justify-content: center;
                    align-items    : center;
                    font-weight    : bold;
                }

                .GridSlotInformationUserSlotsSlots {
                    color     : $fourth-color;
                    height    : 250px;
                    overflow-y: auto;
                    margin-top: 10px;

                    .Slot {
                        display        : flex;
                        flex-direction : row;
                        justify-content: space-between;
                        padding        : 0 5px;

                        .SlotNumber {
                            font-weight: bold;
                        }

                        .Price {
                            display       : flex;
                            flex-direction: row;

                            img {
                                height: 18px;
                            }
                        }
                    }
                }
            }

            .GridSlotInformationUserSettings {
                flex            : 0 1 10%;
                background-color: white;
                box-shadow      : 0 1px 2px rgba(0,0,0,.1);
                display         : flex;
                flex-direction  : column;
                justify-content : space-between;
                padding         : 5px;

                div {
                    font-weight     : bold;
                    cursor          : pointer;
                    flex            : 1;
                    display         : flex;
                    flex-direction  : column;
                    justify-content : center;
                    align-items     : center;
                    color           : #757575;
                    background-color: #f0f0f0;
                }

                .Enabled {
                    background-color: $fifth-color;
                    color           : white;

                    &:hover {
                        background-color: darken($fifth-color,2.5%);
                    }

                    &:active {
                        background-color: darken($fifth-color,5%);
                    }
                }
            }

            .EntrantCount {
                margin-top      : 10px;
                display         : flex;
                flex-direction  : row;
                align-items     : center;
                justify-content : center;
                flex            : 0 0 5%;
                background-color: white;
                box-shadow      : 0 1px 2px rgba(0,0,0,.1);

                .Title {
                    margin-right  : 5px;
                    color         : $fifth-color;
                    font-size     : 20px;
                    display       : flex;
                    flex-direction: column;
                    align-items   : center;
                }

                .Value {
                    padding-left  : 5px;
                    font-size     : 18px;
                    display       : flex;
                    flex-direction: column;
                    align-items   : center;
                    font-weight   : bold;
                }
            }
        }

        .GridButtons {
            box-shadow     : 0 1px 2px rgba(0,0,0,.1);
            flex           : 1;
            height         : 613px;
            display        : flex;
            flex-direction : row;
            flex-wrap      : wrap;
            justify-content: space-between;
            margin-top     : 5px;

            .OuterGridButton {
                margin          : 1px;
                flex            : 1 1 (99%/3);
                background-color: white;
                border          : none;
                font-size       : 20px;
                color           : $fourth-color;
                font-size       : 20px;
            }

            .MiddleGridButton {
                font-size       : 20px;
                flex            : 1 1 19.7%;
                margin          : 1px;
                background-color: white;
                border          : none;
                color           : $fourth-color;
            }

            .InnerGridButton {
                flex            : 1 1 9.7%;
                margin          : 1px;
                background-color: white;
                border          : none;
                color           : $fourth-color;
                font-size       : 20px;

                &:hover:enabled {
                    background-color: tint($fifth-color,25%);
                    color           : white;
                }

                &:disabled {
                    cursor: default;
                }
            }

            .Mine {
                cursor          : default;
                background-color: $fifth-color;
                // background-color: #27ae60;
                color           : white;
                cursor          : default;
            }

            .GoldenMine {
                cursor          : default;
                background-color: #8BAF00;
                color           : gold;
            }

            .Taken {
                cursor          : default;
                background-color: $third-color;
                cursor          : default;
                color           : white;
            }

            .GoldenTaken {
                cursor          : default;
                color           : gold;
                background-color: #F19922;
            }

            .GoldenNeutral {
                color           : white;
                background-color: gold;
            }
        }

        .GridItemProgress {
            background-color: white;
            box-shadow      : 0 1px 2px rgba(0,0,0,.1);
            flex            : 0 1 12.5%;
            display         : flex;
            flex-direction  : column;
            justify-content : space-between;
            margin          : 10px 10px 0 0;

            .Item {
                flex          : 1;
                display       : flex;
                flex-direction: column;
                align-items   : center;
                color         : $fourth-color;
                margin        : 10px 10px 0;

                .Name {
                    display        : flex;
                    flex-direction : column;
                    justify-content: center;
                    flex           : 1 1 10%;
                    font-size      : 35px;
                    font-weight    : bold;
                    word-wrap      : break-word;
                }

                .Price {
                    display        : flex;
                    flex-direction : row;
                    justify-content: center;
                    align-items    : center;
                    font-size      : 25px;

                    img {
                        height: 25px;
                    }
                }

                .ItemImage {
                    flex           : 1 1 auto;
                    display        : flex;
                    flex-direction : column;
                    justify-content: center;
                    align-items    : center;

                    img {
                        max-width : 100%;
                        max-height: 200px;
                    }
                }
            }

            .progressbar {
                height  : 470px;
                margin  : 10px;
                position: relative;

                .progressbar-text {
                    position       : absolute;
                    width          : 100%;
                    top            : 50%;
                    font-weight    : bold;
                    font-size      : 20px;
                    text-align     : center;
                    display        : flex;
                    flex-direction : row;
                    justify-content: center;
                }
            }
        }
    }

    .ItemCompetitionPreNotLiveSection {
        flex            : 1;
        display         : flex;
        flex-direction  : row;
        justify-content : space-between;
        background-color: white;
        box-shadow      : 0 1px 2px rgba(0,0,0,.1);

        .ItemCompetitionPreNotLiveSectionLeftSection {
            flex           : 1 1 40%;
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;
            font-size      : 40px;
            font-weight    : bold;

            .ItemCompetitionPreNotLiveSectionLeftSectionTitle {
                flex           : 1;
                padding        : 5px;
                flex           : 1 1 20%;
                display        : flex;
                flex-direction : row;
                justify-content: center;
                align-items    : center;
                color          : $fourth-color;
                text-align     : center;
            }

            .ItemCompetitionPreNotLiveSectionLeftSectionImage {
                flex           : 1 1 80%;
                display        : flex;
                flex-direction : column;
                justify-content: center;
                align-items    : center;
                max-height     : 679px;
                padding        : 5px;

                img {
                    max-width : 100%;
                    max-height: 100%;
                }
            }
        }

        .ItemCompetitionPreNotLiveSectionRightSection {
            flex           : 1 1 60%;
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;

            .CompetitionBegins {
                font-size: 35px;
            }

            .CompetitionBeginsTimer {
                color      : $third-color;
                font-size  : 55px;
                font-weight: bold;
            }
        }
    }

    .ItemCompetitionCalculatingResults {
        flex            : 1;
        background-color: white;
        box-shadow      : 0 1px 2px rgba(0,0,0,.1);
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;

        .Text {
            color          : $fourth-color;
            flex           : 1 1 40%;
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;

            .Top {
                font-size  : 45px;
                font-weight: bold;
            }

            .Bottom {
                font-size  : 35px;
                font-weight: bold;
                margin-top : 20px;
            }
        }

        .SpinnerSection {
            flex           : 1 1 60%;
            display        : flex;
            flex-direction : column;
            justify-content: flex-start;
            align-items    : center;

            .spinner {
                height    : 200px;
                width     : 200px;
                margin-top: 0;
            }
        }
    }

    .ItemCompetitionGridResultsLossSection {
        flex            : 1;
        display         : flex;
        flex-direction  : row;
        justify-content : space-between;
        flex-wrap       : wrap;
        background-color: white;
        box-shadow      : 0 1px 2px rgba(0,0,0,.1);

        .ItemCompetitionGridResultsSectionLeft {
            flex           : 1 1 40%;
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;

            img {
                max-width : 100%;
                max-height: 100%;
            }

            .ItemCompetitionGridResultsSectionLeftTitle {
                font-size  : 40px;
                color      : $fourth-color;
                font-weight: bold;
            }

            a {
                width: 40%;

                button {
                    color           : white;
                    background-color: $third-color;
                    border          : none;
                    height          : 53px;
                    width           : 100%;
                    cursor          : pointer;

                    &:hover:enabled {
                        background-color: darken($third-color,5%);
                    }

                    &:active:enabled {
                        background-color: darken($third-color,15%);
                    }

                    &:disabled {
                        cursor : default;
                        opacity: 0.3;
                    }
                }
            }
        }

        .ItemCompetitionGridResultsSectionRight {
            flex           : 1 1 60%;
            display        : flex;
            flex-direction : column;
            justify-content: space-between;

            .ItemCompetitionGridResultsSectionTop {
                flex           : 1 1 75%;
                display        : flex;
                flex-direction : column;
                justify-content: space-between;

                .Top {
                    display       : flex;
                    flex-direction: column;
                    align-items   : center;
                    flex          : 0 1 20%;
                    color         : $fourth-color;

                    .EndTitle {
                        padding-top: 20px;
                        font-size  : 40px;
                        font-weight: bold;
                    }

                    .FinalSlotCount {
                        margin-top : 10px;
                        font-size  : 30px;
                        font-weight: bold;

                        .FinalCount {
                            color: gold;
                        }
                    }
                }

                .Bottom {
                    flex           : 0 0 80%;
                    display        : flex;
                    flex-direction : row;
                    justify-content: space-between;
                    color          : $fourth-color;

                    .BottomLeft {
                        flex           : 1 1 50%;
                        display        : flex;
                        flex-direction : column;
                        align-items    : center;
                        justify-content: space-between;

                        .WinnersSection {
                            flex           : 1;
                            width          : 100%;
                            display        : flex;
                            flex-direction : column;
                            justify-content: flex-start;

                            .WinnersSectionTitle {
                                font-size      : 25px;
                                text-align     : center;
                                font-weight    : bold;
                                text-decoration: underline;
                            }

                            .WinnersCalculcatedSlotsDiscountSection {
                                margin-top     : 15px;
                                display        : flex;
                                flex-direction : row;
                                justify-content: space-between;

                                .WinnersCalculatedSlots {
                                    flex          : 1 1 50%;
                                    display       : flex;
                                    flex-direction: column;
                                    align-items   : center;

                                    .Title {
                                        text-decoration: underline;
                                        font-weight    : bold;
                                        margin-bottom  : 5px;
                                    }

                                    .WinnersCalculated {
                                        .Slot {
                                            font-size: 20px;
                                            color    : $primary-color;
                                        }
                                    }
                                }

                                .WinnersCalculatedDiscounts {
                                    flex           : 1 1 50%;
                                    display        : flex;
                                    flex-direction : column;
                                    justify-content: flex-start;

                                    .Title {
                                        margin-bottom  : 5px;
                                        text-decoration: underline;
                                        font-weight    : bold;
                                        display        : flex;
                                        flex-direction : column;
                                        align-items    : center;
                                    }

                                    .WinnersCalculated {
                                        .Discount {
                                            margin-left    : 43%;
                                            display        : flex;
                                            flex-direction : row;
                                            justify-content: flex-start;
                                            font-size      : 20px;

                                            img {
                                                height: 20px;
                                            }

                                            span {
                                                color: gold;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .BottomRight {
                        border-left   : 1px solid $primary-color;
                        flex          : 1 1 50%;
                        display       : flex;
                        flex-direction: column;
                        align-items   : center;

                        .SlotsSelectedTitle {
                            font-size      : 25px;
                            text-decoration: underline;
                            font-weight    : bold;
                            margin-bottom  : 20px;
                        }

                        .UserSlotPriceTitles {
                            width         : 100%;
                            flex-direction: row;
                            display       : flex;
                            align-items   : center;
                            margin-bottom : 5px;

                            .Slot {
                                flex           : 1 1 50%;
                                text-decoration: underline;
                                font-weight    : bold;
                                display        : flex;
                                flex-direction : column;
                                align-items    : center;
                                padding-right  : 12px;
                            }

                            .Price {
                                flex           : 1 1 50%;
                                text-decoration: underline;
                                font-weight    : bold;
                                display        : flex;
                                flex-direction : column;
                                align-items    : center;
                                padding-right  : 30px;
                            }
                        }

                        .UserSlots {
                            max-height     : 420px;
                            display        : flex;
                            flex-direction : column;
                            justify-content: flex-start;
                            width          : 100%;
                            overflow-y     : scroll;

                            .UserSlot {
                                flex         : 1 1 auto;
                                display      : flex;
                                margin-bottom: 5px;

                                .Slot {
                                    display        : flex;
                                    flex-direction : column;
                                    align-items    : center;
                                    justify-content: center;
                                    flex           : 1 1 50%;
                                    font-size      : 18px;
                                    color          : $fourth-color;
                                }

                                .Price {
                                    flex           : 1 1 50%;
                                    display        : flex;
                                    flex-direction : row;
                                    justify-content: center;
                                    align-items    : center;
                                    font-size      : 18px;

                                    img {
                                        height: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .SimilarItemCompetitionsSection {
                padding       : 5px;
                margin-top    : 10px;
                flex          : 1 1 25%;
                display       : flex;
                flex-direction: column;
                color         : $fourth-color;
                // border-left: solid 1px #dcdcdc;
                .SimilarItemCompetitionSectionTitle {
                    font-size      : 25px;
                    font-weight    : bold;
                    text-align     : center;
                    margin-bottom  : 20px;
                    text-decoration: underline;
                    color          : $fourth-color;
                }

                .SimilarItemCompetitionBoxes {
                    flex           : 1;
                    display        : flex;
                    flex-direction : row;
                    justify-content: flex-start;

                    .SimilarItemCompetitionBox {
                        display         : flex;
                        flex-direction  : row;
                        flex            : 1 1 (100%/3);
                        height          : 150px;
                        border          : solid 1px tint($primary-color, 80%);
                        margin-bottom   : 10px;
                        background-color: tint($primary-color, 95%);
                        margin          : 0 2.5px;

                        .SimilarItemCompetitionBoxSectionLive {
                            padding        : 5px;
                            flex           : 1;
                            display        : flex;
                            flex-direction : row;
                            justify-content: space-between;

                            .SimilarItemCompetitionBoxTitleLive {
                                flex           : 1 1 7.5%;
                                display        : flex;
                                flex-direction : row;
                                justify-content: space-between;

                                .Title {
                                    flex           : 0 1 50%;
                                    display        : flex;
                                    flex-direction : row;
                                    justify-content: center;
                                    font-size      : 14px;

                                    .bubble {
                                        content         : "";
                                        background-color: #27ae60;
                                        width           : 12px;
                                        height          : 12px;
                                        border-radius   : 50%;
                                        display         : block;
                                        margin-top      : 2px;
                                        top             : 1px;
                                        left            : 1px;
                                    }
                                }
                            }

                            .SimilarItemCompetitionBoxWatchlistLive {
                                flex           : 1 1 7.5%;
                                display        : flex;
                                flex-direction : row;
                                justify-content: flex-end;
                                align-items    : flex-start;
                            }

                            .SimilarItemCompetitionBoxInformationLive {
                                flex           : 1 1 85%;
                                display        : flex;
                                flex-direction : row;
                                justify-content: space-between;
                                padding        : 0 10px;

                                .Countdown {
                                    display       : flex;
                                    flex-direction: column;
                                    align-items   : center;
                                    font-size     : 25px;
                                    flex          : 1 1 85%;

                                    .Value {
                                        flex           : 1 1 60%;
                                        font-weight    : bold;
                                        display        : flex;
                                        flex-direction : column;
                                        justify-content: center;
                                    }

                                    .GoToCompetitionButtonSection {
                                        flex           : 1 1 40%;
                                        display        : flex;
                                        flex-direction : column;
                                        justify-content: flex-end;

                                        button {
                                            color           : white;
                                            height          : 50px;
                                            width           : 125px;
                                            font-size       : 16px;
                                            background-color: $primary-color;
                                            border          : none;
                                            cursor          : pointer;

                                            &:hover {
                                                background-color: darken($primary-color,5%);
                                            }

                                            &:active {
                                                background-color: darken($primary-color,15%);
                                            }
                                        }
                                    }
                                }

                                .SlotPriceSlotCount {
                                    flex           : 1 1 15%;
                                    display        : flex;
                                    flex-direction : column;
                                    justify-content: space-between;

                                    .Price {
                                        flex           : 1;
                                        display        : flex;
                                        flex-direction : column;
                                        justify-content: space-around;
                                        align-items    : center;

                                        .Title {
                                            flex           : 1;
                                            display        : flex;
                                            flex-direction : column;
                                            justify-content: center;

                                            img {
                                                height: 20px;
                                            }
                                        }

                                        .Value {
                                            flex           : 1;
                                            display        : flex;
                                            flex-direction : column;
                                            justify-content: center;
                                            font-size      : 18px;
                                            color          : $primary-color;
                                            font-weight    : bold;
                                            border-top     : 1px solid rgb(150,150,150);
                                            width          : 50%;
                                            align-items    : center;
                                        }
                                    }

                                    .Count {
                                        flex           : 1;
                                        display        : flex;
                                        flex-direction : column;
                                        justify-content: space-around;
                                        align-items    : center;

                                        .Title {
                                            flex           : 1;
                                            font-size      : 20px;
                                            display        : flex;
                                            flex-direction : column;
                                            justify-content: center;

                                            img {
                                                height: 20px;
                                            }
                                        }

                                        .Value {
                                            flex           : 1;
                                            display        : flex;
                                            flex-direction : column;
                                            justify-content: center;
                                            font-size      : 18px;
                                            color          : gold;
                                            font-weight    : bold;
                                            border-top     : 1px solid rgb(150,150,150);
                                            width          : 50%;
                                            align-items    : center;
                                        }
                                    }
                                }

                                #container {
                                    flex          : 1 1 15%;
                                    display       : flex;
                                    flex-direction: column;

                                    svg {
                                        flex    : 1;
                                        width   : 100%;
                                        height  : 100%;
                                        position: absolute;
                                    }

                                    p {
                                        height    : 100%;
                                        text-align: center;
                                    }
                                }
                            }
                        }

                        .SimilarItemCompetitionBoxSectionNotLive {
                            padding        : 5px;
                            flex           : 1;
                            display        : flex;
                            flex-direction : row;
                            justify-content: space-between;

                            .SimilarItemCompetitionBoxSectionLeftNotLive {
                                flex: 1 0 7.5%;
                            }

                            .SimilarItemCompetitionBoxTitleNotLive {
                                flex           : 1 0 7.5%;
                                display        : flex;
                                flex-direction : column;
                                justify-content: flex-start;
                                align-items    : flex-end;
                            }

                            .SimilarItemCompetitionBoxInformationNotLive {
                                flex           : 1 1 95%;
                                display        : flex;
                                flex-direction : column;
                                justify-content: space-between;
                                align-items    : center;

                                .Countdown {
                                    font-size  : 25px;
                                    font-weight: bold;
                                }

                                button {
                                    color           : white;
                                    height          : 50px;
                                    width           : 125px;
                                    font-size       : 16px;
                                    background-color: $primary-color;
                                    border          : none;
                                    cursor          : pointer;

                                    &:hover {
                                        background-color: darken($primary-color,5%);
                                    }

                                    &:active {
                                        background-color: darken($primary-color,15%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.ItemCompetition {
    @include outer-container(80%);
    display        : flex;
    flex-direction : column;
    justify-content: space-between;

    .TopSection {
        height         : 1000px;
        display        : flex;
        flex-direction : row;
        justify-content: space-between;
        align-items    : stretch;
        align-content  : stretch;

        .LeftSection {
            flex: 0 1 60%;

            .Images {
                .MainImage {
                    img {
                        max-width : 100%;
                        max-height: 100%;
                    }
                }
            }
        }

        .RightSection {
            display       : flex;
            flex-direction: column;
            flex          : 0 1 40%;

            .BuySection {
                width: 100%;
            }
        }
    }

    .BottomSection {
        height: 700px;

        .ItemCompetitionGrid {
            display       : flex;
            flex-direction: column;
            height        : 100%;

            .ItemCompetitionGridHeader {
                flex            : 1;
                background-color: gray;
                height          : 65px;
            }

            .GridSection {
                flex           : 1 1 100%;
                display        : flex;
                flex-direction : row;
                flex-wrap      : wrap;
                justify-content: space-between;

                .OuterGridButton {
                    flex: 1 1 (100%/3);
                }

                .MiddleGridButton {
                    flex: 1 1 20%;
                }

                .InnerGridButton {
                    flex: 1 1 10%;
                }
            }
        }
    }
}

.ItemCompetitionGridResultsSection {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;

    .ItemCompetitionGridResultsSectionTop {
        flex: 1 1 20%;
    }

    .ItemCompetitionGridResultsSectionBottom {
        flex: 1 1 80%;
    }
}

.Watchlist-Star-Add {
    cursor: pointer;
}

.Watchlist-Star-Remove {
    cursor: pointer;
}

.Watchlist-X-Remove {
    cursor: pointer;
}

.ItemCompetitionGridResultsWinSection {
    flex            : 1;
    display         : flex;
    flex-direction  : row;
    background-color: white;
    box-shadow      : 0 1px 2px rgba(0,0,0,.1);

    .ItemCompetitionGridResultsSectionLeft {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        flex           : 1 1 40%;
        color          : $fourth-color;

        img {
            max-width : 100%;
            max-height: 100%;
        }

        .ItemName {
            font-size      : 40px;
            font-weight    : bold;
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;
        }
    }

    .ItemCompetitionGridResultsSectionRight {
        flex           : 1 1 60%;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        color          : $fourth-color;

        .WinningInformation {
            flex           : 1 1 40%;
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;

            .YouWonTitle {
                font-size    : 75px;
                font-weight  : bold;
                margin-bottom: 25px;
            }

            .YouWonInformation {
                font-size      : 30px;
                display        : flex;
                flex-direction : column;
                justify-content: center;
                align-items    : center;
                margin-bottom  : 25px;

                .WonDiscountAmount {
                    color    : gold;
                    font-size: 40px;

                    i {
                        color: $fourth-color;
                    }

                    img {
                        height: 40px;
                    }
                }

                .WonItemName {
                    font-size  : 30px;
                    font-weight: bold;
                }
            }

            a {
                width: 70%;

                button {
                    color           : white;
                    background-color: $third-color;
                    border          : none;
                    height          : 53px;
                    width           : 100%;
                    cursor          : pointer;

                    &:hover:enabled {
                        background-color: darken($third-color,5%);
                    }

                    &:active:enabled {
                        background-color: darken($third-color,15%);
                    }

                    &:disabled {
                        cursor : default;
                        opacity: 0.3;
                    }
                }
            }
        }

        .CompetitionStatistics {
            flex           : 1 1 60%;
            display        : flex;
            flex-direction : column;
            justify-content: center;

            .WinningSlot {
                font-size    : 25px;
                margin-bottom: 45px;

                .FinalSlot {
                    color      : gold;
                    font-weight: bold;
                }
            }

            .UserSlotInformation {
                .UserSlotInformationTitle {
                    font-size      : 30px;
                    text-decoration: underline;
                }

                .UserSlots {
                    overflow: auto;
                }
            }
        }
    }
}

.ItemCompetitionsListResult {
    flex           : 1;
    display        : flex;
    flex-direction : column;
    justify-content: space-around;
    align-items    : center;

    .WonTextTitle {
        font-weight: bold;
        font-size  : 35px;
    }

    .WonText {
        font-size: 20px;

        .Amount {
            color: rgba(255,215,0,1);
        }
    }

    .CompetitionCompleteInformation {
        flex           : 1;
        display        : flex;
        flex-direction : column;
        justify-content: space-around;

        .Title {
            flex           : 1 1 35%;
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;
            font-size      : 29px;
            font-weight    : bold;
        }

        .RewardedText {
            flex           : 1 1 25%;
            font-size      : 22px;
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;
        }

        .FinalCount {
            flex           : 1 1 40%;
            font-size      : 20px;
            display        : flex;
            flex-direction : row;
            justify-content: center;
            align-items    : center;

            .Amount {
                font-weight: bold;
                color      : rgba(255,215,0,1);
                font-size  : 25px;
                margin-left: 5px;
            }
        }
    }
}

.ItemCompetitionGridInnerTokenBuyModalSection {
    .BuyTokensSection {
        background-color: white;
        flex            : 1 1 30%;
        padding         : 30px 30px 15px;
        border          : 1px solid #dcdcdc;

        .BuyTokenSectionSliderInput {
            display        : flex;
            flex-direction : column;
            justify-content: space-between;

            #slider {
                flex: 1 1 100%;
            }

            .slider-input-container {
                margin-top    : 10px;
                height        : 40px;
                flex          : 1;
                display       : flex;
                flex-direction: column;
                align-items   : center;

                input {
                    text-align : center;
                    font-size  : 20px;
                    font-weight: bold;
                    flex       : 1;
                }
            }
        }

        .BuyTokensSectionButtons {
            display       : flex;
            flex-direction: row;

            .DecreaseTokensButton {
                flex  : 1;
                height: 50px;
            }

            .IncreaseTokensButton {
                flex  : 1;
                height: 50px;
            }

            .BuyTokenAmount {
                flex      : 1;
                text-align: center;
                outline   : none;
            }
        }

        .BuyTokenSectionSavingCostBuy {
            display        : flex;
            flex-direction : column;
            align-items    : center;
            padding        : 10px 10px 0;
            justify-content: space-between;

            .FreeTokensTitle {
                font-size      : 20px;
                text-decoration: underline;
            }

            .FreeTokensAmount {
                color      : green;
                font-size  : 25px;
                font-weight: bold;
            }

            .TokenCostAmountTitle {
                font-size      : 20px;
                text-decoration: underline;
            }

            .TokenCostAmount {
                font-size  : 25px;
                font-weight: bold;
            }
        }
    }

    .BuyTokenPaymentInformation {
        margin-top: 30px;

        button {
            margin-top      : 10px;
            color           : white;
            background-color: $primary-color;
            border          : none;
            height          : 53px;
            width           : 50%;
            cursor          : pointer;
            font-weight     : bold;

            &:hover:enabled {
                background-color: darken($primary-color,5%);
            }

            &:active:enabled {
                background-color: darken($primary-color,15%);
            }

            &:disabled {
                cursor : default;
                opacity: 0.3;
            }
        }
    }
}

.NextPreviousButtons {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;

    .PreviousPage {
        flex           : 1;
        display        : flex;
        flex-direction : row;
        justify-content: flex-start;
        align-items    : center;

        button {
            color           : white;
            background-color: $third-color;
            border          : none;
            height          : 53px;
            width           : 150px;
            cursor          : pointer;
            font-weight     : bold;
            font-size       : 16px;

            &:hover:enabled {
                background-color: darken($third-color,5%);
            }

            &:active:enabled {
                background-color: darken($third-color,15%);
            }

            &:disabled {
                cursor : default;
                opacity: 0.3;
            }
        }
    }

    .NextPage {
        flex           : 1;
        display        : flex;
        flex-direction : row;
        justify-content: flex-end;
        align-items    : center;

        button {
            color           : white;
            background-color: $third-color;
            border          : none;
            height          : 53px;
            width           : 150px;
            cursor          : pointer;
            font-weight     : bold;

            &:hover:enabled {
                background-color: darken($third-color,5%);
            }

            &:active:enabled {
                background-color: darken($third-color,15%);
            }

            &:disabled {
                cursor : default;
                opacity: 0.3;
            }

            span {
                font-size: 16px;
            }
        }
    }
}

.SlotBuyModalSection {
    color    : $fourth-color;
    font-size: 30px;

    .SelectedText {
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: center;

        .Value {
            margin-left: 5px;
            font-size  : 35px;
            font-weight: bold;
            color      : gold;
        }
    }

    .SelectedCost {
        margin-top     : 10px;
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: center;

        img {
            margin-left: 5px;
            height     : 35px;
        }

        .Value {
            margin-left: 5px;
            font-size  : 35px;
            font-weight: bold;
        }
    }

    button {
        margin-top      : 10px;
        color           : white;
        background-color: $primary-color;
        border          : none;
        height          : 60px;
        width           : 250px;
        cursor          : pointer;
        font-weight     : bold;

        &:hover:enabled {
            background-color: darken($primary-color,5%);
        }

        &:active:enabled {
            background-color: darken($primary-color,15%);
        }

        &:disabled {
            cursor : default;
            opacity: 0.3;
        }

        span {
            font-size: 16px;
        }
    }
}

.SlotBuyModalSectionSuccess {
    font-size: 30px;
    color    : $fourth-color;

    i {
        font-size: 100px;
        color    : $fifth-color;
    }

    .SelectedText {
        height: 53px;

        .Value {
            margin-left: 5px;
            font-size  : 40px;
            font-weight: bold;
            color      : gold;
        }
    }

    button {
        margin-top      : 25px;
        color           : white;
        background-color: $primary-color;
        border          : none;
        height          : 60px;
        width           : 250px;
        cursor          : pointer;
        font-weight     : bold;

        &:hover:enabled {
            background-color: darken($primary-color,5%);
        }

        &:active:enabled {
            background-color: darken($primary-color,15%);
        }

        &:disabled {
            cursor : default;
            opacity: 0.3;
        }

        span {
            font-size: 16px;
        }
    }
}

.SlotBuyModalFailure {
    color         : $fourth-color;
    font-size     : 30px;
    display       : flex;
    flex-direction: column;
    align-items   : center;

    .Value {
        font-weight: bold;
        color      : gold;
        font-size  : 35px;
    }

    .ReturnToCompetition {
        margin-top      : 25px;
        color           : white;
        background-color: $primary-color;
        border          : none;
        height          : 60px;
        width           : 250px;
        cursor          : pointer;
        font-weight     : bold;

        &:hover:enabled {
            background-color: darken($primary-color,5%);
        }

        &:active:enabled {
            background-color: darken($primary-color,15%);
        }

        &:disabled {
            cursor : default;
            opacity: 0.3;
        }

        span {
            font-size: 16px;
        }
    }

    .FastSlots {
        border          : none;
        font-size       : 25px;
        height          : 100px;
        display         : flex;
        flex-direction  : column;
        justify-content : center;
        align-items     : center;
        margin-top      : 25px;
        color           : #757575;
        background-color: #f0f0f0;
        font-weight     : bold;
        width           : 300px;
        cursor          : pointer;

        &:hover {
            background-color: darken(#f0f0f0,5%);
        }

        &:active {
            background-color: darken(#f0f0f0,15%);
        }
    }

    .FastSlotsEnabled {
        border          : none;
        font-size       : 25px;
        height          : 100px;
        display         : flex;
        flex-direction  : column;
        justify-content : center;
        align-items     : center;
        margin-top      : 25px;
        color           : white;
        background-color: $fifth-color;
        font-weight     : bold;
        width           : 300px;
        cursor          : pointer;

        &:hover {
            background-color: darken($fifth-color,5%);
        }

        &:active {
            background-color: darken($fifth-color,15%);
        }
    }
}

.remodal.EnterCompetitionModal {
    height   : 500px;
    max-width: 900px !important;

    .RequestEntranceSection {
        display       : flex;
        flex-direction: column;
        color         : $fourth-color;
        height        : 100%;

        .Title {
            font-weight   : bold;
            font-size     : 45px;
            border-bottom : 1px solid #CDCDCD;
            padding-bottom: 10px;
        }

        .Bottom {
            flex          : 1;
            display       : flex;
            flex-direction: row;
            align-items   : center;

            .Item {
                flex          : 1 1 40%;
                display       : flex;
                flex-direction: column;

                .Image {
                    display        : flex;
                    justify-content: center;
                    align-items    : center;
                    flex           : 1 1 100%;

                    img {
                        max-height: 300px;
                        max-width : 100%;
                    }
                }
            }

            .Information {
                padding        : 0 5px;
                flex           : 1 1 60%;
                font-size      : 19px;
                display        : flex;
                flex-direction : column;
                justify-content: center;
                align-items    : center;

                .FirstText {
                    margin   : 0 0 15px;
                    font-size: 25px;

                    span {
                        font-size  : 25px;
                        font-weight: bold;
                    }
                }

                .Cost {
                    width      : 100%;
                    margin     : 0 0 15px;
                    line-height: 25px;
                    font-size  : 25px;

                    .Value {
                        font-size  : 25px;
                        font-weight: bold;
                    }

                    img {
                        height        : 25px;
                        vertical-align: bottom;
                    }
                }

                button {
                    color           : white;
                    background-color: $third-color;
                    border          : none;
                    height          : 60px;
                    width           : 75%;
                    cursor          : pointer;
                    font-size       : 23px;
                    margin-top      : 10px;

                    &:hover:enabled {
                        background-color: darken($third-color,5%);
                    }

                    &:active:enabled {
                        background-color: darken($third-color,15%);
                    }

                    &:disabled {
                        cursor : default;
                        opacity: 0.3;
                    }
                }
            }
        }
    }

    .EntranceGrantedSection {
        display        : flex;
        flex-direction : column;
        color          : $fourth-color;
        justify-content: space-around;
        height         : 100%;

        .Title {
            font-size  : 40px;
            font-weight: bold;
        }

        .Image {
            i {
                color    : $fifth-color;
                font-size: 175px;
            }
        }

        .PrepareCloseSection {
            display       : flex;
            flex-direction: column;
            align-items   : center;
            width         : 100%;

            button {
                color           : white;
                background-color: $primary-color;
                border          : none;
                height          : 60px;
                width           : 75%;
                cursor          : pointer;
                font-size       : 23px;
                margin-top      : 10px;

                &:hover:enabled {
                    background-color: darken($primary-color,5%);
                }

                &:active:enabled {
                    background-color: darken($primary-color,15%);
                }

                &:disabled {
                    cursor : default;
                    opacity: 0.3;
                }
            }
        }
    }
}
