@import "{wolves:bourbon}/bourbon";
@import "{wolves:neat}/neat";
$primary-color: #2c3e50;
$secondary-color: white;
$third-color: #e04e4b;
$fourth-color: rgba(0,0,0,.8);
$fifth-color: rgba(0,128,0,.7);

.Tokens {
    margin         : auto;
    width          : 35%;
    flex           : 1;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    color          : $fourth-color;

    .TokensVertical {
        .TokenCount {
            flex            : 1;
            @include outer-container(75%);
            box-shadow      : 0 1px 2px rgba(0,0,0,.1);
            background-color: white;
            display         : flex;
            flex-direction  : row;
            justify-content : center;
            padding         : 10px;
            color           : $fourth-color;

            .NotLoggedInTokenAmount {
                font-size: 25px;
            }

            .TokenCountTitle {
                flex           : 1 1 auto;
                display        : flex;
                flex-direction : row;
                justify-content: flex-end;
                align-items    : center;
                text-decoration: underline;
                margin-bottom  : 5px;
                padding-right  : 10px;

                img {
                    height: 60px;
                }
            }

            #TokensSectionUserTokens {
                flex           : 1 1 auto;
                display        : flex;
                flex-direction : row;
                justify-content: flex-start;
                align-items    : center;
                font-size      : 60px;
                font-weight    : bold;
            }

            .NotLoggedInTokenAmount {
                flex           : 1 1 auto;
                display        : flex;
                flex-direction : row;
                justify-content: flex-start;
                align-items    : center;
                font-size      : 60px;
                font-weight    : bold;
            }
        }

        .TokensSection {
            @include outer-container(75%);
            margin-top    : 15px;
            flex          : 1;
            position      : relative;
            min-height    : 547px;
            display       : flex;
            flex-direction: column;

            .TokenBuySuccessSection {
                flex            : 1;
                background-color: white;
                padding         : 10px;
                box-shadow      : 0 1px 2px rgba(0,0,0,.1);
                display         : flex;
                flex-direction  : column;
                justify-content : center;
                align-items     : center;

                .Title {
                    display        : flex;
                    flex-direction : column;
                    justify-content: flex-start;
                    flex           : 1 1 auto;
                    font-size      : 200px;
                    color          : $fifth-color;
                    text-align     : center;
                    font-weight    : bold;
                }

                .SuccessText {
                    flex           : 1 1 auto;
                    display        : flex;
                    flex-direction : column;
                    font-size      : 60px;
                    align-items    : center;
                    justify-content: center;

                    .SuccessTextTitle {}

                    .Content {
                        display        : flex;
                        flex-direction : row;
                        align-items    : center;
                        justify-content: center;
                        font-size      : 100px;

                        img {
                            height: 100px;
                        }

                        .Value {
                            font-weight: bold;
                        }
                    }

                    .FreeTokenAmount {
                        margin-top     : 10px;
                        padding-top    : 10px;
                        border-top     : 1px solid #CDCDCD;
                        font-size      : 30px;
                        display        : flex;
                        flex-direction : row;
                        justify-content: flex-end;

                        i {
                            color: $fifth-color;
                        }

                        .Amount {
                            margin-left: 4px;
                            font-weight: bold;
                            display:flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            img {
                                margin        : 0 4px 0 4px;
                                height        : 30px;
                                vertical-align: middle;
                            }
                        }
                    }
                }

                .BuyMoreTokensButton {
                    width           : 100%;
                    background-color: $primary-color;
                    height          : 53px;
                    border          : none;
                    color           : white;

                    &:hover:enabled {
                        background-color: darken($primary-color, 5%);
                    }

                    &:focus:enabled {
                        background-color: darken($primary-color, 15%);
                    }

                    &:disabled {
                        opacity: 0.3;
                        cursor : default;
                    }
                }
            }

            .BuyTokensSection {
                background-color: white;
                flex            : 1 1 30%;
                padding         : 10px;
                box-shadow      : 0 1px 2px rgba(0,0,0,.1);
                margin-bottom   : 15px;

                .BuyTokenSectionSliderInput {
                    display        : flex;
                    flex-direction : column;
                    justify-content: space-between;
                    height         : 75px;

                    #slider {}

                    .slider-input-container {
                        margin-top    : 10px;
                        height        : 40px;
                        flex          : 1;
                        display       : flex;
                        flex-direction: column;
                        align-items   : center;

                        input {
                            color      : $fourth-color;
                            text-align : center;
                            font-size  : 20px;
                            font-weight: bold;
                            flex       : 1;
                        }
                    }
                }

                .BuyTokensSectionButtons {
                    display       : flex;
                    flex-direction: row;

                    .DecreaseTokensButton {
                        flex  : 1;
                        height: 50px;
                    }

                    .IncreaseTokensButton {
                        flex  : 1;
                        height: 50px;
                    }

                    .BuyTokenAmount {
                        flex      : 1;
                        text-align: center;
                        outline   : none;
                    }
                }

                .BuyTokenSectionSavingCostBuy {
                    display        : flex;
                    flex-direction : column;
                    align-items    : center;
                    padding        : 10px 10px 0;
                    justify-content: space-between;

                    .FreeTokensTitle {
                        font-size      : 20px;
                        text-decoration: underline;
                    }

                    .FreeTokensAmount {
                        color      : green;
                        font-size  : 25px;
                        font-weight: bold;
                    }

                    .TokenCostAmountTitle {
                        font-size      : 20px;
                        text-decoration: underline;
                    }

                    .TokenCostAmount {
                        font-size  : 25px;
                        font-weight: bold;
                    }
                }
            }

            .BuyTokenPaymentInformation {
                flex            : 1 1 70%;
                display         : flex;
                flex-direction  : column;
                justify-content : space-between;
                background-color: white;
                padding         : 10px;
                box-shadow      : 0 1px 2px rgba(0,0,0,.1);

                #BuyTokensButton {
                    width           : 100%;
                    background-color: $primary-color;
                    height          : 53px;
                    border          : none;
                    color           : white;

                    &:hover:enabled {
                        background-color: darken($primary-color, 5%);
                    }

                    &:focus:enabled {
                        background-color: darken($primary-color, 15%);
                    }

                    &:disabled {
                        cursor : default;
                        opacity: 0.3;
                    }
                }

                #error {
                    display        : flex;
                    flex-direction : column;
                    justify-content: center;
                    align-items    : center;
                    padding-bottom : 10px;
                }

                .NotLoggedInCardSection {
                    height         : 300px;
                    display        : flex;
                    flex-direction : column;
                    justify-content: center;
                    align-items    : center;
                    font-size      : 25px;

                    .Title {
                        margin-bottom: 30px;
                    }

                    a {
                        width: 50%;
                    }

                    button {
                        height          : 53px;
                        width           : 100%;
                        color           : white;
                        background-color: $primary-color;
                        border          : none;
                        cursor          : pointer;
                        font-size       : 13.33px;

                        &:hover:enabled {
                            background-color: darken($primary-color,5%);
                        }

                        &:active:enabled {
                            background-color: darken($primary-color,15%);
                        }

                        &:disabled {
                            cursor : default;
                            opacity: 0.3;
                        }
                    }
                }

                .BuyTokensForm {
                    flex           : 1;
                    display        : flex;
                    flex-direction : column;
                    justify-content: space-between;
                }
            }
        }
    }

    .ProceedToPaymentSectionButton {
        color           : white;
        height          : 53px;
        width           : 100%;
        background-color: darken($primary-color,10%);
        border          : none;
        cursor          : pointer;
        bottom          : 0;

        &:hover {}

        &:active {}
    }
}

.SavedPaymentInformationDefaultPaymentDropdown {
    position: relative;

    .SavedPaymentInformationDefaultPaymentDropdownTrigger {
        border        : 1px solid black;
        height        : 75px;
        margin        : 0;
        position      : relative;
        padding       : 5px;
        display       : flex;
        flex-direction: row;
        align-items   : stretch;
        align-content : center;
        cursor        : pointer;

        .DefaultPaymentDropdownContent {
            height  : 100%;
            position: relative;
            flex    : 1 1 90%;
        }

        .DefaultPaymentDropdownArrow {
            flex           : 1 1 10%;
            right          : 0;
            display        : flex;
            flex-direction : column;
            align-items    : center;
            align-content  : center;
            justify-content: center;
        }
    }
}

.SavedPaymentInformationDefaultPaymentDropdownContent {
    width   : 100%;
    position: relative !important;
    height  : 75px;
}

.SavedPaymentInformationCardSection {
    flex           : 1;
    position       : relative;
    display        : flex;
    flex-direction : column;
    align-items    : stretch;
    justify-content: space-between;
    color          : $fourth-color;

    h2 {
        text-align: center;
    }

    .DefaultPaymentBanner {
        display         : flex;
        justify-content : space-between;
        background-color: $primary-color;
        color           : transparentize(white, 0.3);
        height          : 40px;
        padding         : 5px 10px;
        align-items     : center;
        box-shadow      : 0 0 3px 0 rgba(0,0,0,.2),0 0 1px 0 rgba(0,0,0,.14),0 0 1px -1px rgba(0,0,0,.12);

        a {
            color: transparentize(white, 0.3);
        }
    }

    .DefaultPaymentDropdown {
        position: relative;

        .PaymentDropdownBox {
            cursor         : pointer;
            height         : 75px;
            padding        : 5px;
            margin-bottom  : 10px;
            border         : 1px solid #dcdcdc;
            display        : flex;
            flex-direction : row;
            justify-content: space-between;
            align-items    : center;
            padding-right  : 15px;
            position       : relative;

            &:hover {
                background-color: white;
            }

            .PaymentDropdownBoxCardInformation {
                display        : flex;
                flex-direction : column;
                justify-content: center;
                align-items    : flex-start;
            }
        }

        .AddNewPaymentMethodButton {
            cursor         : pointer;
            height         : 75px;
            padding        : 5px;
            margin-bottom  : 10px;
            border         : 1px solid #dcdcdc;
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;
            padding-right  : 15px;
            position       : relative;
            font-size      : 22px;
            align-content  : center;
            line-height    : 75px;
            font-weight    : bold;
            color          : #757575;

            div {
                flex: 1;
            }
        }

        .DesiredPaymentMethod {
            border: 1px solid $third-color;

            .fa-check {
                color    : $third-color;
                font-size: 25px;
            }
        }
    }
}

.active {
    display: flex;
}

.noUi-connect {
    background-color: $primary-color;
}
