@import "{wolves:bourbon}/bourbon";
@import "{wolves:neat}/neat";
$primary-color: #2c3e50;
$secondary-color: white;
$third-color: #e04e4b;
$fourth-color: rgba(0,0,0,.8);
$fifth-color: rgba(0,128,0,.7);
.LeftInformation {
    @include span-columns(8);
    flex: 1;
    display: flex;
    flex-direction: column;
    .DefaultPaymentBanner {
        display: flex;
        justify-content: space-between;
        background-color: $primary-color;
        color: transparentize(white, 0.3);
        height: 40px;
        padding: 5px 10px;
        align-items: center;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
        a {
            color: transparentize(white, 0.3);
        }
    }
    .LeftInformationContentRight {
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        .at-form {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            .at-title {
                h3 {
                    margin: 0;
                }
            }
            .at-pwd-form {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: stretch;
                text-align: center;
                .at-input {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    align-items: flex-start;
                    position: relative;
                    margin-bottom: 10px;
                    label {
                        flex: 1;
                        font-size: 0.7em;
                        font-weight: bold;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: lighten($primary-color, 15%);
                    }
                    input {
                        width: 100%;
                        height: 35px;
                        flex: 1;
                        padding: 10px;
                        border: 2px solid lighten($primary-color, 15%);
                        background: transparent;
                        color: $primary-color;
                        font-weight: 300;
                        font-size: 18px;
                        &:focus {
                            outline: none;
                            border: 2px solid $primary-color;
                        }
                    }
                    span {
                        position: absolute;
                        display: block;
                        right: 0;
                        color: $third-color;
                        top:50%;
                        margin-right:10px;
                    }
                    .fa-check {
                        color: green;
                    }
                }
                .at-btn {
                    color: white;
                    height: 53px;
                    width: 50%;
                    background-color: $third-color;
                    border: none;
                    &:hover {
                        background-color: darken($third-color,5%);
                    }
                    &:active {
                        background-color: darken($third-color,15%);
                    }
                }
            }
        }
    }
    .LeftInformationProfileInformation {
        .LeftInformationContent {
            padding: 10px;
            flex: 1;
            background-color: white;
            box-shadow: 0 1px 2px rgba(0,0,0,.1);
            margin-bottom: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            .LeftInformationContentLeft {
                flex: 1 1 50%;
                font-size: 20px;
            }
        }
    }
    .LeftInformationCompetitonInformation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .LeftInformationContent {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            background-color: white;
            box-shadow: 0 1px 2px rgba(0,0,0,.1);
            padding: 10px;
            min-height: 150px;
            .CompetitionPerformanceInformation {
                font-size: 20px;
                flex: 1 1 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .Wins{
                  strong{
                    color:$third-color;
                  }

                }
                .WinningsAmount{
                  display:flex;
                  flex-direction: row;
                  align-items: center;
                  img{
                    height:20px;
                    margin:0px 4px 0px 7px;

                  }
                }
            }
            .CompetitionSettings {
                flex: 1 1 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: stretch;
                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 10px;
                    flex: 1;
                    font-weight: 700;
                    font-size: 18px;
                    padding: 1em;
                    color: #757575;
                    cursor: pointer;
                    text-decoration: none;
                    text-align: center;
                    background: #f0f0f0;
                }
                div:last-child {
                    margin-bottom: 0;
                }
                .Enabled {
                    color: white;
                    background-color: $fifth-color;
                    &:hover {
                        background-color: darken($fifth-color,2.5%);
                    }
                    &:active {
                        background-color: darken($fifth-color,5%);
                    }
                }
            }
        }
    }
}
.RightInformation {
    @include span-columns(4);
    .DefaultPaymentSection {
        .DefaultPaymentBanner {
            display: flex;
            justify-content: space-between;
            background-color: $primary-color;
            color: transparentize(white, 0.3);
            height: 40px;
            padding: 5px 10px;
            align-items: center;
            box-shadow: 0 1px 2px rgba(0,0,0,.1);
            a {
                color: transparentize(white, 0.3);
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .DefaultPaymentDropdown {
            position: relative;
            .DefaultPaymentDropdownTrigger {
                box-shadow: 0 1px 2px rgba(0,0,0,.1);
                height: 75px;
                margin: 0;
                padding: 5px;
                display: flex;
                flex-direction: row;
                align-items: stretch;
                align-content: center;
                cursor: pointer;
                position: relative;
                background-color: white;
                &:hover {
                    background-color: transparentize(white, 0.3);
                }
                .DefaultPaymentDropdownContent {
                    flex: 1 1 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .DefaultPaymentDropdownArrow {
                    flex: 1 1 10%;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    text-decoration: none;
                }
            }
            .dropdown {
                top: 0 !important;
                position: relative !important;
                margin-bottom: 30px;
                @include span-columns(12);
                .PaymentDropdownBox {
                    background-color: white;
                    height: 75px;
                    padding: 5px;
                    border-top: 1px solid #dcdcdc;
                    box-shadow: 0 1px 2px rgba(0,0,0,.1);
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding-right: 15px;
                    a {
                        color: $fourth-color;
                        &:hover {
                            color: $third-color;
                        }
                    }
                    .PaymentDropdownBoxCardInformation {
                        flex: 1 1 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                    .PaymentDropdownBoxButtons {
                        flex: 1 1 30%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-end;
                    }
                }
            }
            .AddNewPaymentMethodButtonBig {
                flex: 1;
                height: 100%;
                background-color: white;
                box-shadow: 0 1px 2px rgba(0,0,0,.1);
                text-align: center;
                line-height: 75px;
                padding: 0;
                cursor: pointer;
                font-size: 18px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .DefaultAddressSection {
        margin-top: 30px;
        .DefaultAddressBanner {
            display: flex;
            justify-content: space-between;
            background-color: $primary-color;
            color: transparentize(white, 0.3);
            height: 40px;
            padding: 5px 10px;
            align-items: center;
            box-shadow: 0 1px 2px rgba(0,0,0,.1);
            a {
                text-decoration: none;
                color: transparentize(white, 0.3);
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .DefaultAddressDropdown {
            position: relative;
            .DefaultAddressDropdownTrigger {
                box-shadow: 0 1px 2px rgba(0,0,0,.1);
                height: 75px;
                margin: 0;
                padding: 5px;
                display: flex;
                flex-direction: row;
                align-items: stretch;
                align-content: center;
                cursor: pointer;
                position: relative;
                background-color: white;
                &:hover {
                    background-color: transparentize(white, 0.3);
                }
                .DefaultAddressDropdownContent {
                    flex: 1 1 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .DefaultAddressDropdownArrow {
                    flex: 1 1 10%;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                }
            }
            .DefaultAddressDropdownTriggerNoAlternative {
                box-shadow: 0 1px 2px rgba(0,0,0,.1);
                height: 75px;
                margin: 0;
                padding: 5px;
                display: flex;
                flex-direction: row;
                align-items: stretch;
                align-content: center;
                position: relative;
                background-color: white;
                .DefaultAddressDropdownContent {
                    flex: 1 1 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .RemoveAddressSection {
                    flex: 1 1 10%;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    a {
                        text-decoration: none;
                    }
                }
            }
            .dropdown {
                top: 0 !important;
                position: relative !important;
                @include span-columns(12);
                .AddressDropdownBox {
                    background-color: white;
                    height: 75px;
                    padding: 5px;
                    border-top: 1px solid #dcdcdc;
                    box-shadow: 0 1px 2px rgba(0,0,0,.1);
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding-right: 15px;
                    a {
                        color: $fourth-color;
                        &:hover {
                            color: $third-color;
                        }
                    }
                    .AddressDropdownBoxInformation {
                        flex: 1 1 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                    .AddressDropdownBoxButtons {
                        flex: 1 1 30%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-end;
                    }
                }
            }
            .AddNewAddressMethodButtonBig {
                flex: 1;
                height: 100%;
                text-align: center;
                line-height: 75px;
                padding: 0;
                cursor: pointer;
                font-size: 18px;
                &:hover {
                    text-decoration: underline;
                }
            }
            .AddNewAddressButtonBig {
                flex: 1;
                height: 100%;
                background-color: white;
                box-shadow: 0 1px 2px rgba(0,0,0,.1);
                text-align: center;
                line-height: 75px;
                padding: 0;
                cursor: pointer;
                font-size: 18px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.OrderHistorySection {
    display: flex;
    flex-direction: column;
    .OrderHistoryBox {
        background-color: white;
        flex: 1;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
        margin-bottom: 15px;
        .OrderHistoryBanner {
            display: flex;
            color: white;
            justify-content: space-between;
            background-color: $primary-color;
            height: 48px;
            padding: 5px 10px;
            align-items: center;
            align-content: center;
            img{
              height:18px;
              vertical-align: text-top;
            }
        }
        .OrderHistoryBoxItemsAndInformation {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;
            .OrderHistoryBoxItems {
                flex: 1 1 75%;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                .OrderHistoryBoxItem {
                    flex: 0 1 (100%/3);
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: $fourth-color;
                    .BoxItemImage {
                        flex: 1 1 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 65%;
                            height: 100%;
                        }
                    }
                    .OrderHistoryBoxItemText {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        flex: 1 1 30%;
                        .Name {
                            margin-bottom: 5px;
                            font-size: 25px;
                            font-weight: bold;
                        }
                        .Price {
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 5px;
                            .Title {}
                            .Value {
                                font-weight: bold;
                            }
                        }
                        .Quantity {
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 5px;
                            .Title {}
                            .Value {
                                font-weight: bold;
                            }
                        }
                    }
                    .HasPendingReplacement {
                        background-color: rgba(255,215,0,.7);
                        height: 50px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                    }
                    .CancelItemButton{
                      color: white;
                      width: 125px;
                      height: 30px;
                      background-color: $third-color;
                      border: none;
                      &:hover:enabled {
                          background-color: darken($third-color,5%);
                      }
                      &:active:enabled {
                          background-color: darken($third-color,15%);
                      }
                      &:disabled {
                          cursor: default;
                          opacity: 0.3;
                      }
                    }
                }
            }
            .OrderHistoryBoxInformation {
                flex: 1 1 25%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .OrderHistoryBoxInformationButtons {
                    flex: 1 1 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    button {
                        color: white;
                        width: 100%;
                        height: 53px;
                        background-color: $third-color;
                        border: none;
                        margin-bottom: 10px;
                        &:hover:enabled {
                            background-color: darken($third-color,5%);
                        }
                        &:active:enabled {
                            background-color: darken($third-color,15%);
                        }
                        &:disabled {
                            cursor: default;
                            opacity: 0.3;
                        }
                    }
                }
                .OrderHistoryBoxInformationShippingInformation {
                    color: $fourth-color;
                    flex: 1 1 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    .NoOrdersSection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .NoOrdersTitle {
            font-size: 40px;
            color: #414141;
        }
        .NoOrdersImage {
            font-size: 500px;
            opacity: 0.5;
            color: $primary-color;
        }
        .NoOrdersLink {
            button {
                color: white;
                height: 53px;
                width: 200px;
                background-color: $primary-color;
                border: none;
                &:hover {
                    background-color: darken($primary-color,5%);
                }
                &:active {
                    background-color: darken($primary-color,15%);
                }
            }
        }
    }
}
.AddPaymentAddressPaneHeader {
    text-align: center;
    padding: 5px;
    font-size: 20px;
    &:hover {
        text-decoration: underline;
    }
}
.ngdialog-content {
    background-color: white !important;
    border-radius: 0 !important;
    form {
        div {
            margin-bottom: 10px;
            input {
                width: 100%;
            }
        }
        button {
            width: 100%;
        }
    }
}
.AddPaymentMethodModal {
    input {
        padding-left: 5px;
        padding-right: 5px;
    }
}
.CVCExpiration {
    @include outer-container;
    div {
        @include span-columns(6);
    }
}
.OnlyDefault {
    cursor: none;
}
.UserProfileTabs {
    position: relative;
    .clearfix:after,
    .clearfix:before {
        content: " ";
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
    > input,
    section {
        clear: both;
        padding-top: 10px;
        display: none;
    }
    > label {
        font-weight: 700;
        font-size: 18px;
        display: block;
        float: left;
        width: (100%/3);
        padding: 1em;
        color: #757575;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        background: #f0f0f0;
    }
    #tab1:checked ~ #content,
    #tab2:checked ~ #content,
    #tab3:checked ~ #content,
    #tab4:checked ~ #content {
        display: block;
    }
    .userprofile-tab-content h3 {
        text-align: center;
    }
    [id^="tab"]:checked + label {
        background: #fff;
        box-shadow: inset 0 3px $primary-color;
    }
    [id^="tab"]:checked + label .fa {
        color: $primary-color;
    }
    label .fa {
        font-size: 1.3em;
        margin: 0 0.4em 0 0;
    }
    /*Media query*/
    @media only screen and (max-width: 930px) {
        label span {
            font-size: 14px;
        }
        label .fa {
            font-size: 14px;
        }
    }
    @media only screen and (max-width: 768px) {
        label span {
            display: none;
        }
        label .fa {
            font-size: 16px;
        }
    }
}
.remodal.AddNewPaymentMethodModal {
    max-width: 500px;
    h2 {
        color: $primary-color;
    }
}
.AddPaymentMethodForm {
    .NameOnCardSection {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        margin-bottom: 10px;
        label {
            flex: 1;
            font-size: 0.7em;
            font-weight: bold;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: lighten($primary-color, 25%);
        }
        input {
            width: 100%;
            height: 53px;
            flex: 1;
            padding: 10px;
            border: 1px solid #d9d9d9;
            background: transparent;
            color: $primary-color;
            font-weight: 300;
            font-size: 18px;
            &:focus {
                outline: none;
                border: 1px solid $primary-color;
            }
        }
    }
    .CardNumberSection {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        margin-bottom: 10px;
        label {
            flex: 1;
            font-size: 0.7em;
            font-weight: bold;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: lighten($primary-color, 25%);
        }
        input {
            width: 100%;
            height: 53px;
            flex: 1;
            padding: 10px;
            border: 1px solid #d9d9d9;
            background: transparent;
            color: $primary-color;
            font-weight: 300;
            font-size: 18px;
            &:focus {
                outline: none;
                border: 1px solid $primary-color;
            }
        }
    }
    .CVCExpirationSection {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        position: relative;
        div:first-of-type {
            margin-right: 5px;
        }
        div:last-of-type {
            margin-left: 5px;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            label {
                font-size: 0.7em;
                font-weight: bold;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: lighten($primary-color, 25%);
            }
            input {
                width: 100%;
                height: 53px;
                flex: 1;
                padding: 10px;
                border: 1px solid #d9d9d9;
                background: transparent;
                color: $primary-color;
                font-weight: 300;
                font-size: 18px;
                &:focus {
                    outline: none;
                    border: 1px solid $primary-color;
                }
            }
        }
    }
}
#error {
    color: $third-color;
    font-weight: bold;
}
#AddPaymentSubmitButton {
    margin-top: 15px;
    color: white;
    height: 53px;
    width: 50%;
    background-color: $primary-color;
    border: none;
    &:hover {
        background-color: darken($primary-color,5%);
    }
    &:active {
        background-color: darken($primary-color,15%);
    }
}
.remodal.ReplaceItemModal {
    max-width: 900px !important;
}
.ReplaceOrderItemSection {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .ReplaceOrderItem {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        border: 2px solid $fourth-color;
        padding: 10px;
        margin: 10px;
        .ReplaceOrderItemImageName {
            flex: 1 1 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
                height: 100%;
                max-width: 100%;
                max-height: 100%;
            }
        }
        .MarkedForReplacement {
            opacity: 1;
        }
        .NotMarkedForReplacement {
            opacity: 0.3;
        }
        .SuccessOrderRightSection {
            flex: 1 1 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $fourth-color;
            .SuccessText {
                font-size: 20px;
            }
        }
        .ReplaceOrderRightSection {
            flex: 1 1 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            form {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .Inputs {
                    height: 200px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .Left {
                        margin-right: 5px;
                        .Quantity {
                            margin-top: 12px;
                            display: flex;
                            flex-direction: row;
                            border: 1px solid rgb(235,235,235);
                            justify-content: space-between;
                            height: 55px;
                            font-size: 30px;
                            width: 257px;
                            margin-bottom: 10px;
                            input {
                                flex: 1 1 (100%/3);
                                width: 86px;
                                border: none;
                                text-align: center;
                                margin: 0;
                                padding: auto;
                                font-size: 30px;
                                line-height: 55px;
                            }
                            button {
                                flex: 1 1 (100%/3);
                                height: 53px;
                                border: none;
                                background: none;
                                outline: none;
                                &:hover:enabled {
                                    background-color: rgb(235,235,235);
                                }
                                &:disabled {
                                    cursor: no-drop;
                                }
                            }
                            .left {
                                border-right: 1px solid rgb(235,235,235);
                            }
                            .right {
                                border-left: 1px solid rgb(235,235,235);
                            }
                        }
                        .SelectCategory {
                            margin-bottom: 10px;
                            border: 1px solid rgb(235,235,235);
                            select {
                                border: none;
                                height: 55px;
                                cursor: pointer;
                                outline: none;
                                option {}
                            }
                        }
                        .RefundOrReplaceSection {
                            border: 1px solid rgb(235,235,235);
                            padding: 5px;
                            > div {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-around;
                                .radio {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    label {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        input {
                                            margin-bottom: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .Right {
                        margin-left: 5px;
                        .CommentArea {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            margin-bottom: 10px;
                            label {
                                flex: 1;
                                font-size: 0.7em;
                                font-weight: bold;
                                letter-spacing: 1px;
                                text-transform: uppercase;
                                color: $fourth-color;
                            }
                            .commenterror > textarea {
                                font-style: "Roboto", sans-serif;
                                font-size: 16px;
                                resize: none;
                                height: 182px;
                                width: 300px;
                                border: 1px solid $third-color;
                            }
                            textarea {
                                font-style: "Roboto", sans-serif;
                                font-size: 16px;
                                resize: none;
                                height: 182px;
                                width: 300px;
                                border: 1px solid #ebebeb;
                                outline-color: $fourth-color;
                            }
                        }
                    }
                    .error {
                        border: 1px solid $third-color !important;
                    }
                }
                .ReplacementExchangeSection {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 350px;
                    flex: 1 1 auto;
                    button:first-of-type {
                        margin-right: 5px;
                    }
                    button:last-of-type {
                        margin-left: 5px;
                    }
                    button {
                        font-size: 16px;
                        color: white;
                        height: 53px;
                        background-color: $primary-color;
                        border: none;
                        &:hover:enabled {
                            background-color: darken($primary-color,5%);
                        }
                        &:active:enabled {
                            background-color: darken($primary-color,15%);
                        }
                        &:disabled {
                            background-color: lighten($primary-color,15%);
                            border: 2px solid $primary-color;
                            cursor: default;
                        }
                    }
                }
                .RequestReplacementButtonSection {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    button {
                        color: white;
                        height: 53px;
                        width: 50%;
                        background-color: $third-color;
                        border: none;
                        &:hover {
                            background-color: darken($third-color,5%);
                        }
                        &:active {
                            background-color: darken($third-color,15%);
                        }
                    }
                }
            }
        }
    }
}
.RequestReplacementButton {
    color: white;
    height: 53px;
    background-color: $third-color;
    border: none;
    margin-bottom: 10px;
    &:hover:enabled {
        background-color: darken($third-color,5%);
    }
    &:active:enabled {
        background-color: darken($third-color,15%);
    }
    &:disabled {
        opacity: 0.3;
        cursor: default;
    }
}
.ReplacementResponseText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 10px;
    textarea {
        resize: vertical;
    }
}
.AddNewAddressSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
        .form-group {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            label {
                font-size: 0.7em;
                font-weight: bold;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: lighten($primary-color, 25%);
            }
            input {
                width: 100%;
                height: 53px;
                flex: 1;
                padding: 10px;
                border: 1px solid #d9d9d9;
                background: transparent;
                color: $primary-color;
                font-weight: 300;
                font-size: 18px;
                &:focus {
                    outline: none;
                    border: 1px solid $primary-color;
                }
            }
        }
    }
    .FirstNameLastName {
        div:first-of-type {
            margin-right: 5px;
        }
        div:last-of-type {
            margin-left: 5px;
        }
    }
    .CityStateZipcode {
        div:first-of-type {
            margin-right: 10px;
        }
        div:last-of-type {
            margin-left: 10px;
        }
    }
    button {
        margin-top: 15px;
        color: white;
        height: 53px;
        width: 50%;
        background-color: $primary-color;
        border: none;
        &:hover {
            background-color: darken($primary-color,5%);
        }
        &:active {
            background-color: darken($primary-color,15%);
        }
    }
}
.QuestContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .TwitterQuest {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
        height: 300px;
        margin-bottom: 30px;
        .TwitterQuestIcon {
            flex: 1 1 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 10vw;
            background-color: rgba(255,215,0,.7);
            color: #00aced;
            i {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .Inactive {
            background-color: rgb(240,240,240);
        }
        .TwitterQuestContent {
            flex: 1 1 70%;
            display: flex;
            flex-direction: column;
            .QuestActiveSection {
                flex: 1;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 15px;
                .InformationSection {
                    flex: 1 1 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    color: $fourth-color;
                    border-right: 1px solid rgb(235,235,235);
                    .RequirementsSection {
                        display: flex;
                        flex-direction: column;
                        flex: 1 1 25%;
                        align-items: center;
                        .Title {
                            font-size: 22px;
                            font-weight: bold;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            border-bottom: 1px solid rgb(150,150,150);
                        }
                        .Content {
                            font-size: 14px;
                            margin-top: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    .InstructionsSection {
                        flex: 1 1 50%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .Title {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            font-size: 22px;
                            font-weight: bold;
                            border-bottom: 1px solid rgb(150,150,150);
                        }
                        .Content {
                            font-size: 14px;
                            margin-top: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            ul {
                                padding: 0;
                                margin: 0;
                            }
                        }
                    }
                    .RewardsSection {
                        flex: 1 1 25%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .Title {
                            font-size: 22px;
                            font-weight: bold;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            border-bottom: 1px solid rgb(150,150,150);
                        }
                        .Content {
                            font-size: 18px;
                            margin-top: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
                .TurnInSection {
                    flex: 1 1 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    #TwitterQuestForm {
                        width: 377px;
                        .TwitterHandleInputLabel {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            label {
                                flex: 1;
                                font-size: 0.7em;
                                font-weight: bold;
                                letter-spacing: 1px;
                                text-transform: uppercase;
                                color: lighten($primary-color, 25%);
                            }
                            input {
                                text-align: center;
                                width: 100%;
                                height: 53px;
                                flex: 1;
                                padding: 10px;
                                border: 1px solid #d9d9d9;
                                background: transparent;
                                color: $primary-color;
                                font-weight: 300;
                                font-size: 18px;
                                &:focus {
                                    outline: none;
                                    border: 1px solid $primary-color;
                                }
                            }
                        }
                        .TwitterSubmitButton {
                            margin-top: 10px;
                            color: white;
                            height: 53px;
                            flex: 1;
                            width: 100%;
                            background-color: $third-color;
                            border: none;
                            font-size: 18px;
                            &:hover:enabled {
                                background-color: darken($third-color,5%);
                            }
                            &:active:enabled {
                                background-color: darken($third-color,15%);
                            }
                            &:disabled {
                                opacity: 0.3;
                                cursor: default;
                            }
                        }
                        #error {
                            font-size: 25px;
                            margin-top: 15px;
                            text-align: center;
                        }
                    }
                }
            }
            .TwitterQuestSuccessSection {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .TitleRewardSection {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .Title {
                        color: $fourth-color;
                        font-size: 40px;
                    }
                    .Reward {
                        font-size: 80px;
                        font-weight: bold;
                        color: $primary-color;
                    }
                }
            }
            .QuestInactiveSection {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: $fourth-color;
                .Title {
                    font-size: 25px;
                }
                .Value {
                    font-size: 45px;
                    font-weight: bold;
                    color: $third-color;
                }
            }
        }
    }
    .FacebookQuest {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
        height: 300px;
        margin-bottom: 30px;
        .FacebookQuestIcon {
            flex: 1 1 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 10vw;
            background-color: rgba(255,215,0,.7);
            color: #3b5998;
            i {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .Inactive {
            background-color: rgb(240,240,240);
            color: white;
        }
        .FacebookQuestContent {
            flex: 1 1 70%;
            display: flex;
            flex-direction: column;
            .QuestActiveSection {
                flex: 1;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 15px;
                .InformationSection {
                    flex: 1 1 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    color: $fourth-color;
                    border-right: 1px solid rgb(235,235,235);
                    .RequirementsSection {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        align-items: center;
                        .Title {
                            font-size: 20px;
                            font-weight: bold;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            border-bottom: 1px solid rgb(150,150,150);
                        }
                        .Content {
                            font-size: 15px;
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    .InstructionsSection {
                        padding-right: 10px;
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .Title {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            font-size: 22px;
                            font-weight: bold;
                            border-bottom: 1px solid rgb(150,150,150);
                        }
                        .Content {
                            font-size: 15px;
                            margin-top: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            > div:last-of-type {
                                margin-top: 5px;
                            }
                        }
                    }
                    .RewardsSection {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .Title {
                            font-size: 22px;
                            font-weight: bold;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            border-bottom: 1px solid rgb(150,150,150);
                        }
                        .Content {
                            font-size: 18px;
                            margin-top: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
                .TurnInSection {
                    flex: 1 1 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    #FacebookQuestForm {
                        width: 377px;
                        .FacebookHandleInputLabel {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            label {
                                flex: 1;
                                font-size: 0.7em;
                                font-weight: bold;
                                letter-spacing: 1px;
                                text-transform: uppercase;
                                color: lighten($primary-color, 25%);
                            }
                            input {
                                text-align: center;
                                width: 100%;
                                height: 53px;
                                flex: 1;
                                padding: 10px;
                                border: 1px solid #d9d9d9;
                                background: transparent;
                                color: $primary-color;
                                font-weight: 300;
                                font-size: 18px;
                                &:focus {
                                    outline: none;
                                    border: 1px solid $primary-color;
                                }
                            }
                        }
                        .FacebookSubmitButton {
                            margin-top: 10px;
                            color: white;
                            height: 53px;
                            flex: 1;
                            width: 100%;
                            background-color: $third-color;
                            border: none;
                            font-size: 18px;
                            &:hover:enabled {
                                background-color: darken($third-color,5%);
                            }
                            &:active:enabled {
                                background-color: darken($third-color,15%);
                            }
                            &:disabled {
                                opacity: 0.3;
                                cursor: default;
                            }
                        }
                        #error {
                            font-size: 25px;
                            margin-top: 15px;
                            text-align: center;
                        }
                    }
                }
            }
            .QuestInactiveSection {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: $fourth-color;
                .Title {
                    font-size: 25px;
                }
                .Value {
                    font-size: 45px;
                    font-weight: bold;
                    color: $third-color;
                    text-align: center;
                }
                .PreviousTokenReward {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    .Title {
                        font-size: 20px;
                    }
                    .Value {
                        font-size: 25px;
                        color: gold;
                    }
                }
            }
            .FacebookQuestSuccessSection {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .TitleRewardSection {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .Title {
                        color: $fourth-color;
                        font-size: 60px;
                    }
                    .Reward {
                        font-size: 40px;
                        font-weight: bold;
                        color: $primary-color;
                    }
                }
            }
        }
    }
    .ReferralQuest {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
        height: 300px;
        margin-bottom: 30px;
        .ReferralQuestIcon {
            flex: 1 1 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(255,215,0,.7);
            color: $fifth-color;
            img {
              height:250px;
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .ReferralQuestContent {
            flex: 1 1 70%;
            display: flex;
            flex-direction: column;
            .QuestActiveSection {
                flex: 1;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 15px;
                .InformationSection {
                    flex: 1 1 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: $fourth-color;
                    border-right: 1px solid rgb(235,235,235);
                    padding-right: 10px;
                    .RequirementsSection {
                        display: flex;
                        flex-direction: column;
                        flex: 1 1 25%;
                        align-items: center;
                        .Title {
                            font-size: 22px;
                            font-weight: bold;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            border-bottom: 1px solid rgb(150,150,150);
                        }
                        .Content {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    .InstructionsSection {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .Title {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            font-size: 22px;
                            font-weight: bold;
                            border-bottom: 1px solid rgb(150,150,150);
                        }
                        .Content {
                            margin-top: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            ul {
                                padding: 0;
                                margin: 0;
                            }
                        }
                    }
                    .RewardsSection {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .Title {
                            font-size: 22px;
                            font-weight: bold;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            border-bottom: 1px solid rgb(150,150,150);
                        }
                        .Content {
                            font-size: 18px;
                            margin-top: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
                .TurnInSection {
                    flex: 1 1 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .ReferralLinkSection {
                        width: 377px;
                        display: flex;
                        flex-direction: column;
                        label {
                            flex: 1;
                            font-size: 0.7em;
                            font-weight: bold;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            color: lighten($primary-color, 25%);
                        }
                        input {
                            text-align: center;
                            width: 100%;
                            height: 53px;
                            flex: 1;
                            padding: 10px;
                            border: 1px solid #d9d9d9;
                            background: transparent;
                            color: $primary-color;
                            font-weight: 300;
                            font-size: 18px;
                            &:focus {
                                outline: none;
                                border: 1px solid $primary-color;
                            }
                        }
                        .ReferralCopyButton {
                            color: white;
                            height: 53px;
                            width: 125px;
                            width: 100%;
                            background-color: $third-color;
                            border: none;
                            font-size: 18px;
                            margin-top: 10px;
                            &:hover:enabled {
                                background-color: darken($third-color,5%);
                            }
                            &:active:enabled {
                                background-color: darken($third-color,15%);
                            }
                            &:disabled {
                                opacity: 0.3;
                                cursor: default;
                            }
                        }
                    }
                }
            }
        }
    }
}
.ReplacementReturnPolicySection {
  border-top:1px solid #d9d9d9;
  margin-bottom:5px;
    .ContentSection {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .Left {
            flex: 1 1 50%;
            .LesserTitle {
                font-weight: bold;

            }
        }
        .Right {
            flex: 1 1 50%;
            display:flex;
            flex-direction: column;
            text-align: justify;
        }
    }
}
