<template name="AddToCartResult">
    <div class="AddToCartResultSection">
      {{#if AddedCartItem}}
        <div class="AddedCartItem">
          <div class="SuccessSection">
            <i class="fa fa-check" aria-hidden="true"></i>
          </div>
            <div class="Image">
                <img src="{{AddedCartItem.Item.Main_Image}}" />
            </div>
            <div class="AddedCartItemRightSection">

              {{#with AddedCartItem.Item}}
                <div class="AddedCartItemName" style="font-size:{{ItemFormatSize}}">

                    {{AddedCartItem.Item.Name}}
                </div>
                                  {{/with}}
                <div class="ItemQuantity">
                  <div class="Text">
                    Quantity
                  </div>
                  <div class="Value">

                  </div>
                    {{AddedCartItem.Quantity}}
                </div>
                <div class="ItemPrice">
                  <div class="Text">
                    Price
                  </div>
                  <div class="Value">
                    <img src="/TokenManyFront.svg" /><span>{{AddedCartItemTotalCost Item=AddedCartItem}}</span>
                  </div>

                </div>
            </div>
        </div>
        {{/if}}
        <div class="ContinueShoppingSection">
            <a href="/">
                <button>
                    Continue Shopping
                </button>
            </a>
        </div>
        <div class="ViewCartSection">
            <a href="/Cart"><h1>View Cart</h1></a>
        </div>


    </div>
</template>
