<template name="Cart">
    <div class="CartSection">
        {{#if Template.subscriptionsReady}} {{#if CartInformation}}
        <div class="CartItemSection">
            <div class="CartItemSectionBanner">
                Cart
            </div>

            <div class="CartItemList">
                {{#if CheckoutButtonDisabled}}
                <div class="CartItemListInfoGraphic">
                    <div class="Text">
                        Place Items In Cart To Checkout.
                    </div>
                    <div class="Icon">
                        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                    </div>
                </div>
                {{/if}} {{#each CartInformation}} {{#if CartOrReserve}}
                <div class="{{IsWonCompetition IsItemWonFromCompetition=this.WonFromCompetition}}">
                    {{#if WonFromCompetition}}
                    <div class="Triangle">
                        <img src="Crown.svg" />
                    </div>
                    {{/if}}
                    <div class="Image">
                        <img src="{{Item.Main_Image}}" />
                    </div>

                    <div class="CartItemInformation">
                        <div class="CartItemInformationNameDeleteDelivery">
                            <div class="ItemName">{{Item.Name}}</div>
                            <div>
                                <a class="RemoveFromCart" href="" name="{{Item._id}}" role="button">Delete</a>
                            </div>

                        </div>
                        <div class="CartItemInformationPrice">
                            {{#if Discount}}
                            <div class="Initial">
                              <span>{{Item.SellingPrice}}</span>
                            </div>
                            <div class="Discount">
                              <span>- {{Discount}}</span>
                            </div>
                            <div class="Final">
                                <img src="/TokenManyFront.svg" /><span>{{ItemTotal}}</span>
                            </div>
                            {{else}}
                            <div class="Initial">
                                <img src="/TokenManyFront.svg" /><span>{{Item.SellingPrice}}</span>
                            </div>

                            {{/if}}
                        </div>
                        <div class="CartItemInformationQuantity">
                            {{#if WonFromCompetition}} {{#if WonFromCompetitionExpirationDate}}
                            <div class="WonFromCompetitionCountdown">
                                <div class="Title">
                                    Expires In :&nbsp;
                                </div>

                                <div class="Timer">
                                    {{WonFromCompetitionItemCountdown CompetitionTimer=WonFromCompetitionExpirationDate}}
                                </div>
                            </div>
                            {{/if}} {{else}}
                            <div class="Quantity">
                                <button class="DecreaseQuantity">
                                    <i class="fa fa-minus fa-2x"></i>
                                </button>
                                <div>{{Quantity}}</div>
                                <button class="IncreaseQuantity">
                                    <i class="fa fa-plus fa-2x"></i>
                                </button>
                            </div>

                            {{/if}}
                            <div>
                                <a href="" class="MoveToReserve">Move to Reserve</a>
                            </div>
                        </div>
                    </div>

                </div>
                {{/if}} {{/each}}
            </div>

            <div class="CartItemSectionBanner">
                Reserve
            </div>

            <div class="CartItemList">
                {{#each CartInformation}} {{#unless CartOrReserve}}
                <div class="{{IsWonCompetition IsItemWonFromCompetition=this.WonFromCompetition}}">
                    {{#if WonFromCompetition}}
                    <div class="Triangle">
                        <img src="Crown.svg" />
                    </div>
                    {{/if}}
                    <div class="Image">
                        <img src="{{Item.Main_Image}}" />
                    </div>

                    <div class="CartItemInformation">
                        <div class="CartItemInformationNameDeleteDelivery">
                            <div class="ItemName">{{Item.Name}}</div>
                            <div>
                                <a class="RemoveFromCart" href="" name="{{Item._id}}" role="button">Delete</a>
                            </div>

                        </div>
                        <div class="CartItemInformationPrice">
                            {{#if Discount}}
                            <div class="Initial">
                              <span>{{Item.SellingPrice}}</span>
                            </div>
                            <div class="Discount">
                              <span>- {{Discount}}</span>
                            </div>
                            <div class="Final">
                                <img src="/TokenManyFront.svg" /><span>{{ItemTotal}}</span>
                            </div>
                            {{else}}
                            <div class="Initial">
                                <img src="/TokenManyFront.svg" /><span>{{Item.SellingPrice}}</span>
                            </div>

                            {{/if}}
                        </div>
                        <div class="CartItemInformationQuantity">
                            {{#if WonFromCompetition}} {{#if WonFromCompetitionExpirationDate}}
                            <div class="WonFromCompetitionCountdown">
                                <div class="Title">
                                    Expires In :&nbsp;
                                </div>

                                <div class="Timer">
                                    {{WonFromCompetitionItemCountdown CompetitionTimer=WonFromCompetitionExpirationDate}}
                                </div>
                            </div>
                            {{/if}} {{else}}
                            <div class="Quantity">
                                <button class="DecreaseQuantity">
                                    <i class="fa fa-minus fa-2x"></i>
                                </button>
                                <div>{{Quantity}}</div>
                                <button class="IncreaseQuantity">
                                    <i class="fa fa-plus fa-2x"></i>
                                </button>
                            </div>
                            {{/if}}
                            <div>
                                <a href="" class="MoveToCart">Move to Cart</a>
                            </div>
                        </div>
                    </div>

                </div>
                {{/unless}} {{/each}}

            </div>

        </div>
        <div class="CartOrderSummary">
            <div ng-show="cartItems.length > 0">
                <div class="CartOrderSummaryBanner">
                    Order Summary
                </div>
                <div class="CartOrderSummaryInformation">
                    <div class="Merchandise">
                        <div class="Text">Merchandise ({{MerchandiseCount}}) : </div>
                        <div class='Value'><img src="/TokenManyFront.svg" /> {{Subtotal}}</div>
                    </div>
                    <div class="ShippingSection">
                        <div class="ShippingToken">
                            <i class="fa fa-truck fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="Text">
                            Free Shipping!
                        </div>

                    </div>
                    <div class="SubtotalSection">
                        <div class="Text">
                            <strong>Subtotal:</strong>
                        </div>
                        <div class="Value">
                            <img src="/TokenManyFront.svg" /><strong>{{Subtotal}}</strong>
                        </div>

                    </div>
                    <button class="ProceedToCheckoutButton" id="ProceedToCheckoutButton" disabled={{CheckoutButtonDisabled}}>Proceed To Checkout</button>
                </div>

            </div>

        </div>
        {{else}}
        <div class="EmptyCartSection">
            <div class="EmptyCartText">Your cart is empty!</div>
            <div class="EmptyCartPictureContainer">
                <i class="fa fa-cart-plus EmptyCartPicture" aria-hidden="true"></i>
            </div>
            {{#if currentUser}}
            <a href="/">
                <button class="EmptyCartButton">Start Competing</button>
            </a>
            {{else}}
            <a href="Register">
                <button class="EmptyCartButton">Start Competing</button>
            </a>
            {{/if}}
        </div>
        {{/if}} {{/if}}

    </div>
</template>
