<table width="100%" height="100%" bgcolor="#F9F9F9" cellspacing="0" border="0" cellpadding="0">
    <tbody>
        <tr>
            <td valign="top">
                <table width="600" cellspacing="0" border="0" bgcolor="#F9F9F9" style="margin:0 auto;table-layout:fixed" align="center" cellpadding="0">
                    <tbody>
                        <tr>
                            <td colspan="5">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tbody style="background-color:#2c3e50;">
                                        <tr>
                                            <td colspan="3" height="30">

                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="200">

                                            </td>
                                            <td valign="bottom" align="center" width="200">
                                                <a href="https://www.spargain.com/" style="display:inline-block;margin-bottom:3px;text-align:center;font-size:40px;font-family:'Roboto', sans-serif; color:white; text-decoration:none;text-transform:uppercase;font-weight:bold;">Spargain</a>
                                            </td>
                                            <td width="200">

                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" height="20">

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="600" cellspacing="0" border="0" bgcolor="white" style="margin:0 auto;table-layout:fixed;font-family:'Roboto', sans-serif;color:rgba(0,0,0,.8);padding:15px;" align="center" cellpadding="0">
                    <tbody>
                        <tr>
                            <td colspan="4" valign="top">
                                <h1>Order Tracking Information</h1>
                            </td>

                        </tr>
                        <tr>
                            <td colspan="4" valign="top" style="font-size:18px;color:#e04e4b">
                                Hello {{FirstName}} {{LastName}},
                            </td>

                        </tr>
                        <tr>
                            <td colspan="4" height="15">

                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" valign="top" style="font-size:16px;">
                                Your order has been shipped. Below is a link for tracking your package along with the items you ordered.
                            </td>
                        </tr>
                        <tbody style="font-size:18px;">
                            <tr>
                                <td colspan="4" height="30">

                                </td>
                            </tr>
                            <tr>
                              <td colspan="1" height="60">

                              </td>
                              <td colspan="2" align="center">
                              <a href="{{TrackingUrl}}" style="text-decoration:none;line-height:60px;"><div style="height:60px;width:100%;background-color:#e04e4b;border:none;font-size:23px;color:white;outline:none;">Track Package</div></a>
                            </td>
                            <td colspan="1" height="60">

                            </td>
                            </tr>
                            <tr>
                                <td colspan="4" height="30">

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding:10px;vertical-align:top;border-right:1px solid black;text-align:center">
                                    <p style="text-decoration:underline;">
                                        Order Id :
                                    </p>
                                    <p>
                                        {{OrderId}}
                                    </p>
                                    <p style="text-decoration:underline;">
                                        Order Placed Date :
                                    </p>
                                    <p>
                                      {{OrderPlacedDate}}
                                    </p>
                                </td>
                                <td colspan="2" style="padding:10px;vertical-align:top;text-align:center">
                                    <p style="text-decoration:underline;">
                                        Ship To:
                                    </p>
                                    <p style="margin:0;">
                                        <strong>{{ShippingInformation.FirstName}}</strong> <strong>{{ShippingInformation.LastName}}</strong>
                                        <p style="margin:0;">
                                          {{ShippingInformation.Address}}
                                        </p>
                                        <p style="margin:0;">
                                          {{ShippingInformation.City}}, {{ShippingInformation.State}} {{ShippingInformation.Zipcode}}
                                        </p>
                                    </p>

                                </td>
                            </tr>
                        </tbody>

                          {{#each Items}}
                        <tr style="font-size:18px;">
                            <td colspan="2">
                              <img src="{{Item.Main_Image}}" width="275" height="275"/>

                            </td>
                            <td colspan="2">
                              <p style="text-align:center;margin:5px;">
                                Quantity : {{Quantity}}
                              </p>
                            </td>
                        </tr>
                            {{/each}}

                    </tbody>
                </table>
                <table width="600" cellspacing="0" border="0" bgcolor="#F9F9F9" style="margin:0 auto;table-layout:fixed;font-family:'Roboto', sans-serif;" align="center" cellpadding="0">
                    <tbody>
                        <tr>
                            <td colspan="5">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tbody style="background-color:#2c3e50;color:#F9F9F9">

                                        <tr>
                                            <td colspan="3" valign="top" style="padding:15px;font-size:12px;">
                                                By placing your order, you agree to Spargain’s Privacy Notice and Conditions of Use. Unless otherwise noted, items sold by Spargain.com LLC are subject to sales tax in select states in accordance with the applicable laws of that state. If your order contains
                                                one or more items from a seller other than Amazon.com LLC , it may be subject to state and local sales tax, depending upon the seller's business policies and the location of their operations. Learn more
                                                about tax and seller information. This email was sent from a notification-only address that cannot accept incoming email. Please do not reply to this message.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
