<table width="100%" height="100%" bgcolor="#F9F9F9" cellspacing="0" border="0" cellpadding="0">
    <tbody>
        <tr>
            <td valign="top">
                <table width="600" cellspacing="0" border="0" bgcolor="#F9F9F9" style="margin:0 auto;table-layout:fixed" align="center" cellpadding="0">
                    <tbody>
                        <tr>
                            <td colspan="5">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tbody style="background-color:#2c3e50;">
                                        <tr>
                                            <td colspan="3" height="30">

                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="200">

                                            </td>
                                            <td valign="bottom" align="center" width="200">
                                                <a href="https://www.spargain.com/" style="display:inline-block;margin-bottom:3px;text-align:center;font-size:40px;font-family:'Roboto', sans-serif; color:white; text-decoration:none;text-transform:uppercase;font-weight:bold;">Spargain</a>
                                            </td>
                                            <td width="200">

                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" height="20">

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="600" cellspacing="0" border="0" bgcolor="white" style="margin:0 auto;table-layout:fixed;font-family:'Roboto', sans-serif;color:rgba(0,0,0,.8);padding:15px;" align="center" cellpadding="0">
                    <tbody>
                        <tr>
                            <td colspan="4" valign="top">
                                <h1>Refund Request</h1>
                            </td>

                        </tr>
                        <tr>
                            <td colspan="4" valign="top" style="font-size:18px;color:#e04e4b">
                                Hello {{FirstName}} {{LastName}},
                            </td>

                        </tr>
                        <tr>
                            <td colspan="4" height="15">

                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" valign="top" style="font-size:16px;">
                              <p>
                                We just wanted to inform you that we&#39;ve received your request to refund your {{Item.Name}} and we&#39;re currently in the process of reviewing the request and will send you a follow-up email within one business day entailing the next steps needed to be taken by you
                                to handle your request.
                                <p>
                                  Thanks, Spargain
                                </p>
                              </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" height="30">

                            </td>
                        </tr>
                        <tr style="font-size:18px;">
                            <td colspan="2">
                                <img src="{{Item.Main_Image}}" width="275" height="275" />
                            </td>
                            <td colspan="2">
                              <p style="text-align:center;margin:5px;">
                                  Name : {{Item.Name}}
                              </p>
                                <p style="text-align:center;margin:5px;">
                                    Quantity : {{Quantity}}
                                </p>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <table width="600" cellspacing="0" border="0" bgcolor="#F9F9F9" style="margin:0 auto;table-layout:fixed;font-family:'Roboto', sans-serif;" align="center" cellpadding="0">
                    <tbody>
                        <tr>
                            <td colspan="5">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tbody style="background-color:#2c3e50;color:#F9F9F9">

                                        <tr>
                                            <td colspan="3" valign="top" style="padding:15px;font-size:12px;">
                                                By placing your order, you agree to Spargain’s Privacy Notice and Conditions of Use. Unless otherwise noted, items sold by Spargain.com LLC are subject to sales tax in select states in accordance with the applicable laws of that state. This email was
                                                sent from a notification-only address that cannot accept incoming email. Please do not reply to this message.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
